.cards > ul {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards .cards-card-body {
  margin: 16px;
  position: relative;
}

.cards.cell-reporter h3 {
  font-family: var(--ff-proxima-xbold);
}

.cards .cards-card-body > h2:first-of-type,
.cards .cards-card-body > h3:first-of-type {
  margin-top: 0;
}

.cards.stacked-image-text {
  margin-top: 50px;
  font-size: 15px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-image picture {
  display: block;
}

.cards > ul > li {
  background-color: var(--background-color);
  border: 1px solid var(--highlight-background-color);
}

.cards.borderless li {
  border: 0;
}

.cards.cell-reporter {
  margin-bottom: 50px;
}

.cards.cell-reporter ul {
  column-gap: 0;
}

.cards.cell-reporter .cards-card-wrapper {
  height: 100%;
}

.cards.cell-reporter .cards-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards.cell-reporter .cards-card-body > p.button-container:last-child {
  /* put at the end of flex */
  margin-top: auto;
}

.cards.slim > ul {
  margin-top: 90px;
  margin-bottom: 50px;
  grid-gap: 20px;
}

.cards.slim li {
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
}

.cards.slim .cards-card-wrapper {
  display: grid;
  grid-template-columns: 74px 1fr;
  padding: 0 20px;
  height: 82px;
  align-items: center;
}

.cards.slim li > div > div {
  vertical-align: middle;
}

.cards.slim .cards-card-image {
  max-height: 70px;
  max-width: 74px;
  background-color: black;
}

.cards.slim .cards-card-body > h3 {
  font-size: 11px;
  margin: 0;
}

.cards.left-border li {
  border-left: 5px solid #008da9;
}

.cards.strong p {
  font-weight: 600;
  font-size: 18px;
}

.cards.stacked-image-text .cards-card-wrapper {
  margin: auto;
  text-align: center;
}

.cards.max-width-150 > ul {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.cards.max-width-150 > ul > li > div {
  max-width: 150px;
}

.cards.max-width-200 > ul {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cards.max-width-200 > ul > li > div {
  max-width: 200px;
}

.cards > ul > li img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.cards.stacked-image-text img {
  aspect-ratio: auto;
  width: auto;
}

.cards.stacked-image-text li {
  display: flex;
  flex-flow: column;
  border: 0;
  background-color: initial;
}

.cards.stacked-image-text > ul > li > div > div:last-child {
  padding-top: 15px;
}

@media (min-width: 720px) {
  .cards.stacked-image-text > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cards.black a {
  color: black;
}

.cards.green a {
  color: #6eb43f;
}

.cards.gallery ul > li {
  border: none;
  position: relative;
}

.cards.hover .cards-card-wrapper {
  transition: transform ease-in-out 0.3s;
}

.cards.text-over-image ul {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards.text-over-image ul > li {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cards.text-over-image .cards-card-image {
  height: 100%;
  width: 100%;
}

.cards.text-over-image img {
  transition: transform ease-in-out 0.3s;
  width: 100%;
  height: 100%;
  max-height: 207px;
}

.cards.text-over-image img:hover {
  transform: scale(1.1);
}

.cards.text-over-image .cards-card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 10px;
  margin: 0;
}

.cards.text-over-image .cards-card-body a {
  color: var(--text-white);
}

/* ================ GALLERY BLOCK ================ */

.cards.gallery ul > li .cards-card-body {
  margin: 0;
  background: rgb(0 117 141 / 80%);
}

.cards.gallery ul > li .cards-card-body:not(:empty) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.cards.gallery.hover-gradient ul > li .cards-card-body {
  background: linear-gradient(
    to left,
    rgb(21 145 164 / 80%) 0,
    rgb(50 159 121 / 80%) 50%,
    rgb(97 178 73 / 80%) 100%
  );
}

.cards.gallery ul > li:hover .cards-card-body:not(:empty) {
  opacity: 1;
  visibility: visible;
}

.cards.image-only.block img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: 56.25%;
}

.cards.gallery ul > li .cards-card-image picture img {
  aspect-ratio: unset;
  display: block;
}

.cards.gallery ul > li .cards-card-body > a {
  font-family: var(--ff-proxima-regular);
  font-size: 30px;
  color: var(--text-white);
}

/* ================ GALLERY BLOCK ================ */

.cards.image-link {
  text-transform: uppercase;
}

.cards.image-link li:hover {
  cursor: pointer;
}

.cards.hover .cards-card-wrapper:hover {
  transform: scale(1.08);
}

.cards.image-only.block ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.cards.image-only.block li {
  text-align: center;
  border: transparent;
}

@media screen and (max-width: 766px) {
  .cards.image-only.block ul {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Display images in a single column */
  }

  .cards.image-only.block li {
    text-align: center;
    border: transparent;
  }

  .cards.image-only.block img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: 0;
  }
}
