.cards > ul {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards > ul > li {
  background-color: var(--background-color);
  border: 1px solid var(--highlight-background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

/* LEADERSHIP MODAL */
.leadership-modal,
.leadership-modal-overlay {
  opacity: 0;
  transition: all .3s ease-in-out;
  visibility: hidden;
}

.leadership-modal.show,
.leadership-modal-overlay.show {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.leadership-modal {
  left: 0;
  margin: auto;
  margin-top: -40px;
  max-width: 900px;
  position: fixed;
  right: 0;
  top: 20px;
  width: 100%;
  z-index: 9;
}

.leadership-modal-overlay {
  background-color: rgb(0 0 0/ 80%);
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.leadership-modal-close {
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  color: var(--text-white);
  display: block;
  font-size: 58px;
  height: 48px;
  line-height: 50px;
  margin: 0 auto 10px;
  margin-right: 0;
  min-width: auto;
  padding: 0;
  width: 48px;
}

.leadership-modal-close:hover {
  color: var(--text-white);
}

.leadership-modal-body {
  position: relative;
  overflow: hidden;
}

.leadership-modal-body .leadership-modal-carousel-content::-webkit-scrollbar {
  display: none;
}

.leadership-modal-body .leadership-modal-carousel-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--background-color);
  background-image: url('images/grey_molecules_tp.png'), url('images/grey_molecules.png');
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: 140% auto, 100% auto;
  padding: 86px 50px 70px;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.leadership-modal-body .cards-card-image img {
  height: auto;
  display: block;
  max-width: 100%;
  margin: auto;
}

.leadership-modal-body .cards-card-body,
.leadership-modal-body .cards-card-body p {
  font-size: var(--body-font-size-xs);
}

.leadership-modal-body .cards-card-body h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.leadership-modal-body .cards-card-body h4 {
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 5px;
}

.leadership-modal-body .cards-card-body p:first-child {
  margin-top: 0;
}

.leadership-modal-carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leadership-modal-footer a {
  color: var(--text-white);
  font-weight: bold;
  font-size: var(--body-font-size-s);
  display: flex;
  align-items: center;
}

.leadership-modal-pagination {
  background: var(--button-secondary-hover-color);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
}

.leadership-modal-pagination a {
  color: var(--text-white);
}

.leadership-modal-pagination .prev-item a > i {
  margin-right: 10px;
}

.leadership-modal-pagination .next-item a > i {
  margin-left: 10px;
}

.leadership-modal-carousel-nav > div {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.leadership-modal-carousel-nav > .prev-item {
  left: -40px;
}

.leadership-modal-carousel-nav > .next-item {
  right: -40px;
}

.leadership-modal-carousel-nav > div a {
  font-size: 36px;
}

/* LEADERSHIP MODAL */

.tranform-transition{
  transition: transform 1s ease;
}

/* ================ Leadership Block ================ */
.cards.leaders {
  padding: 50px 0;
}

.cards.leaders > ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
}

.cards.leaders > ul > li {
  background-color: var(--background-color);
  box-shadow: 0 2px 10px 3px #ccc;
  flex-basis: 100%;
  margin-bottom: 30px;
}

.cards.leaders > ul > li img {
  aspect-ratio: unset;
}

.cards.leaders > ul > li > div.cards-card-image,
.cards.leaders > ul > li > div.cards-card-body {
  cursor: pointer;
}

.cards.leaders > ul > li > div.cards-card-body {
  margin-bottom: 10px;
  margin-top: 20px;
}

.cards.leaders > ul > li > div.cards-card-body h2 {
  color: var(--text-color);
  font-family: var(--ff-proxima-regular);
  font-size: var(--heading-font-size-l);
  font-weight: bold;
  margin: 0 0 10px;
}

.cards.leaders > ul > li > div.cards-card-body h4 {
  color: var(--text-color);
  display: block;
  font-size: var(--heading-font-size-s);
  line-height: 18px;
  margin: 0;
}

.cards.leaders > ul > li > div.cards-card-body:last-child {
  display: none;
}

@media only screen and (min-width: 480px) {
  .cards.leaders > ul {
    margin: 0 -15px;
  }

  .cards.leaders > ul > li {
    flex-basis: calc(50% - 30px);
    margin: 0 15px 50px;
  }
}

@media only screen and (min-width: 768px) {

  .leadership-modal-wrapper,
  .leadership-modal-body {
    height: 500px;
  }

  .leadership-modal-wrapper {
    height: 500px;
    overflow-y: auto;
  }

  .leadership-modal-body .cards-card-image {
    float: right;
    margin-left: 50px;
    max-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .cards.leaders > ul > li {
    flex-basis: calc(33.33% - 30px);
  }
}

@media only screen and (max-width: 767px) {
  .leadership-modal {
    padding: 10px;
  }

  .leadership-modal-close {
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .leadership-modal-wrapper {
    height: 80vh;
    overflow-y: auto;
  }

  .leadership-modal-body .leadership-modal-carousel-content {
    padding: 50px 10px 40px;
  }

  .leadership-modal-body .cards-card-image {
    margin-bottom: 30px;
  }

  .leadership-modal-footer a {
    font-size: var(--body-font-size-xs);
  }

  .leadership-modal-footer .leadership-modal-pagination {
    width: calc(100% - 20px);
    padding: 20px 10px;
    margin: 0 10px;
  }

  .leadership-modal-footer .leadership-modal-carousel-nav {
    display: none;
  }
}

/* ================ Leadership Block ================ */