.service-support .image-list-wrapper {
  padding-top: 0;
  padding-bottom: 90px;
}

.section.columns-2 > .image-list-wrapper {
  margin-bottom: 45px;
}

main div.image-list-wrapper {
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-list.block {
  display: block;
  margin-bottom: 30px;
}

.image-list.features.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.image-list.block > div {
  display: flex;
  flex: 0 0 100%;
  gap: 18px;
}

.image-list.block img {
  width: 60px;
  height: 60px;
  max-width: unset;
}

.image-list.block h3 {
  font-family: var(--ff-proxima-xbold);
  margin: 0;
  padding: 15px 0 17px;
  font-weight: 100;
}

.image-list.block p {
  color: #292e32;
  line-height: 1.2;
  margin: 0;
}

.image-list.block .item + .item {
  margin-top: 45px;
}

.image-list.features.block .item {
  margin-top: 0;
}

.service-support.support-options .image-list.features.block .item {
  margin-top: 45px;
}

.service-support.support-options .image-list-wrapper h3 {
  font-size: 36px;
  font-weight: 300;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 0;
}

.service-support.support-options .button-container {
  margin-top: 50px;
}

@media only screen and (max-width: 991px) {
  .image-list.block > div {
    gap: 10px;
  }

  .image-list.block h3 {
    padding-top: 7px;
    font-size: 18px;
  }

  .image-list.block img {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .image-list.features.block {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 20px;
  }

  .image-list.block .item h3 {
    font-family: var(--ff-proxima-light);
    font-size: 16px;
    padding: 8px 0;
  }

  .image-list.block img {
    width: 28px;
    height: 28px;
  }

  .service-support.support-options .button-container {
    margin-top: 10px;
  }

  .service-support.support-options .image-list.features.block .item {
    margin-top: 10px;
  }

  .service-support.support-options .image-list.block img {
    width: 60px;
    height: 60px;
  }

  .service-support.support-options .image-list.block .item h3 {
    font-size: 24px;
  }
}
