.media-gallery .overlay {
  display: none;
  background-color: var(--color-black);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1050;
  transition: opacity 0.15s linear;
}

.media-gallery .overlay.open {
  display: block;
  z-index: 600;
}

.media-gallery .overlay-content {
  margin: 30px auto;
  width: var(--section-max-width);
  padding: 0 15px;
  position: relative;
  text-align: center;
}

.media-gallery .overlay-carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.media-gallery .overlay-carousel::-webkit-scrollbar {
  display: none;
}

.media-gallery .overlay-carousel > .section {
  width: 100%;
  padding-top: 0;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}

.media-gallery .overlay-carousel > .section p.picture {
  height: 100%;
}

main .media-gallery .overlay-carousel .section > div {
  width: unset;
}

.media-gallery .overlay-content h3 {
  font-size: 16px;
  color: var(--color-white);
  text-align: left;
  margin-top: 0;
  margin-bottom: 2rem;
}

.media-gallery .overlay-content img {
  max-height: 80vh;
  object-fit: none;
  object-position: center;
}

.media-gallery .overlay-content .icon-close-video img {
  width: 20px;
  height: 20px;
  max-height: unset;
}

.media-gallery .overlay-content a {
  position: absolute;
  background-color: unset;
  color: var(--color-white);
  font-size: 36px;
  border-radius: 50%;
  border: 1.5px solid var(--color-white);
}

.media-gallery .overlay-content a .icon {
  height: 38px;
  width: 38px;
  stroke-width: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.media-gallery a.close {
  top: 0;
  right: 0;
}

.media-gallery a.close svg {
  width: 55%;
  position: relative;
  bottom: 20%;
}

.media-gallery a.right,
.media-gallery a.left {
  top: 45vh;
  transform: translate(0, -50%);
  color: var(--color-white);
  height: auto;
}

.media-gallery a.right {
  right: -40px;
}

.media-gallery a.left {
  left: -40px;
}

main .media-gallery .overlay .overlay-carousel div.embed-wrapper {
  padding-top: 0;
}

main .media-gallery .overlay-carousel .embed {
  max-width: unset;
  padding: 0;
  margin-top: 0;
}

main .media-gallery .overlay-carousel .video-wrapper img {
  object-fit: contain;
}

main .media-gallery .overlay-carousel .video-wrapper,
main .media-gallery .overlay-carousel .video-wrapper .vidyard-lightbox-thumbnail {
  max-width: none !important;
}

@media (min-width: 768px) {
  .media-gallery a.close {
    right: -40px;
  }

  main .media-gallery .overlay-carousel .section .default-content-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  main .media-gallery .overlay-carousel .section .default-content-wrapper:has(p.picture) {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .media-gallery .overlay {
    color: var(--color-white);
  }

  .media-gallery .overlay a {
    padding: unset;
  }

  .media-gallery a.right {
    right: 0;
  }

  .media-gallery a.left {
    left: 0;
  }
}
