main .carousel.press-release-carousel {
  padding: 0;
}

main .press-carousel-item h4 {
  color: var(--color-tertiary);
  font-size: var(--font-size-h4);
  margin-bottom: 20px;
  font-weight: bold;
}

main .press-carousel-item h3 {
  padding-top: 0;
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--color-text-primary);
  font-family: var(--ff-proxima-regular);
}
