/* Cancel any margin below that the hero might have */
.hero-wrapper, .hero {
  margin-bottom: 0 !important;
}

.blog .section div.blog-filter-wrapper {
  width: 100%;
  max-width: unset;
  padding: 0;
  position: relative;
}

.blog-filter {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 100%;
  bottom: 90px;
}

.blog-filter .active-filter {
  display: none; /* mobile only */
  margin-bottom: 8px;
}

.blog-filter ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.blog-filter ul li:first-child a:before {
  content: "|";
  position: absolute;
  right: 0;
  top: -7px;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  min-height: 12px;
  color: #61a60e;
}

.blog-filter ul li a:link,
.blog-filter ul li a:visited {
  position: relative;
  display: block;
  padding: 16px 24px;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--text-white);
}

.blog-filter ul li a:hover,
.blog-filter ul li a:active,
.blog-filter ul li a.active {
  color: #61a60e;
}

@media only screen and (max-width: 991px) {
  .blog-filter {
    bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-filter {
    display: block;
    background-color: transparent;
    text-align: left;
    margin: 0 auto;
    width: 250px;
    padding-bottom: 0;
    position: static;
    margin-top: 32px;
  }

  .blog-filter .active-filter {
    display: block;
  }

  .blog-filter ul {
    display: block;
    padding: 0;
  }

  .blog-filter ul.hide {
    display: none;
  }

  .blog-filter ul li a:link,
  .blog-filter ul li a:visited,
  .blog-filter .active-filter span {
    color: #34393d;
    padding: 5px 0;
    text-align: left;
    text-transform: none;
    font-size: 15px;
    font-family: var(--ff-proxima-light);
  }

  .blog-filter ul li:first-child a:before {
    content: none;
  }

  .blog-filter .active-filter button {
    background-color: transparent;
    text-align: inherit;
    display: block;
    max-width: unset;
    padding: 0;
  }

  .blog-filter .active-filter .icon {
    display: block;
    height: 20px;
    width: 20px;
    float: right;
    padding: 0;
    transform: rotate(90deg);
    margin-left: 10px;
  }

  .blog-filter .active-filter .icon svg path {
    stroke-width: 15;
  }

  .blog-filter ul li a.active {
    font-weight: bold;
    font-family: var(--ff-proxima-regular);
  }
}

