/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
h1, h2, h3{font-family:"Klavika Regular","Helvetica Neue",Helvetica,Arial,sans-serif; color:#333;}
h1{font-size:2.25em;}
h2{font-size:2em; text-align:center; margin-bottom:1.09375em;}
h3{font-size:1.125em; margin-bottom:1.6666666em;}
.container::after{clear:both; content: " "; display: table;}
/**********************************MAIN**********************************/
html, body{height:100%; font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
body{background:#1d2528; text-align:center;}
a{text-decoration:none;}
#main-wrapper{max-width:1140px; margin:0 auto; text-align:left; background:#fff;}
.pull-left{float:left;}
.pull-right{float:right;}
img{max-width:100%;}
.fa {display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0);}

/**********************************HEADER**********************************/
#main-head{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; background:#1d2528;}
#top-head{float:right; margin-right:5em; height:2.75em;}
#top-head nav, #top-head nav a, #search-field, #search-field input, #search-field button{display:inline-block;}
#top-head nav{border-right:1px solid #666;}
#top-head nav a{color:#f7a11a; font-size:.6875em; line-height:4; padding:0 .8125em; border-left:1px solid #666;}
#search-field{padding-left:10px;}
#search-field input, #search-field button{height:1.5em; border:0; margin:0;}
#search-field input{width:12.5em; line-height:1.5em; background:#dbe3ea;}
#search-field button{width:27px; background:#2248b1 url(../img/icon-search-white.png) no-repeat center; margin-left:-3px;}
#search-field button, #logo{text-indent:-999px; overflow:hidden;}

#lower-head{clear:both; background:#fff; padding:1.75em 0; width:100%; display:table;}
#lower-head nav{font-size:.75em; display:-ms-flexbox; display:-webkit-flex; display:flex; 
-ms-box-orient:horizontal; -webkit-flex-direction:row; flex-direction:row;
-ms-box-pack:space-between; -webkit-justify-content:space-between; justify-content:space-between;
-ms-box-align:center; -webkit-align-items:center; align-items:center;}
#logo-container, .main-nav-menu, .main-nav-menu > li{display:inline-block; vertical-align:middle; position:relative;}
main-nav-menu > li{margin-left:-3px;}
#logo-container{padding-left:5em;}
#logo{width:12.5625em; height:2.8125em; background:url(../img/md-logo.svg) no-repeat; display:block; background-size:contain; margin-right:3.125em;}

.main-nav-menu a{color:#1d2528; padding:.7em; display:block;}
.main-nav-menu li{position:relative;}
.main-nav-menu li ul{display:none; position:absolute; z-index:3; background:#fff; margin-top:-2px; width:230px; padding:15px 0; border:2px solid #dbe3ea;}
.main-nav-menu > li > a{border-width:2px 2px 0; border-style:solid; border-color:#fff; position:relative;}
.main-nav-menu > li.expanded:hover > a{border-color:#dbe3ea; z-index:5; background:#fff;}
.main-nav-menu li:hover > ul{display:block;}
.main-nav-menu > li > ul > li:hover > a{background:#0065a4; color:#fff;}
.main-nav-menu li li{display:block; position:relative;}
.main-nav-menu li ul ul{left:100%; background:#0065a4; border:0; top:0; padding:0;}
.main-nav-menu li ul ul a{color:#fff;}
.main-nav-menu li ul ul li:hover > a{background:#02248b;}

.fa-bars::before {content: "\f0c9";}
#lower-head .menu-button-holder{display:none; vertical-align:middle; padding-right:10px; text-align:right;}
#lower-head .menu-button {position: relative; display:inline-block; padding:12px; background:#02778f; color:#fff;
cursor:pointer; border-radius:2px; font-size:1.375em; line-height:2.1818181818em; line-height:1;}

.touch-button{position: absolute; z-index: 1; top: 0; bottom:0; right: 0; width:54px;
display: inline-block; display:-ms-flexbox; display:-webkit-flex; display:flex; text-align: center; font-size: 18px;}
.touch-button:before{position:relative; top:10px; text-align:center; display:inline-block; margin:0 auto;}
.main-nav-menu>li>.touch-button{background:#e2e2e2;}
.main-nav-menu>li>ul>li>.touch-button{background:#006b7f;}
.main-nav-menu ul{transition:.5s ease-in-out max-height;}

.quote-button{color:#fff; background:#DE7C00; border-radius:15px; display:inline-block; line-height:4; padding:0 40px;  margin-right:30px;}

@media only screen and (max-width:1000px){
  #main-head{font-size:15px;}
  #logo{margin-right:1.5em;}  
}
@media only screen and (max-width:850px){
  #main-head{font-size:14px;}
  #logo{margin-right:0;}
}
@media only screen and (max-width:750px){
  #main-head{font-size:13px;}  
  .main-nav-menu a{padding:.7em .4em;}  
}
@media only screen and (max-width:667px){
  .buttons-container{display:none;}
  #main-head{font-size:19px;}
  #top-head, .main-nav-menu{display:none;}
  #logo-container{padding-left:10px;}
  #lower-head nav{display:block;}
  #lower-head .menu-button-holder{display:block; float:right;}
  .open-menu{display:block; margin:15px 10px 0; font-weight:bold; border:1px solid #ccc; border-bottom: none;}
  .main-nav-menu > li{margin-left:0; display:block; border-bottom:1px solid #ccc;}
  .main-nav-menu a, .main-nav-menu > li > a{padding:10px 54px 10px 10px; background:#f6f6f6; border:0; border-bottom:0;}
  .main-nav-menu li ul li{color:#fff;}
  .main-nav-menu li ul li a{color:inherit;}
  .main-nav-menu > li > ul > li > a{background:#004d5b; border-bottom:1px solid #006375;}
  .main-nav-menu li ul{display:block; max-height:0; position:relative; width:100%; border:0; overflow:hidden; padding:0; margin-top:0; z-index:2;}
  .main-nav-menu li ul ul{left:0;}
  .main-nav-menu ul.open{max-height:250em;} 
  .main-nav-menu>li>ul>li>ul>li>a{background:#006b7f; border-bottom:1px solid #00788e;}
  .main-nav-menu>li>ul>li>ul>li>.touch-button{background:#008198;}
  .main-nav-menu>li>ul>li>ul>li>ul>li>a{background:#008198; border-bottom:1px solid #008ea8;}
}
/**********************************FOOTER**********************************/
/* #footer {background:#ced4dc url(../img/moldev-circles.png) no-repeat 98.5% center; padding:2.5em 5em 2em; min-height:85px} */
#footer {background: #ced4dc; padding:2.5em 5em 2em;}
#footer .footer-menu ul{padding:0 0 2.5em;}
#footer .footer-menu li{margin:0 .75em; display:inline-block;}
#footer .footer-menu li:first-child{margin-left:0;}
#footer .footer-menu a, #footer .copyright{font-size:.875em;}
#footer .footer-menu a{color:#02248b;}

.social-menu li{margin: 0 0 0 17px; display:inline-block;}
#footer .social-menu{font-size:1.8em;}
#footer .social-menu a{color:#8f9fba;}
#footer .social-menu li:last-of-type{margin-right:0;}
@media only screen and (max-width:1000px){
  #footer{font-size:14px;}  
}
@media only screen and (max-width:850px){
  #footer{font-size:12px;}  
}
@media only screen and (max-width:750px){
  #footer{font-size:10px;}  
}
@media only screen and (max-width:540px){
  #footer{font-size:11px; background: #6A747D url(../img/moldev-circles.png) no-repeat center 90%; padding:2.5em 0 160px;}  
  #footer .footer-menu, #footer .social-menu, #footer .copyright{float:none;}
  #footer .footer-menu a, #footer .copyright{font-size:1em; color:#fff;}
  #footer .footer-menu a{line-height:2.5;}
  #footer .footer-menu li, #footer .copyright, #footer .social-menu{text-align:center;}
  #footer .social-menu{margin-bottom:2em;}
  #footer .footer-menu li{display:block; text-align:center; margin:0;} 
  #footer .copyright{display:block;}   
}
/**********************************SLIDES**********************************/
#slides{position:relative;}
#slide-intro{position:absolute; top:65px; left:0; width:100%; text-align:center; opacity:1; transition:linear .5s all;}
#slide-intro h1{color:#fff; margin-bottom:30px;}
#slide-intro a{display:inline-block; color:#0065a4; font-weight:bold; background:#fff; padding:17px 44px; border-radius:27px;}

#slide-container{transition:linear .5s all; max-height:700px;}
#slide-container img{display:inline-block;}
.slide{height:515px;}
.slide{background-repeat:no-repeat; background-position:center bottom; background-size:contain; display:none;}
.slide1{background-image:url(../img/slide1.jpg); background-color:#1877bd;}
.slide2{background-image:url(../img/slide2.jpg); background-color:#6ec5a4;}
.slide3{background-image:url(../img/slide3.jpg); background-color:#3d6d91;}
.slide4{background-image:url(../img/slide4.jpg); background-color:#f47d2b;}

#slides .intro-text{background:#0065a4; text-align:center; color:#fff; font-weight:bold; padding:40px 0 5px;}
#slides p{margin:0 auto 25px; max-width:750px; line-height:1.75;}
.open-quiz #slide-container{max-height:0;}
.open-quiz #slide-intro{opacity:0;}
@media only screen and (max-width:450px){
 .slide{height:360px;} 
 #slides h1{font-size:1.6875em;}
 #slide-intro a{font-size:.75em;}
 #slides .intro-text{display:none;} 
 
}
/**********************************QUIZ**********************************/
#quiz{background:#008da8; color:#fff; position:relative; width:100%; left:0; top:0; text-align:center; z-index:2; box-sizing:border-box; height:0; min-height:0; max-height:0; padding:0; overflow:hidden; 
transition:linear .5s all;}
#quiz.open{padding:4em 0 2.5em; min-height:515px; height:auto; max-height:700px; /*position:relative;*/}
#quiz h1, #quiz h3{color:#fff;}
#quiz h1{margin-bottom:.5em;}
#quiz h3{font-size:1.5em; margin-bottom:1em;}

progress{height:9px; max-width:325px; margin:0 auto 30px; border:0; display:block; border-radius:4px; background:#33a4b9;}
progress::-webkit-progress-bar{border-radius:4px; background:#33a4b9;}
progress::-moz-progress-bar{border-radius:4px; background:#fff;}
progress::-webkit-progress-value{border-radius:4px; background:#fff;}
progress::-ms-fill{border-radius:4px; background:#fff;}

.quiz-page{margin:0 auto; display:none; text-align:center;}
.quiz-page.current{display:inline-block;}
#quiz .buttons{position:absolute; bottom:2.5em; left:50%; margin-left:-350px; width:700px;}
#quiz #prev-quest{float:left;}
#quiz #next-quest{float:right;}

.quiz-page{position:relative; vertical-align:top; padding:0 10px;}
#quiz ul{display:inline-block; margin:10px auto 0; position:relative; z-index:2;}
#quiz ul.check-list{text-align:left;}
#quiz li{margin-bottom:.75em; position:relative;}
#quiz li:last-of-type{margin-bottom:0;}
#quiz li label{font-weight:bold; display:block;}
#quiz li input{visibility:hidden; position:absolute;}
#quiz .radio-list label{padding:17px 1.5em; border:2px solid #fff; border-radius:25px;}
#quiz li input[type="radio"]:checked + label{background:#fff; color:#008da8;}
.check-list label{line-height:27px; position:relative; vertical-align:middle; display:inline-block; padding-left:44px;}
.check-list label::before{border:2px solid #fff; content:'\00a0'; font-family:'FontAwesome'; text-align:center; line-height:23px; height:23px; width:23px; border-radius:4px; display:inline-block; position:absolute; left:0; top:0;}
.check-list :checked + label::before{content:'\f00c';}
#quiz .button{color:#0065a4; background:#fff; display:inline-block; line-height:54px; padding:0 2.125em; border-radius:25px; font-weight:bold;}
#quiz #new-search{font-size:.8em; line-height:40px; border-radius:20px; background:#dedede;}

#quiz-results{text-align:center; display:none;}
#result-spotlight{background:#4dafc2; padding:1em 0 .5em; margin-bottom: 70px;}
#result-spotlight .content{overflow:hidden; display:inline-block; margin:0 auto; padding:0 20px;}
#result-spotlight h3{font-size:1.625em;}
#result-spotlight  p{max-width:430px; font-weight:normal; margin:0;}
#result-spotlight .pic-holder, #result-spotlight .text{display:inline-block; vertical-align:middle;} 
#result-spotlight .pic-holder{max-width:36%;}
#result-spotlight .text{text-align:left; max-width:62%; background:none; padding:25px 0 0 30px; box-sizing:border-box;}
#quiz #quiz-cta{margin:0 auto; width:auto; padding:0 45px;}
#footer .row {display: flex;align-items: center;flex-direction: column;gap: 16px;}
@media only screen and (min-width:768px){
  #footer .row {justify-content: space-between;flex-direction: row;}
}
@media only screen and (max-width:800px){
  #result-spotlight p{line-height:1.5;}
}
@media only screen and (max-width:764px){
  #quiz .buttons{margin-left:0; width:auto; left:32px; right:32px;}
}
@media only screen and (max-width:540px){
  #quiz.open{min-height:615px; padding:2em 0 2em;}
  #quiz h3{font-size:1.125em;}
  #quiz #prev-quest, #quiz #next-quest{float:none; margin:0 8px;}
  #result-spotlight .pic-holder, #result-spotlight .text{display:block; max-width:100%;}
  #result-spotlight{background:none; padding:0; margin-bottom:120px;}
  #result-spotlight h3{font-size:1.4375em;}
  #result-spotlight .content{display:block; padding:0;}
  #result-spotlight .pic-holder{background:#4dafc2; padding:1em 1em 0;}
  #result-spotlight .text{text-align:center; padding-left:0;}  
  #quiz #new-search{margin-top:15px;}
}
@media only screen and (max-width:350px){
  #quiz .button{font-size:.875em;}
  #quiz #prev-quest, #quiz #next-quest{margin:0 5px;}
  #quiz #quiz-cta{padding:0 30px;}
}
@media only screen and (max-width:310px){
  #quiz .button{font-size:.75em;}
  #quiz .buttons{bottom:1.5em;}
}
/**********************************CASE STUDIES**********************************/
#case-studies{margin:0 auto 90px; max-width:960px; border-spacing:20px;}
#case-studies .studies{display:-ms-flexbox; display:-webkit-flex; display:flex; 
-ms-box-orient:horizontal; -webkit-flex-direction:row; flex-direction:row;}
.study{display:inline-block;  display:-ms-flexbox; display:-webkit-flex; display:flex; 
-ms-box-orient:vertical; -webkit-flex-direction:column; flex-direction:column;
-ms-box-pack:justify; -webkit-justify-content:space-between; justify-content:space-between;
vertical-align:top; position:relative; text-align:center; width:25%; margin:0 10px;}
.study:first-of-type{margin-left:0;}
.study:last-of-type{margin-right:0;}
.study img{text-align:center; display:inline-block; margin:40px auto 20px;}
.study p, .study h3, .study a{text-align:left;}
.study p, .study a, .vid p{font-size:.875em; line-height:1.6;}
.study p, .vid p{color:#595966;}
.study p{margin-bottom:2em;}

.study a{position:relative; bottom:0; left:0; border-top:1px solid #bdbcc1; padding:12px 0 0 18px; color:#02248b; display:block; width:100%; min-height:58px; box-sizing:border-box;}
.study a:before{content:''; border-left:10px solid #02248b; border-top:6px solid transparent; border-bottom:6px solid transparent; display:inline-block; position:absolute; left:0; top:18px;}
@media only screen and (max-width:900px){
  #case-studies, #watch-videos{padding:0 15px;}
  .study h3{font-size:.9375em;}
  .study p, .study a{font-size:.6875em;}
  .study a{padding-left:15px;}
}
@media only screen and (max-width:800px){
  .study h3{font-size:.875em;}  
  .study a{padding-left:15px;}
}
@media only screen and (max-width:667px){
  #case-studies .studies, .study{display:block;}
  .study, .study:first-of-type, .study:last-of-type{width:auto; margin:0 38px;}
  .study h3{font-size:1.5em;}
  .study p, .study a{font-size:.875em;}
  .study p{margin-bottom:1.5em;}
  .study a{position:relative;}
}
/**********************************VIDEOS**********************************/
#watch-videos{margin:0 auto 70px; max-width:960px;}
#videos-container{display:-ms-flexbox; display:-webkit-flex; display:flex; 
-ms-box-orient:horizontal; -webkit-flex-direction:row; flex-direction:row;}
.vid{display:inline-block; width:25%; margin:0 10px;}
.vid:first-of-type{margin-left:0;}
.vid:last-of-type{margin-right:0;}
.vid a, .vid a img{display:block;}
.vid a{font-size:.875em; color:#fff; position:relative; margin-bottom:25px;}
.vid .vidyard_wrapper{float:none;}
.vid a div, .vid .vidyard_wrapper div{height:10.714em; background:no-repeat center / cover;}
.vid #video1 div{background-image:url(../img/spectramax-abs-and-abs-plus-microplate-readers.jpg);}
.vid #video2 div{background-image:url(../img/vid-thumb2.jpg);}
.vid #video3 div{background-image:url(../img/spectramax-id5-multi-mode-microplate-reader.png);}
.vid #video4 div{background-image:url(../img/vid-thumb4.jpg);}
.vid a {padding-left:.421em; line-height:2; position:relative; vertical-align:middle; background:#02248b;}
.vid a .fa-play-circle{font-size:1.21em; line-height:1.654em; margin-right:.413em;}
.vid p{margin-bottom:3.93em;}

@media only screen and (max-width:800px){
  .vid a{font-size:.6875em;}
  .vid p{font-size:.875em;}  
}
@media only screen and (max-width:667px){
  #watch-videos h2{display:none;}
  #videos-container, .vid{display:block;}
  .vid, .vid:first-of-type, .vid:last-of-type{width:auto; margin:0 38px;}
  .vid a div{height:7.211em;}
  .vid h3{font-size:1.125em;}
  .vid p{font-size:.875em;}
  .vid a{font-size:1.1875em;}
}
/**********************************FONT**********************************/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/OpenSans-Regular.svg') format('svg'),
       url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold.svg') format('svg'),
       url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika Regular';
  src: url('../fonts/Klavika-Regular.eot');
  src: url('../fonts/Klavika-Regular.woff2') format('woff2'),
       url('../fonts/Klavika-Regular.woff') format('woff'),
       url('../fonts/Klavika-Regular.ttf') format('truetype'),
       url('../fonts/Klavika-Regular.ttf') format('truetype'),
       url('../fonts/Klavika-Regular.svg') format('svg'),
       url('../fonts/Klavika-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

