main .section .specifications-wrapper {
  padding-top: 0;
  margin-bottom: 50px;
}

.specifications .table-container.multiple-products {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (min-width: 991px) {
  .specifications .table-container.multiple-products {
    overflow-x: visible;
  }
}

.specifications .table-container::-webkit-scrollbar {
  display: none;
}

.specifications thead th {
  top: var(--stacked-height);
  position: sticky;
  z-index: 1;
  background-color: white;
}

.specifications .responsive-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.specifications .product-heading {
  box-shadow: 0 1px 10px rgba(0 0 0 / 20%);
  transition: all .3s;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.specifications .product-heading p {
  color: #34393d;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
}

.specifications .product-heading a {
  font-size: 14px;
  color: #008da9;
}

.specifications .responsive-table th {
  text-align: left;
  padding: 15px 15px 0;
  font-weight: 100;
}

.specifications .responsive-table td {
  padding: 15px;
  vertical-align: top;
  white-space: pre-line;
}

.specifications .responsive-table tbody tr:nth-child(even) {
  background: #e0e0e0;
}

.specifications .responsive-table tbody tr:nth-child(odd) {
  background: #f0f0f0;
}

.specifications .responsive-table tbody tr:first-child {
  background-color: var(--background-color);
}

.specifications .responsive-table th:first-child,
.specifications .responsive-table td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--background-color);
  z-index: 1;
  width: 380px;
}

.specifications .table-container.multiple-products thead th {
  z-index: 0;
}

/* Table with only one product */
.specifications .responsive-table th:last-child:nth-child(2) {
  padding: 0;
}

.specifications .multiple-products .responsive-table th:first-child {
  z-index: 1;
}

.section[aria-labelledby="specifications-options"] .default-content-wrapper:last-child .download-button {
  text-align: center;
}

.section[aria-labelledby="specifications-options"] .default-content-wrapper:last-child .download-button a {
  font-family: var(--ff-proxima-light);
  font-size: 36px;
  font-weight: 100;
  color: var(--text-color);
}

.section[aria-labelledby="specifications-options"] .default-content-wrapper:last-child .download-button img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

@media only screen and (max-width: 1199px) {
  .specifications .responsive-table th:first-child,
  .specifications .responsive-table td:first-child {
    width: 300px;
  }
}

@media only screen and (max-width: 991px) {
  .specifications .responsive-table th,
  .specifications .responsive-table td {
    width: 30vw;
  }

  .specifications .responsive-table th:first-child,
  .specifications .responsive-table td:first-child {
    width: 40vw;
  }
}

@media only screen and (max-width: 767px) {
  .specifications .responsive-table th,
  .specifications .responsive-table td {
    width: 50vw;
  }
}
