/* stylelint-disable no-descending-specificity */
.event main .section > div,
.event main .section div + .default-content-wrapper {
  padding-top: 0;
}

.event main .section .default-content-wrapper h2:only-child {
  font-size: var(--heading-font-size-xxl);
  font-family: var(--ff-proxima-regular);
  text-align: center;
}

.event main .section .default-content-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.event .event-title {
  font-size: 36px;
}

.event .find-out-more .fa-external-link {
  color: inherit;
}

.event main .event-container p:last-of-type {
  padding-bottom: 100px;
}

.event main .section .product-carousel-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .event main .section .product-carousel .carousel-item .card-thumb {
    height: 200px;
  }
}
