.event main .section .default-content-wrapper {
  padding: 0 15px;
}

.event .event-title {
  font-size: 36px;
}

.event .find-out-more {
  padding: 30px 0;
  margin-right: 8px;
}

.event main .event-container p:last-of-type {
  padding-bottom: 100px;
}

.event .cards ul {
  grid-gap: unset;
}

.event .cards ul li {
  display: grid;
  align-items: center;
  justify-items: center;
}

.event .product-title {
  font-size: 20px;
  margin: 80px 0 12px;
}

.event .cards ul li {
  margin: 20px 15px 40px;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  transition: all .3s;
}

.event .item-thumb {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.event .item-details h3 {
  font-size: 24px;
  margin: 0 0 10px;
  color: var(--link-hover-color);
}

.event .item-details p {
  font-size: 14px;
  margin: 0 0 10px;
}

.event .item-details a {
  font-size: 18px;
}

.event .item-details a i {
  padding-left: 5px;
}
