/* stylelint-disable no-descending-specificity */
.event main .section .default-content-wrapper h2:only-child {
  font-size: var(--font-size-h1);
  font-family: var(--ff-proxima-regular);
  text-align: center;
}

.event .event-title {
  font-size: 36px;
}

.event main .section .product-carousel-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .event main .section .product-carousel .carousel-item .card-thumb {
    height: 200px;
  }
}
