.product-carousel .carousel-item .card-thumb {
  flex-shrink: 0;
  height: 230px;
}

.product-carousel .carousel-item .card-thumb a {
  display: block;
  height: 100%;
}

.product-carousel .carousel-item .card-thumb picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-carousel .carousel-item .card-thumb img {
  height: unset;
  width: unset;
  min-height: unset;
}

.product-carousel .carousel-item .card .card-caption .button-container {
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.product-carousel .carousel-item .card-caption .compare-button {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  main .carousel.product-carousel {
    width: 100%;
    padding: 0 10%;
  }

  .carousel.product-carousel .carousel-item {
    width: 100%;
  }

  .product-carousel-wrapper .carousel-nav-button {
    display: none;
  }

  .carousel.product-carousel .card-thumb,
  .carousel.product-carousel .card-thumb img {
    height: 150px;
    min-height: 150px;
  }
}
