.get-in-touch > div {
  display: flex;
  flex-wrap: wrap;
}

.get-in-touch > div > div p {
  margin-top: 0;
}

.get-in-touch > div > div h5 {
  font-size: var(--heading-font-size-l);
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 0;
}

.get-in-touch > div > div iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  background: #fff;
  padding-top: 10px;
}

.get-in-touch .hubspot-iframe-wrapper iframe {
  height: 760px;
  margin-bottom: -20px;
}

.get-in-touch .hubspot-iframe-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.get-in-touch .hubspot-success {
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding: 30px;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

.get-in-touch .hubspot-success img {
  display: block;
  margin: 0 auto 15px;
  width: 45%;
}

.get-in-touch .hubspot-success strong {
  font-weight: 700;
  font-family: var(--ff-proxima-regular);
}

.get-in-touch > div > div:last-child iframe {
  height: 450px;
}

.get-in-touch > div > div .fa {
  color: var(--text-green);
  font-size: 36px;
  padding-right: 20px;
  float: left;
  line-height: 25px;
}

.get-in-touch > div > div:last-child a {
  color: inherit;
}

/* contact form */
.get-in-touch .show-label .hs-form .form-columns-0,
.get-in-touch .show-label .hs-form .form-columns-1,
.get-in-touch .show-label .hs-form .form-columns-2 {
  width: 100%;
  max-width: 100%;
}

.get-in-touch .show-label .hs-form .hs-submit .actions {
  max-width: 100%;
  margin-top: 20px;
}

.get-in-touch .show-label .hs-form .hs-form-field label:not(.hs-error-msg) {
  color: #34393d;
  display: block;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 5px 0 3px;
  text-transform: uppercase;
  font-weight: normal;
}

.get-in-touch .show-label .hs-form .hs-error-msgs.inputs-list,
.get-in-touch .show-label .hs-form .hs-form-field label.hs-error-msg {
  margin-top: 10px;
}


.get-in-touch .show-label .hs-form .privacy {
  color: #666;
}

.get-in-touch .show-label .hs-form .hs-form-field .hs-input {
  background: #f0f1f2;
  height: 40px;
  padding: 4px 3px 3px 5px;
  box-shadow: none;
  border: none;
  font: inherit;
}

.get-in-touch .show-label .hs-form .hs-form-field .hs-input.hs-fieldtype-textarea {
  height: 70px;
}

@media only screen and (min-width: 992px) {
  .get-in-touch > div > div {
    flex-basis: 50%;
  }

  .get-in-touch > div > div:last-child {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .get-in-touch > div {
    flex-direction: column;
  }

  .get-in-touch .hubspot-iframe-wrapper iframe {
    height: 800px;
  }

  .get-in-touch > div > div:last-child iframe {
    height: 400px;
  }
}

@media only screen and (max-width: 480px) {
  .get-in-touch .hubspot-success {
    padding: 10px;
    margin-bottom: 20px;
  }

  .get-in-touch .hubspot-iframe-wrapper iframe {
    height: 870px;
  }
}
