.get-in-touch > div {
  display: flex;
  flex-wrap: wrap;
}

.get-in-touch > div > div p {
  margin-top: 0;
}

.get-in-touch > div > div h5 {
  font-size: var(--heading-font-size-l);
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 0;
}

.get-in-touch > div > div iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  background: #fff;
  padding-top: 10px;
}

.get-in-touch .hubspot-iframe-wrapper iframe {
  height: 760px;
  margin-bottom: -20px;
}

.get-in-touch .hubspot-iframe-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.get-in-touch .hubspot-success {
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ddd;
}

.get-in-touch .hubspot-success img {
  display: block;
  margin: 0 auto 15px;
  width: 45%;
}

.get-in-touch .hubspot-success strong {
  font-weight: 700;
  font-family: var(--ff-proxima-regular);
}

.get-in-touch > div > div:last-child iframe {
  height: 450px;
}

.get-in-touch > div > div .fa {
  color: var(--text-green);
  font-size: 36px;
  padding-right: 20px;
  float: left;
  line-height: 25px;
}

.get-in-touch > div > div a {
  color: inherit;
}

@media only screen and (min-width: 992px) {
  .get-in-touch > div > div {
    flex-basis: 50%;
  }

  .get-in-touch > div > div:last-child {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .get-in-touch > div {
    flex-direction: column;
  }

  .get-in-touch .hubspot-iframe-wrapper iframe {
    height: 800px;
  }
  
  .get-in-touch > div > div:last-child iframe {
    height: 400px;
  }
}

@media only screen and (max-width: 480px) {
  .get-in-touch .hubspot-success {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .get-in-touch .hubspot-iframe-wrapper iframe {
    height: 870px;
  }
}