main .carousel-wrapper.applications-carousel-wrapper {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

main .carousel.applications-carousel {
  width: 88%;
  padding: 0;
}

.applications-carousel .carousel-item {
  display: block;
  width: 33.33%;
  padding: 20px 15px;
  margin: 0;
}

.app-carousel-thumb {
  width: 100%;
  height: 190px;
}

.carousel.applications-carousel .app-carousel-item {
  height: 100%;
  background: #fff;
  margin: 0;
  position: relative;
  box-shadow: 0 1px 15px rgba(0 0 0 / 40%);
  transition: all .3s;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.carousel.applications-carousel .app-carousel-item:hover {
  z-index: 1;
  transform: scale(1.07);
  transition: all .3s;
}

.app-carousel-item img {
  width: 100%;
  height: 100%;
}

.app-carousel-details {
  padding: 15px 15px 0;
  flex-grow: 2;
}

.app-carousel-details p {
  font-size: 14px;
  color: #34393d;
}

.app-carousel-details h3 {
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 0;
  color: #34393d;
}

.app-carousel-actions {
  width: 100%;
  padding: 15px;
  margin-top: 0;
  line-height: 24px;
  align-items: flex-end;
}

.app-carousel-actions a {
  color: #008ca8;
}

.app-carousel-actions a .fa {
  margin-left: 5px;
}

main .app-carousel-actions p.button-container {
  margin-top: 0;
}

@media only screen and (max-width: 1200px) {
  main .carousel-wrapper.applications-carousel-wrapper {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  main .carousel-wrapper.applications-carousel-wrapper {
    width: 100%;
  }

  .applications-carousel .carousel-item {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .applications-carousel .carousel-item {
    width: 100%;
  }

  main .carousel.applications-carousel {
    width: 100%;
  }

  main .applications-carousel-wrapper .carousel-nav-button {
    display: none;
  }
}
