main .carousel-wrapper.applications-carousel-wrapper {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

main .carousel.applications-carousel {
  width: 88%;
  padding: 0;
}

.applications-carousel .carousel-item {
  display: block;
  width: 33.33%;
  padding: 20px 15px;
  margin: 0;
}

.carousel.applications-carousel .card-thumb {
  width: 100%;
  height: 190px;
}

.app-carousel-details {
  padding: 15px 15px 0;
  flex-grow: 2;
}

.carousel.applications-carousel .card-caption h3 {
  font-size: var(--heading-font-size-l);
  margin-bottom: 8px;
  margin-top: 0;
  color: var(--text-color);
  min-height: auto;
}

.carousel.applications-carousel .card-description {
  font-size: var(--body-font-size-xs);
  color: var(--text-color);
}

.carousel.applications-carousel .card .button-container {
  width: 100%;
  margin-top: auto;
  line-height: 24px;
  text-align: left;
}

.carousel.applications-carousel .card .button-container a {
  color: #008ca8;
}

.carousel.applications-carousel .card .button-container a .fa {
  margin-left: 5px;
}

@media only screen and (max-width: 1200px) {
  main .carousel-wrapper.applications-carousel-wrapper {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  main .carousel-wrapper.applications-carousel-wrapper {
    width: 100%;
  }

  .applications-carousel .carousel-item {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .applications-carousel .carousel-item {
    width: 100%;
  }

  main .carousel.applications-carousel {
    width: 100%;
  }

  main .applications-carousel-wrapper .carousel-nav-button {
    display: none;
  }
}
