.quote-wrapper {
  padding: 0 15px;
  margin: 40px auto ;
}

.quote {
  position: relative;
  max-width: 587px;
  text-align: center;
  margin: 30px auto;
}

.quote .quote-text,
.quote .quote-author {
  color: var(--text-green);
  font-size: 20px;
}

.quote .quote-text {
  padding: 30px 0;
  position: relative;
}

.quote .quote-author {
  margin-top: 26px;
}

.quote .quote-text::before,
.quote .quote-text::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: var(--blog-gradient);
  height: 4px;
  width: 366px;
}

.quote .quote-text::before {
  top: 0;
  bottom: auto;
}

.quote .quote-text::after {
  top: auto;
  bottom: 0;
}

.customer-breakthrough .quote {
  font-family: var(--ff-proxima-xbold);
  max-width: 100%;
  margin: 0;
  text-align: left;
}

.customer-breakthrough .quote .quote-text {
  font-size: var(--body-font-size-l);
  color: var(--link-hover-color);
}

.customer-breakthrough .quote .quote-text::before,
.customer-breakthrough .quote .quote-text::after {
  display: none;
}

.customer-breakthrough .quote .quote-author {
  font-size: var(--body-font-size-xs);
  padding: 10px 0;
}

.quote.author-text-right .quote-author {
  margin-right: 50px;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .quote .quote-text::before,
  .quote .quote-text::after {
    width: 100%;
  }

  .quote.author-text-right .quote-author {
    margin-right: 10px;
  }
}