.blog .quote-wrapper {
  padding: 0 15px;
  margin: 40px auto ;
}

.blog .quote {
  position: relative;
  max-width: 587px;
  text-align: center;
  margin: 0 auto;
}

.blog .quote .quote-text,
.blog .quote .quote-author {
  color: #61b249;
  font-size: 20px;
}

.blog .quote .quote-text {
  padding: 30px 0;
  position: relative;
}

.blog .quote .quote-author {
  margin-top: 26px;
}

.blog .quote .quote-text::before,
.blog .quote .quote-text::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: linear-gradient(90deg,rgba(21 145 164 / 100%) 0,rgba(46 159 121 / 100%) 50%,rgba(97 178 73 / 100%) 100%);
  height: 4px;
  width: 366px;
}

.blog .quote .quote-text::before {
  top: 0;
  bottom: auto;
}

.blog .quote .quote-text::after {
  top: auto;
  bottom: 0;
}

.customer-breakthrough .quote {
  color: var(--link-hover-color);
  font-family: var(--ff-proxima-xbold);
  margin-top: 20px;
  margin-bottom: 20px;
}

.customer-breakthrough .quote .quote-text {
  font-size: var(--body-font-size-l);
}

.customer-breakthrough .quote .quote-author {
  font-size: var(--body-font-size-xs);
  padding: 10px 0;
}

.quote.author-text-right .quote-author {
  margin-right: 50px;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .blog .quote .quote-text::before,
  .blog .quote .quote-text::after {
    width: 100%;
  }

  .quote.author-text-right .quote-author {
    margin-right: 10px;
  }
}