main .citations-container {
  --heading-font-size-l: 36px;

  padding: 90px 50px 50px;
}

main .citations-container .default-content-wrapper h3,
.product main .citations-container .default-content-wrapper h3 {
  margin: 25px 0 10px;
  font-family: var(--ff-proxima-regular);
}

main .citations-container > .default-content-wrapper {
  padding: 0;
  width: auto;
  padding-left: 90px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  main .citations-container > .default-content-wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  main .citations-container > .default-content-wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  main .citations-container > .default-content-wrapper{
    width: 1170px;
  }
}

.citations .citation {
  margin-bottom: 40px;
}

.citations .citation-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
}

.citations .citation-info {
  display: inline-block;
  width: 91%;
  margin-left: 20px;
}

.citations .citation-short-description > p:nth-child(1),
.citations .citation-long-description > p:nth-child(1),
.citations .citation-long-description > p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.citations .citation-header > p:nth-child(1),
.citations .citation-header > p:nth-child(2) {
  font-size: 18px;
  margin: 0;
}

.product main .citations-container .default-content-wrapper h3 ~ p {
  margin: 1em 0;
}

.citation em,
.citations-container em {
  color: var(--text-green);
  font-style: normal;
}

.citations .citation-header h2,
.product .section.tabs .citations .citation-header h2 {
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 22px;
}

.citations h2 > a {
  color: inherit;
}

.citations .view-change {
  position: relative;
  text-align: right;
  float: right;
  color: var(--link-color);
  cursor: pointer;
}

.citations .view-more {
  margin-top: 5px;
}

.citations .view-less {
  margin-top: -50px;
}

.citations .citation-long-description {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.citations .citation-long-description.show {
  max-height: 1000px; /* adjust the value to a large enough value to accommodate the content */
}

@media (max-width: 767px) {
  .citations .citation-header > p:nth-child(1),
  .citations .citation-header > p:nth-child(2) {
    font-size: 14px;
    margin: 0;
  }

  .citations .citation-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
  }

  .citations .citation-info {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
  }
}