.customer-breakthrough main .default-content-wrapper {
  margin-bottom: 50px;
}

.customer-breakthrough main .hero-container + .section > .default-content-wrapper:first-child {
  margin: 0 auto;
}

.customer-breakthrough main .default-content-wrapper p + h2 {
  margin-top: 50px;
}
