.newsroom main .section h2 {
  --heading-font-size-xl: 42px;

  color: var(--button-bg-color);
  font-family: var(--ff-proxima-regular);
}

.newsroom main .section > div,
.newsroom main .section .embed {
  max-width: 100%;
  padding: 0;
}

.newsroom main .section.left > div {
  padding-right: 15px;
}

.newsroom main .section.right .default-content-wrapper:last-of-type {
  background-color: var(--overlay-background-color);
  padding: 15px;
  margin-top: 50px;
}

.newsroom main .section .default-content-wrapper:last-of-type h2 {
  color: var(--text-color);
  font-size: 32px;
  padding-top: 0;
}

.newsroom main .section .default-content-wrapper:last-of-type .button-container {
  text-align: right;
  font-size: 18px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .newsroom main .section h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .newsroom main .section {
    --newsroom-section-width: 750px;
  }

  .newsroom main .section.left,
  .newsroom main .section.right {
    display: inline-block;
    vertical-align:top;
  }

  .newsroom main .section.left {
    width: calc(var(--newsroom-section-width) * 0.66);
    margin-left: calc((100vW / 2) - (var(--newsroom-section-width) / 2))
  }

  .newsroom main .section.right {
    width: calc(var(--newsroom-section-width) * 0.33);
  }
}
@media (min-width: 992px) {
  .newsroom main .section {
    --newsroom-section-width: 970px;
  }

  .newsroom main .section.hero-container .hero-inner .container {
    padding-bottom: 220px;
  }

  .newsroom main .section.hero-container .hero-inner .container.two-column {
    padding-bottom: 80px;
  }

  .newsroom main .section.hero-container .hero-inner .container.two-column > div:nth-child(1) {
    width: 35%;
  }

  .newsroom main .section.hero-container .hero-inner .container.two-column > div:nth-child(2) {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .newsroom main .section {
    --newsroom-section-width: 1170px;
  }
}

.newsroom main .section:not(.tabs, .wave.bluegreen) .default-content-wrapper h2 {
  padding-top: 50px;
}

.newsroom main .section .default-content-wrapper:last-of-type h2:first-of-type,
.newsroom main .left.latest-publications-container.latest-news-container{
  padding-top: 0;
}