/* stylelint-disable no-descending-specificity */
main .section > .columns-wrapper {
  margin-top: 20px;
}

.columns .columns-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.columns .columns-col {
  margin: 0;
}

.columns .columns-col > *:first-child {
  margin-top: 0;
}

.columns img {
  width: 100%;
}

.columns p.button-container {
  display: inline-block;
  margin-inline-end: 10px;
}

.columns ul + p.button-container {
  margin-inline-start: 40px;
}

.columns.center {
  text-align: center;
}

/* video */
.columns p.video-title {
  font-size: var(--font-size-body-m);
}

.columns .video-wrapper {
  margin-top: 0;
}

.columns.video-teaser h2 {
  font-size: 40px;
}

.columns.video-teaser .columns-col:not(:has(div.video-wrapper)) {
  background-color: var(--color-theme-gray);
  color: var(--color-white);
  margin-inline-start: 0;
  padding: 32px;
}

/* line */
.columns.line .columns-row {
  flex-wrap: wrap;
  padding: 40px 0;
}

.columns.line .columns-row::after {
  flex-wrap: wrap;
  content: "";
  width: 100%;
  padding-top: 50px;
  border-bottom: 2px solid var(--color-gray-250);
}

.columns.line h4 {
  font-size: 26px;
}

.columns.innovation img {
  width: 165px;
  height: 167px;
}

.columns .icon.icon-chevron-right-outline {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 0.125rem;
}

/* Bullet points */
.columns.bullet-points p {
  display: flex;
  margin-right: 2rem;
}

.columns.bullet-points ul {
  padding-inline-start: 20px;
}

.columns.bullet-points p.button-container a {
  font-weight: bold;
}

/* sitemap */
.columns.columns-sitemap h3 {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: var(--ff-proxima-light);
}

.columns.columns-sitemap h4 {
  font-family: var(--ff-proxima-regular);
  font-weight: bold;
  font-size: var(--fs-body-xl);
  text-transform: uppercase;
}

.columns.columns-sitemap h5 {
  font-weight: bold;
  font-size: var(--font-size-body-m);
}

.columns.columns-sitemap ul,
.columns.columns-sitemap h4 {
  margin: 0;
  padding: 0;
}

.columns.columns-sitemap ul {
  margin-bottom: 30px;
  color: var(--color-text-primary);
  margin-top: 4px;
}

.columns.columns-sitemap a,
.columns.columns-sitemap a .fa-external-link {
  color: inherit;
}

.columns.columns-sitemap a:hover {
  color: var(--color-link-hover);
}

.columns.columns-sitemap h4 + h4 {
  margin-top: 20px;
}

.columns.columns-sitemap h4 ~ h3 {
  margin-top: 40px;
}

.columns.columns-sitemap h4 ~ h5 {
  margin-top: 30px;
  margin-bottom: 4px;
  padding-inline-start: 20px;
}

.columns.columns-sitemap h5 + h4 {
  margin-top: 30px;
}

.columns.columns-sitemap h4 ~ ul {
  padding-inline-start: 40px;
}

.columns.columns-sitemap ul ul {
  padding-inline-start: 20px;
  list-style: disc;
  margin-bottom: 0;
}

/* contact */
.columns.contact {
  padding: 80px 0;
}

.columns.contact .columns-row .columns-col {
  background-color: var(--color-white);
  width: 100%;
}

.columns.contact .columns-col ul,
.columns.contact .columns-col ol {
  list-style: none;
  padding-inline-start: 0;
}

.columns.contact .columns-col p,
.columns.contact .columns-col ul li {
  font-size: var(--font-size-body-m);
}

.columns.contact .columns-col p,
.columns.contact .columns-col ul,
.columns.contact .columns-col ol {
  padding: 0 24px;
}

.columns.contact .columns-col h3 + ul,
.columns.contact .columns-col p + ul {
  padding-inline-start: 20px;
}

.columns.contact .columns-row h2 {
  background-color: var(--color-theme-gray-dark);
  color: var(--color-white);
  font-size: var(--font-size-h4);
  font-family: var(--ff-proxima-regular);
  font-weight: bold;
  margin: 0;
  padding: 16px 8px;
  text-align: center;
}

.columns.contact .columns-col > ul > li {
  margin-bottom: 16px;
  padding-top: 8px;
  position: relative;
  display: grid;
  grid-template-areas:
    "icon detail"
    "icon list";
  grid-template-columns: 56px calc(100% - 56px);
}

.columns.contact .columns-col ul li a {
  color: inherit;
  cursor: pointer;
}

.columns.contact .columns-col ul li .icon + strong {
  font-size: var(--font-size-h3);
}

.columns.contact .columns-col ul li button {
  background: none;
  padding: 0;
  color: inherit;
  width: auto;
  max-width: 100%;
  min-width: unset;
}

.columns.contact .columns-col ul li button:hover,
.columns.contact .columns-col ul li a:hover {
  color: var(--color-tertiary);
}

.columns.contact .columns-col ul > li > i {
  color: var(--color-tertiary);
  font-size: var(--font-size-h3);
}

.columns.contact .columns-col ul li::after,
.columns.contact .columns-col ul ul::before {
  clear: both;
  content: "";
  display: table;
}

.columns.contact .columns-col ul > li:not(:last-child)::after {
  content: "";
  background-color: var(--color-gray-400);
  bottom: -10px;
  display: block;
  height: 1px;
  position: absolute;
  inset-inline-end: 0;
  width: calc(100% - 56px);
}

.columns.contact .columns-col ul li .icon,
.columns.contact .columns-col ul > li > i {
  grid-area: icon;
  padding-inline-end: 20px;
}

.columns.contact .columns-col ul li .icon svg,
.columns.contact .columns-col ul li img {
  display: inline-block;
  height: 32px;
  object-fit: contain;
  vertical-align: top;
}

.columns.contact .columns-col ul li span.icon-spectra img,
.columns.contact .columns-col ul li span.icon-spectra svg {
  height: 40px;
}

.columns.contact .columns-col ul li span.icon:not(.icon-spectra) svg {
  fill: var(--color-tertiary);
}

.columns.contact .columns-col ul li span.icon-spectra ~ a {
  font-size: var(--font-size-body-l);
  font-weight: bold;
}

.columns.contact .columns-col ul ul {
  list-style: disc;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-inline-start: 20px;
  padding-inline-end: 0;
}

/* Columns 3 cols */
.columns.columns-3-cols {
  margin-inline-start: -15px;
  margin-inline-end: -15px;
}

.columns.columns-3-cols .columns-row:not(:only-child) {
  padding: 0 15px 20px;
}

.columns.columns-3-cols .columns-row:not(:only-child) .columns-col {
  margin-inline-start: 0;
}

/* Light and dark gray */
.columns.light-and-dark-grey .columns-row .columns-col {
  margin-inline-start: unset;
  padding: 40px;
}

.columns.light-and-dark-grey .columns-col p {
  font-size: 20px;
}

.columns.light-and-dark-grey .columns-row:nth-child(odd) .columns-col:nth-child(odd),
.columns.light-and-dark-grey .columns-row:nth-child(even) .columns-col:nth-child(even) {
  background-color: var(--color-gray-500);
  color: var(--color-white);
}

.columns.light-and-dark-grey .columns-row:nth-child(odd) .columns-col:nth-child(odd) .button-container a,
.columns.light-and-dark-grey .columns-row:nth-child(even) .columns-col:nth-child(even) .button-container a {
  border-color: var(--color-white);
  color: var(--color-white);
}

.columns.light-and-dark-grey .columns-row:nth-child(odd) .columns-col:nth-child(odd) .button-container a:hover,
.columns.light-and-dark-grey .columns-row:nth-child(even) .columns-col:nth-child(even) .button-container a:hover {
  color: var(--color-link-hover);
}

.columns.light-and-dark-grey .columns-row:nth-child(odd) .columns-col:nth-child(even),
.columns.light-and-dark-grey .columns-row:nth-child(even) .columns-col:nth-child(odd) {
  background-color: var(--color-gray-50);
}

.columns.light-and-dark-grey .columns-row:nth-child(odd) .columns-col:nth-child(even) > h3,
.columns.light-and-dark-grey .columns-row:nth-child(even) .columns-col:nth-child(odd) > h3 {
  color: var(--color-primary);
}

/* green separator */
.columns.green-separator .columns-row:not(:last-child) {
  margin-bottom: 45px;
}

.columns.green-separator .columns-col:last-child {
  padding-bottom: 45px;
  border-bottom: 1px solid var(--color-tertiary);
}

.columns.green-separator .columns-row:last-child .columns-col:last-child {
  border: none;
  padding-bottom: 0;
}

/* Heading Large */
.columns.heading-large .columns-col h3 {
  font-size: 36px;
  margin-bottom: 18px;
}

/* Collaboration */
.columns.collaboration .picture {
  justify-content: center;
  display: flex;
}

.columns.collaboration .columns-col h3 {
  font-size: var(--font-size-h3);
  color: var(--color-tertiary);
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}

.columns.collaboration .columns-col h4 {
  text-align: center;
}

.section .columns p:has(> .video-wrapper),
.section .columns p:has(> .video-wrapper) ~ p,
.section .columns .columns-col:has(> picture),
.section .columns p.picture,
.section .columns p.picture ~ p {
  text-align: center;
}

.section .columns.image-figure .columns-col:has(> picture) img,
.section .columns.image-figure p.picture img {
  max-width: 50%;
}

.section .columns.image-figure-large .columns-col:has(> picture) img,
.section .columns.image-figure-large p.picture img {
  max-width: 75%;
}

/* Large Numbers */
.columns.large-numbers {
  margin-top: 30px;
}

.columns.large-numbers picture {
  display: block;
}

.columns.large-numbers img {
  width: unset;
  max-width: 100%;
  margin-bottom: 7px;
}

.columns.large-numbers .columns-col:last-child {
  text-align: center;
}

.columns.large-numbers .columns-col:first-child > p:first-child {
  display: block;
  font-size: 42px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  padding: 2px 16px;
  width: 60px;
  text-align: center;
  margin-bottom: 18px;
}

.columns[class*="layout-"] .columns-row {
  gap: 30px;
}

.columns.layout-25-75 p {
  margin-top: 0;
  margin-bottom: 0;
}

.columns.layout-25-75 .columns-row:not(:last-child) {
  margin-bottom: 30px;
}

.service-support .columns-wrapper {
  padding-top: 0;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .columns .columns-row {
    flex-direction: unset;
    gap: unset;
  }

  .columns .columns-col {
    flex: 1;
    margin-inline-start: 32px;
  }

  .columns.columns-3-col .columns-row,
  .columns[class*="layout-"] .columns-row,
  .blog .columns .columns-row,
  .columns.contact .columns-row {
    align-items: unset;
  }

  .columns[class*="layout-"] .columns-row {
    display: grid;
    margin-inline-start: 0;
  }

  .columns[class*="layout-"] h3 {
    margin-top: 0;
  }

  .columns.layout-20-80 .columns-row {
    grid-template-columns: 20fr 80fr;
  }

  .columns.layout-33-66 .columns-row {
    grid-template-columns: 33fr 66fr;
  }

  .columns.layout-50-50 .columns-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .columns.layout-66-33 .columns-row {
    grid-template-columns: 66fr 33fr;
  }

  .columns.layout-25-75 .columns-row {
    grid-template-columns: 25fr 75fr;
  }

  .columns.layout-75-25 .columns-row {
    grid-template-columns: 75fr 25fr;
  }

  .columns.layout-40-60 .columns-row {
    grid-template-columns: 40fr 60fr;
  }

  .columns.layout-60-40 .columns-row {
    grid-template-columns: 60fr 40fr;
  }

  .columns[class*="layout-"] .columns-col {
    padding: 0;
    margin: 0;
  }

  .columns .columns-col:first-child {
    margin-inline-start: unset;
  }

  .columns.columns-3-cols .columns-row:not(:only-child),
  .columns.columns-3-cols .columns-row {
    flex-basis: 33.33%;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-bottom: 40px;
    flex-grow: 1;
  }

  .columns.columns-3-cols .columns-row:not(:only-child) .columns-col {
    padding-bottom: 0;
  }

  .columns.columns-3-cols.collaboration .columns-row:not(:only-child) {
    flex-basis: 25%;
    width: 25%;
  }

  .columns.contact .columns-col p,
  .columns.contact .columns-col ul,
  .columns.contact .columns-col ol {
    padding: 0 15px;
  }

  .columns-3-cols {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .columns.contact .columns-row h2 {
    font-size: var(--font-size-h3);
  }

  .columns.contact .columns-col p,
  .columns.contact .columns-col ul,
  .columns.contact .columns-col ol {
    padding: 0 48px;
  }

  .columns.contact .columns-col ul li .icon,
  .columns.contact .columns-col ul > li > i {
    width: 56px;
  }

  .columns.contact .columns-col ul > li > i {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .columns.contact {
    padding: 0;
  }

  .columns p.button-container {
    display: block;
    text-align: center;
    margin: 15px 0 0;
  }

  .columns.mobile-swap .columns-row,
  .columns-row.image-right {
    flex-direction: column-reverse;
  }

  .columns.line .columns-row {
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0 0 25px;
  }

  .columns.line .columns-row::after {
    padding-top: 30px;
  }

  .columns.light-and-dark-grey .columns-col {
    padding: 20px;
  }

  .columns.light-and-dark-grey .columns-row:nth-child(even) > .columns-col:first-child {
    order: 2;
  }

  .columns.contact .columns-col ul > li:not(:last-child)::after {
    width: calc(100% - 44px);
  }
}

.section .columns.collaboration .columns-col h3 strong {
  font-family: inherit;
}

.product:not(.category) .section.columns-container .columns.columns-2-cols .columns-col h3 {
  font-size: 24px;
  margin-bottom: 0;
}

.product .section.columns-container .columns.columns-2-cols .columns-col ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline-start: 20px;
}

.product .section.columns-container .columns.columns-2-cols .columns-col ul li {
  margin-bottom: 10px;
  line-height: 20px;
}

main .columns.columns-align-top .columns-row {
  align-items: flex-start;
}

main .columns.columns-align-center .columns-row {
  align-items: center;
}

main .columns.columns-align-bottom .columns-row {
  align-items: flex-end;
}

main .columns .embed.embed-ceros {
  margin-bottom: 0;
  display: block;
}

main .columns .embed.embed-ceros > div {
  padding-top: 57%;
}

main .columns-wrapper:has(> .columns.no-padding) {
  padding: 0;
}

main .columns-wrapper:has(> .columns.no-padding-top) {
  padding-top: 0;
}

main .columns-wrapper:has(> .columns.no-padding-bottom) {
  padding-bottom: 0;
}

main .columns-wrapper:has(> .columns.no-margin-top) {
  margin-top: 0;
}

/* what's new */
.columns-wrapper:has(> .columns.what-next-columns) {
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
}

.columns.what-next-columns img {
  display: block;
  object-fit: cover;
}

.columns.what-next-columns p.picture,
.columns.what-next-columns picture,
.columns.what-next-columns img {
  height: 100%;
}

.columns.what-next-columns h2 {
  border-bottom: 2px solid;
  display: inline-block;
  padding-inline-end: 1rem;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
}

.columns.what-next-columns h2 + h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.columns.what-next-columns p.button-container {
  margin-top: 2rem;
  margin-bottom: 0;
}

.text-white .columns.what-next-columns a.button.secondary {
  color: var(--color-white);
  border-color: var(--color-white);
}

.text-white .columns.what-next-columns a.button.secondary:hover {
  color: var(--color-link-hover);
  border-color: var(--color-button-secondary);
}

.columns.what-next-columns .columns-row {
  gap: 30px;
}

.columns.what-next-columns .image-left .columns-col:last-child,
.columns.what-next-columns .image-right .columns-col:first-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.columns.what-next-columns p.picture {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  main .columns-wrapper .what-next-columns .image-right {
    padding-inline-end: 0;
  }

  main .columns-wrapper .what-next-columns .image-left {
    padding-inline-start: 0;
  }

  .columns.what-next-columns .image-left .columns-col:first-child p.picture:nth-child(2):not(:only-of-type),
  .columns.what-next-columns .image-right .columns-col:last-child p.picture:nth-child(2):not(:only-of-type) {
    display: none;
  }

  .columns.what-next-columns .columns-col {
    margin-inline-start: 0;
    flex-basis: 50%;
  }

  .columns.what-next-columns .image-left .columns-col:last-child,
  .columns.what-next-columns .image-right .columns-col:first-child {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .columns.what-next-columns .image-right .columns-col:first-child {
    padding-inline-start: var(--center-space);
  }

  .columns.what-next-columns .image-left .columns-col:last-child {
    padding-inline-end: var(--center-space);
  }

  .columns.what-next-columns .image-left img {
    object-position: right;
  }

  .columns.what-next-columns .image-right img {
    object-position: left;
  }
}

/* @media only screen and (min-width: 992px) {} */

@media only screen and (max-width: 767px) {
  .columns.what-next-columns .image-left .columns-col:first-child,
  .columns.what-next-columns .image-right .columns-col:last-child {
    margin-inline-start: -15px;
    margin-inline-end: -15px;
  }

  .columns.what-next-columns .image-left .columns-col:last-child,
  .columns.what-next-columns .image-right .columns-col:first-child {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }

  .columns.what-next-columns .image-left .columns-col:first-child p.picture:first-child:not(:only-of-type),
  .columns.what-next-columns .image-right .columns-col:last-child p.picture:first-child:not(:only-of-type) {
    display: none;
  }

  .columns.what-next-columns .image-right .columns-col:last-child {
    order: 1;
  }

  .columns.what-next-columns .image-right .columns-col:first-child {
    order: 2;
  }
}

/* cards */
.cards.columns .columns-row {
  gap: 20px;
}

.cards.columns .columns-col {
  margin-inline-start: 0;
  box-shadow: 0 1px 10px var(--color-black-alpha-20);
}

.cards.columns .columns-row .columns-col:not(:first-child) {
  padding: 20px;
}

/* gradient columns | blog */
.gradient-column .columns-row {
  gap: 20px;
}

.gradient-column .columns-col {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.gradient-column .columns-row:only-child,
.gradient-column > .image-right > .columns-col:first-child,
.gradient-column > .image-left > .columns-col:last-child {
  padding: 20px;
}

.gradient-column .columns-col a,
.gradient-column .columns-col a i.fa.fa-external-link {
  color: inherit;
}

main .gradient-column div.orange-buttons .button {
  min-width: 180px;
}

/* cols 4 */
main .section .cards.cols-4 .cards-card-body h3:has(+ h4) {
  margin-bottom: 0.75rem;
}

main .section .cards.cols-4 p {
  margin-top: 0;
}

main .section .cards.cols-4 ul li {
  border: none;
}

main .section .cards.cols-4 .cards-card-wrapper {
  height: 100%;
  background-color: var(--color-primary-alpha-5);
  color: var(--color-black);
}

main .section .cards.cols-4 .cards-card-wrapper a {
  color: inherit;
}

main .section .cards.cols-4 .cards-card-wrapper h4 {
  font-family: var(--ff-proxima-regular);
  font-size: var(--fs-h3);
  border-bottom: 2px solid;
  padding-bottom: 8px;
  display: inline-block;
  margin-bottom: 20px;
}

main .section .cards.cols-4 .cards-card-image {
  overflow: hidden;
}

main .section .cards.cols-4 .cards-card-image img {
  transition: all 0.2s ease-in-out;
}

main .section .cards.cols-4 .cards-card-image img:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  main .section .cards.cols-4 .cards-card-wrapper h4 {
    min-height: 62px;
  }

  .cards.cols-4 > ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .cards.cols-4 > ul > li {
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cards.cols-4 > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* about us */
.about-us main .columns.layout-20-80 {
  margin-bottom: 80px;
}
