main .section>div.accordion-wrapper {
  width: 100% !important;
  padding: 0;   
}

.accordion-tab-main-content,
.accordion-tab-list {
    max-height: 800px;
}

.accordion-tab-main-content {
    background-color: #000;
    color: #fff;
}

.accordion-tab-main-content p {
    line-height: 1.5;
}

.accordion-tab-main-content h3 {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 36px;
    padding-top: 16px;
}

.accordion-tab-list,
.accordion-tab-main-content > .accordion-tab-pane {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.accordion-tab-list {
    padding: 0 24px;
}

.accordion-tab-main-content > .accordion-tab-pane > img,
.accordion-tab-main-content > .accordion-tab-pane > picture img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-tab-list .nav-tabs li a {
    border-radius: 0;
}

.accordion-tab-list .nav-tabs li.active a {
    pointer-events: none;
    font-weight: 600;
}

.accordion-tab-content a.button.secondary {
    background: transparent;
    border: 1px solid #fff;
    padding: 16px 30px;
    color: #fff;
    text-align: center;
}

.accordion-tab-content a.button.secondary:hover {
    border-color: #008da9;
    background: #008da9;
    color: #fff;
}

.accordion-tab-content .gradiant-blue-btn.btn:hover .btn-bdr {
    display: none;
}

.mt-30 {
    margin-top: 30px;
}

.accordion-tab-btn {
    display:none;
}

@media only screen and (min-width: 768px) {
    .accordion-tab-wrapper {
        display: -webkit-box;
        display: flex;
    }

    .accordion-tab-list,
    .accordion-tab-pane-inside {
        padding: 54px 24px;
        position:relative;
    }

    .accordion-tab-list {
        border-right: 3px solid #fff;
        -webkit-box-flex: 1;
        flex: 1 30%;
        min-width: 30%;
        padding-right: 0 !important;
        text-align: right;
        position: relative;
        overflow: hidden;
    }

    .accordion-tab-list ul {
        position: relative;
    }

    .accordion-tab-list picture img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .accordion-tab-list .nav-tabs {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        border: 0;
        text-align: left;
        list-style: none;
        margin:0;
    }

    .accordion-tab-list .nav-tabs li a,
    .accordion-tab-list .nav-tabs li a:focus {
        color: #fff;
        background: transparent;
        border: 0;
        display: block;
        margin-right: 0;
        padding: 15px;
    }

    .accordion-tab-list .nav-tabs li:not(:first-child) a {
        border-bottom: 1px solid #fff;
    }

    .accordion-tab-list .nav-tabs li:first-child a {
        font-size: 24px;
    }

    .accordion-tab-list .nav-tabs li:hover a,
    .accordion-tab-list .nav-tabs li.active a {
        background-color: rgba(255 255 255 / 30%);
    }

    .accordion-tab-list .nav-tabs li.active a {
        font-family: 'Proxima Nova Th', sans-serif;
    }

    .accordion-tab-list + .views-element-container.form-group {
        min-width: 70%;
        overflow: hidden;
    }

    .accordion-tab-main-content {
        display: -webkit-box;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1 70%;
    }

    .accordion-tab-list + .views-element-container.form-group > div,
    .accordion-tab-list + .views-element-container.form-group > div > div,
    .accordion-tab-main-content {
        height: 100%;
    }

    .accordion-tab-main-content > .accordion-tab-pane {
        opacity: 1;
        display: block;
        overflow: hidden;
        transition: width 0.5s ease-in-out;
        min-width: 0;
        width: 0;
        height: auto;
        visibility: visible;
    }

    .accordion-tab-main-content > .accordion-tab-pane.active {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .accordion-tab-content {
        max-width: 45%;
    }

    .accordion-tab-list {
        padding: 100px 0;
    }

    .accordion-tab-pane-inside {
        padding: 100px 32px;
    }

    .accordion-tab-list .nav-tabs {
        padding-left: 70px;
    }
}

@media only screen and (min-width: 1200px) {
    .accordion-tab-list .nav-tabs li:not(:first-child) {
        margin-left: 80px;
    }

    .accordion-tab-list,
    .accordion-tab-main-content > .accordion-tab-pane {
        min-height: 500px;
    }

    .accordion-tab-list {
        -webkit-box-flex: 1;
        flex: 1 35%;
        min-width: 35%;
    }

    .accordion-tab-list + .views-element-container.form-group {
        min-width: 65%;
    }

    .accordion-tab-list .nav-tabs {
        padding-left: 90px;
    }
}

@media only screen and (max-width: 767px) {
    .accordion-tab-list {
        display: none;
    }

    .accordion-tab-content h3 {
        padding-top: 16px;
        margin-bottom: 16px;
        font-size: 24px;
    }

    .accordion-tab-pane-inside,
    .accordion-tab-content {
        position: relative;
        padding:24px;
    }

    .accordion-tab-content {
        display: none;
        padding-left: 30px;
    }

    .active .accordion-tab-content {
        display: block;
    }
    
    .accordion-tab-content .gradiant-blue-btn.btn {
        padding: 16px 24px;
        font-size: 12px;
        width: 100%;
        max-width: 200px;
        text-align: center;
    }

    .active .accordion-tab-pane-inside p,
    .active .accordion-tab-pane-inside h3,
    .active .accordion-tab-pane-inside .gradiant-blue-btn.btn {
        display:block;
    }

    .accordion-tab-btn {
        position: relative;
        background: transparent;
        padding: 0;
        font-size: 18px;
        margin: 0;
        outline: 0;
        display: block;
        width: 100%;
        text-align: left;
        border: 0;
        color:#fff;
    }

    .active .accordion-tab-btn {
        color: #008da9;
        display:block;
    }

    .accordion-tab-main-content > .accordion-tab-pane {
        border-bottom: 1px solid #fff;
    }

    .image-controller-carousel {
        margin-bottom: 40px;
    }

    .play-pause-fullscreen-button svg {
        width: 100px;
        height: 100px;
    }

    .accordion-tab-main-content > .accordion-tab-pane > img,
    .accordion-tab-main-content > .accordion-tab-pane > picture img {
        opacity: 0.8;
    }
}
