.product .product-comparison-container.tabs .default-content-wrapper > h2{
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 30px;
  font-size: var(--heading-font-size-xl);
  font-family: var(--ff-proxima-light);
  margin-top: 30px;
}

.product-comparison .table-container {
  overflow-x: auto;
  -ms-overflow-style: none;
}

.product-comparison .responsive-table {
  min-width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  text-align: center;
}

.product-comparison .responsive-table .table-head {
  position: relative;
}

.product-comparison .responsive-table td {
  padding: 15px;
  position: relative;
  vertical-align: top;
  white-space: pre-line;
  font-size: var(--body-font-size-xs);
  border-bottom: 1px solid var(--highlight-background-color);
}

.product-comparison .product-heading .darkgrey {
  background-color: #8a959b;
  color: var(--text-dark-gray);
}

.product-comparison .product-heading p {
  color: var(--text-dark-gray);
  font-size: 14px;
  padding: 0 20px 20px;
  text-align: left;
  font-weight: 400;
  width: 220px;
}

.product-comparison .product-heading picture{
  display: block;
}

.product-comparison .product-heading img {
  width: 100%;
  height: 120px;
  margin-top: 15px;
  margin-bottom: 10px;
  object-fit: contain;
  transition: all .3s;
}

.product-comparison .product-heading img:hover {
  z-index: 1;
  transform: scale(1.09);
}

.product-comparison .responsive-table th {
  border-top: 1px solid var(--highlight-background-color);
  border-bottom: 1px solid var(--highlight-background-color);
  vertical-align: top;
}

.product-comparison .responsive-table th:first-child {
  border-top: none;
}

.product-comparison .responsive-table th:nth-child(odd),
.product-comparison .responsive-table td:nth-child(odd) {
  background: var(--light-gray-background-color2);
}

.product-comparison .responsive-table th:nth-child(even),
.product-comparison .responsive-table td:nth-child(even) {
  background: var(--background-color);
}

.product-comparison .responsive-table th:first-child,
.product-comparison .responsive-table td:first-child,
.product-comparison .responsive-table th:last-child,
.product-comparison .responsive-table td:last-child {
  border-right: 1px solid  var(--highlight-background-color);
}

.product-comparison .responsive-table th:first-child,
.product-comparison .responsive-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 200px;
}

.product-comparison .responsive-table tbody td:first-child {
  background-color: #525b61;
  min-width: 160px;
  padding: 15px;
  border-right: 1px solid var(--highlight-background-color);
  border-bottom: 1px solid var(--highlight-background-color);
  font-weight: 500;
  font-size: 12px;
  color: var(--text-white);
  text-align: left;
  text-transform: uppercase;
}

.product-comparison-container .product-comparison .responsive-table th:first-child {
  background: #fff !important;
}

.background-gray.product-comparison-container .product-comparison .responsive-table th:first-child,
.background-grey.product-comparison-container .product-comparison .responsive-table th:first-child {
  background: var(--light-gray-background-color) !important;
}

.product-comparison .product-heading .product-heading-title  {
  padding: 20px 5px;
  line-height: normal;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-comparison .responsive-table tr th:last-child .product-heading-title {
  background-color: var(--button-bg-color);
}

.product-comparison .responsive-table .product-info-btn  {
  color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color);
  padding: 6px 12px;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px 0 10px;
  font-family: var(--ff-proxima-regular);
  transition: all .3s;
}

.product-comparison .responsive-table a.product-info-btn:hover {
  border-color: transparent;
  background-color: var(--text-blue);
  color: var(--background-color);
}

.product-comparison ::-webkit-scrollbar {
  width: 20px;
  height: 24px;
}

.product-comparison ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.product-comparison ::-webkit-scrollbar-thumb {
  background-color: #00b0bd;
  border-radius: 10px;
}

.product-comparison ::-webkit-scrollbar-thumb:hover {
  background: var(--button-bg-color);
}

@media only screen and (max-width: 1199px) {
  .product-comparison .responsive-table th:first-child,
  .product-comparison .responsive-table td:first-child {
    width: 20vw;
  }
}

@media only screen and (max-width: 991px) {
  .product-comparison .responsive-table a {
    display: block;
  }

  .product-comparison .responsive-table th,
  .product-comparison .responsive-table td {
    width: 30vw;
  }

  .product-comparison .responsive-table th:first-child,
  .product-comparison .responsive-table td:first-child {
    width: 25vw;
  }
}

@media only screen and (max-width: 767px) {
  .product-comparison .responsive-table th,
  .product-comparison .responsive-table td {
    width: 50vw;
  }

  .product-comparison .responsive-table th:first-child,
  .product-comparison .responsive-table td:first-child {
    width: 40vw;
  }
}
