<html>
    <head>
        <meta name="publication-date" content="01/04/2023" />
    </head>

    <body class="news background-gray appear">
        <main>
                <div>
                    <h1 id="title">Title</h1>
                    <p><picture><img></picture></p>
                    <p>text 1</p>
                    <p><em>text 2</em></p>
                    <p><picture><img></picture></p>
                    <p><em>text 3</em></p>
                    <p>text 4</p>
                </div>
        </main>
    </body>
</html>
