<style type="text/css">
  .fortebio-bio .trms-condition p {
    font-size: 14px;
  }

  .fortebio-bio.bg-molequle-right {
    position: relative;
  }

  .fortebio-bio.bg-molequle-right:before {
    background-image: url(/images/research-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    content: '';
    position: absolute;
    right: 2px;
    height: 700px;
    width: 1040px;
    bottom: 50px;
  }

  .fortebio-bio .content-section {
    padding: 90px 0 100px;
    margin: 0px auto;
    width: 1170px;
  }

  .fortebio-bio.greyBg {
    background-color: var(--light-gray-background-color2);
  }

  .fortebio-bio .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
  }

  .fortebio-bio .list-desc li {
    margin-top: 4px;
    list-style-type: disc;
    margin-bottom: 4px;
    font-size: 20px;
  }

  .fortebio-bio .font-36 {
    font-size: 36px;
    font-family: var(--ff-proxima-regular);
    margin-top: 0;
  }

  .fortebio-bio .text-color-green {
    color: var(--text-green);
  }

  .fortebio-bio .cat-blue-sub-title {
    font-size: 30px;
    color: #606a6c;
    font-family: var(--ff-proxima-regular);
  }

  .fortebio-bio .button-container {
    text-align: center;
  }

  .fortebio-bio .vidyard_wrapper .video-ico:before {
    background-size: 38% auto;
    top: -70%;
    left: 32px;
  }

  .fortebio-bio .video-row {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  .fortebio-bio .vidyard_wrapper .video-ico {
    position: static;
  }

  .fortebio-bio .three-col-row img {
    width: 85%;
  }

  .fortebio-bio .vidyard_wrapper {
    float: none;
    cursor: pointer;
  }

  .vidyard_wrapper .video-ico {
    position: relative;
  }

  .vidyard_wrapper .video-ico:before {
    width: 200px;
    height: 200px;
    position: absolute;
    content: '';
    display: block;
    border-radius: 100%;
    background: url(/images/play_icon.png) no-repeat center center;
    background-size: 45% auto;
    margin: auto;
    left: -5px;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @media (max-width: 767px) {
    .fortebio-bio .video-row {
      display: block;
    }

    .fortebio-bio .three-col-row {
      margin-bottom: 50px;
    }

    .fortebio-bio .three-col-row:last-child {
      margin-bottom: 0;
    }
  }
</style>

<div class="fortebio-bio greyBg bg-molequle-right">
  <div class="content-section fortebio-bio cat-cln-screen">
    <div class="container">
      <div>
        <script
          type="text/javascript"
          id=""
          src="https://play.vidyard.com/JWr597wiRf19F3cCUq8T4A.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"
        ></script>
        <div class="vidyard_wrapper" onclick="fn_vidyard_JWr597wiRf19F3cCUq8T4A();">
          <div class="video-ico">
            <img
              alt="Spectra Max i3x"
              data-entity-type="file"
              data-entity-uuid="69620260-7e2f-4b1f-8a34-37a46aa4dccc"
              src="/sites/default/files/en/assets/promotions/spectramax-i3x.png"
              class="align-center"
              width="317"
              height="554"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-36 text-color-green">SpectraMax i3x Multi-Mode Microplate Reader</h2>
        <h4 class="cat-blue-sub-title">
          Western blot, imaging, and injectors on one configurable microplate reader
        </h4>
        <div class="list-desc">
          <ul class="list-part">
            <li>
              Measures spectral-based absorbance, fluorescence, and luminescence with the added
              functionality of modular upgrades for western blot, imaging, and fast kinetics with
              injectors.
            </li>
            <li>
              Allows you to explore cellular pathways and protein activation and expression in one
              system.
            </li>
            <li>
              Provides the flexibility to add novel detection capabilities without the need for
              service engineers or costly downtime—it grows with you as your research areas expand.
            </li>
          </ul>
        </div>
        <p class="button-container">
          <strong
            ><a
              href="/quote-request?pid=spectramax-i3x-multi-mode-microplate-reader"
              title="Request Quote"
              class="button primary"
              >Request Quote<span class="button-border"></span></a
          ></strong>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fortebio-bio whiteBg">
  <div class="content-section fortebio-bio cat-cln-screen">
    <div class="container">
      <div>
        <script
          type="text/javascript"
          id=""
          src="https://play.vidyard.com/UQ9y9WjLPcKw2BPUuPQbGY.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"
        ></script>
        <div class="vidyard_wrapper" onclick="fn_vidyard_UQ9y9WjLPcKw2BPUuPQbGY();">
          <div class="video-ico">
            <img
              data-entity-type="file"
              data-entity-uuid="1a580715-e3d4-4ee4-b51b-fe67fd8a1df8"
              class="align-center"
              src="/sites/default/files/en/assets/promotions/spectra-max-id5.png"
              alt="Spectra Max iD5"
              width="311"
              height="532"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-36 text-color-green">SpectraMax iD3/iD5 Multi-Mode Microplate Reader</h2>
        <h4 class="cat-blue-sub-title">
          Multi-user microplate reader with a large touch screen and NFC functionality
        </h4>
        <div class="list-desc">
          <ul class="list-part">
            <li>
              Helps you increase your research capabilities and comes with built-in absorbance,
              fluorescence, luminescence, time-resolved fluorescence (TRF), and tunable fluorescence
              polarization (FP) read modes.
            </li>
            <li>
              The SpectraMax iD5 can be expanded to include bottom-read luminescence, TR-FRET,
              HTRF®, BRET, dual luciferase reporter assays with injectors, and western blot
              detection.
            </li>
            <li>
              Built-in near-field communication (NFC) functionality enables you to pull up your
              custom protocols with a single tap, saving you.
            </li>
          </ul>
        </div>
        <p class="button-container">
          <strong
            ><a
              href="/quote-request?pid=spectramax-i-series-microplate-readers"
              title="Request Quote"
              class="button primary"
              >Request Quote<span class="button-border"></span></a
          ></strong>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fortebio-bio greyBg bg-molequle-right">
  <div class="content-section fortebio-bio cat-cln-screen">
    <div class="container">
      <div>
        <script
          type="text/javascript"
          id=""
          src="https://play.vidyard.com/2tKEp18eNj6v1e31bfJwAe.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"
        ></script>
        <div class="vidyard_wrapper" onclick="fn_vidyard_2tKEp18eNj6v1e31bfJwAe();">
          <div class="text-align-center video-ico">
            <img
              alt="SpectraMax ABS Plus Feature"
              data-entity-type="file"
              data-entity-uuid="f9570a68-60ac-450f-ba92-b1a63d6430ed"
              data-responsive-image-style=""
              src="/sites/default/files/en/assets/promotions/abs-plus-feature-updated.png"
              class="align-center"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-36 text-color-green">
          SpectraMax ABS/ABS Plus Absorbance Microplate Reader
        </h2>
        <h4 class="cat-blue-sub-title">
          Fast and compact absorbance microplate reader for a wide range of assay
        </h4>
        <div class="list-desc">
          <ul class="list-part">
            <li>
              Provides the flexibility, sensitivity, and convenience for a wide range of assays such
              as ELISAs, microbial growth, and protein quantitation.
            </li>
            <li>
              Runs both cuvette-based and microplate reader applications on the same instrument.
              Reads one sample or up to 384 in a single plate read using any standard cuvette, or
              96- or 384-well microplate.
            </li>
            <li>
              Fits in every lab and every budget with a wide application base, industry-leading
              SoftMax® Pro Software and validation tool.
            </li>
          </ul>
        </div>
        <p class="button-container">
          <strong
            ><a
              href="/quote-request?pid=spectramax-abs-and-abs-plus-absorbance-elisa-microplate-readers"
              title="Request Quote"
              class="button primary"
              >Request Quote<span class="button-border"></span></a
          ></strong>
        </p>
      </div>
    </div>
  </div>
</div>
