<style type="text/css">
  .three-row-video {
    padding-bottom: 50px;
  }

  .three-row-video h3 {
    color: #008da8;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .three-row-video p {
    text-align: center;
  }

  .three-row-video .vidyard_wrapper .video-ico:before {
    background-size: 38% auto;
    top: -70%;
    left: 32px;
  }

  .three-row-video .video-row {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  .three-row-video .three-col-row {
    display: flex;
    flex-flow: column;
  }

  .three-row-video .vidyard_wrapper .video-ico {
    position: static;
  }

  .three-row-video .three-col-row img {
    width: 85%;
  }

  .vidyard_wrapper {
    float: left;
    cursor: pointer;
  }

  .vidyard_wrapper .video-ico {
    position: relative;
  }

  .vidyard_wrapper .video-ico:before {
    width: 200px;
    height: 200px;
    position: absolute;
    content: '';
    display: block;
    border-radius: 100%;
    background: url(/images/play_icon.png) no-repeat center center;
    background-size: 45% auto;
    margin: auto;
    left: -5px;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @media (min-width: 768px) {
    .col-sm-4 {
      width: 33.33333333%;
    }
  }

  @media (max-width: 767px) {
    .three-row-video .video-row {
      display: block;
    }

    .three-row-video .three-col-row {
      margin-bottom: 50px;
    }

    .three-row-video .three-col-row:last-child {
      margin-bottom: 0;
    }
  }
</style>

<script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>

<div class="three-row-video">
  <div class="row video-row">
    <div class="col-sm-4 three-col-row">
      <h3><a href="/products/microplate-readers/multi-mode-readers/spectramax-i3x-readers">SpectraMax i3x Multi-Mode Microplate Reader</a></h3>
      <script type="text/javascript"
        src="https://play.vidyard.com/JWr597wiRf19F3cCUq8T4A.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_JWr597wiRf19F3cCUq8T4A();">
        <div class="video-ico">
          <img alt="Spectra Max i3x" data-entity-type="file" data-entity-uuid="69620260-7e2f-4b1f-8a34-37a46aa4dccc"
            src="/sites/default/files/en/assets/promotions/spectramax-i3x.png" class="align-center" width="317"
            height="554" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="col-sm-4 three-col-row">
      <h3><a href="/products/microplate-readers/multi-mode-readers/spectramax-id3-id5-readers">SpectraMax iD5 Multi-Mode Microplate Reader</a></h3>
      <script type="text/javascript"
        src="https://play.vidyard.com/UQ9y9WjLPcKw2BPUuPQbGY.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_UQ9y9WjLPcKw2BPUuPQbGY();">
        <div class="video-ico">
          <img data-entity-type="file" data-entity-uuid="1a580715-e3d4-4ee4-b51b-fe67fd8a1df8" class="align-center"
            src="/sites/default/files/en/assets/promotions/spectra-max-id5.png" alt="Spectra Max iD5" width="311"
            height="532" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="col-sm-4 three-col-row">
      <h3><a href="/products/microplate-readers/absorbance-readers/spectramax-abs-plate-readers">SpectraMax ABS Plus Absorbance ELISA Microplate Readers</a></h3>
      <script type="text/javascript" id=""
        src="https://play.vidyard.com/2tKEp18eNj6v1e31bfJwAe.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_2tKEp18eNj6v1e31bfJwAe();">
        <div class="video-ico">
          <img alt="SpectraMax ABS Plus Feature" data-entity-type="file"
            data-entity-uuid="f9570a68-60ac-450f-ba92-b1a63d6430ed" data-responsive-image-style=""
            src="/sites/default/files/en/assets/promotions/abs-plus-features.jpeg" class="align-center"
            loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</div>
