<style type="text/css">

  .cm-high-performance .video {
    box-shadow: none
  }

  .cm-high-performance .vidyard_wrapper .video-ico:before {
    display: none
  }

  .cm-high-performance .video+p {
    margin-top: -8px
  }

  .cm-high-performance .video+p img {
    padding: 0
  }

  .cm-high-performance .video,.cm-high-performance .video+p {
    display: inline-block;
    width: auto
  }

  .cm-high-performance .video-container {
    display: flex;
    flex-direction: column;
    align-items: center
  }


  .footer-top-section .container {
    margin-top: 50px;
    font-family: 'Proxima Nova Regular';
  }

  .footer-top-section .main-sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center
  }

  .footer-top-section .caption {
    font-size: 12px;
    margin-bottom: 0
  }

  .footer-top-section .caption+p {
    font-size: 14px
  }

  .footer-top-section h3.main-title {
    text-align: center;
    color: #008da9;
    font-family: 'Proxima Nova Regular';
    font-size: 42px;
    margin-bottom: 50px
  }


</style>

<section class="ebook-content">
  <div class="container">
    <div class="footer-top-section">
      <h3 class="main-title" text-align-justify="">Easy-to-use. Versatile. Affordable.<br>
        Live cell imaging and analysis system.
      </h3>
      <div class="row flex-center cm-high-performance">
        <div class="col-md-12">
          <p>The ImageXpress® Pico Automated Cell Imaging System is an easy-to-use and versatile image acquisition and analysis system. Whether you’re imaging microplates or slides, doing simple cell culture quality control or studying complex, cellular interactions, the ImageXpress Pico allows you to advance your discoveries in one affordable imaging platform.</p>
          <div class="video-container col-xs-12 col-sm-10 col-md-12 marg-tp-40 marg-bt-40">
            <div class="video">
              <script type="text/javascript" id="vidyard_embed_code_Z3iBwKY6jzq5BkFsqDfjBi" src="https://play.vidyard.com/Z3iBwKY6jzq5BkFsqDfjBi.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
              <div class="outer_vidyard_wrapper">
                <div class="vidyard_wrapper" onclick="fn_vidyard_Z3iBwKY6jzq5BkFsqDfjBi();">
                  <div class="video-ico">
                    <img
                      data-entity-type="file"
                      data-entity-uuid="1a580715-e3d4-4ee4-b51b-fe67fd8a1df8"
                      class="align-center"
                      src="/sites/default/files/en/assets/promotions/imagexpress-flow-top.png"
                      alt="Spectra Max iD5"
                      width="885"
                      height="285"
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <p>
              <img
                data-entity-type="file"
                data-entity-uuid="1a580715-e3d4-4ee4-b51b-fe67fd8a1df8"
                class="align-center"
                src="/sites/default/files/en/assets/promotions/imagexpress-flow-bottom.png"
                alt="Spectra Max iD5"
                width="885"
                height="641"
                loading="lazy"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>