<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">Rethink organoid production! Discover how you can acquire more than six million, reproducible, assay-ready <a href="https://twitter.com/hashtag/organoids?src=hash&amp;ref_src=twsrc%5Etfw">#organoids</a> today! <a href="https://t.co/buLlaVUCYW">https://t.co/buLlaVUCYW</a> <a href="https://t.co/cKs8c4VKIw">pic.twitter.com/cKs8c4VKIw</a></p>&mdash; Molecular Devices (@moldev) <a href="https://twitter.com/moldev/status/1699346800224670103?ref_src=twsrc%5Etfw">September 6, 2023</a>
</blockquote>

<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">🔬 Missed our live webinar on lab automation? 🕒 No worries! Catch the on-demand version now and learn to optimize lab time, enhance data collection, and boost efficiency. 🚀 Watch here: <a href="https://t.co/oyHXImfXR1">https://t.co/oyHXImfXR1</a> <a href="https://twitter.com/hashtag/LabAutomation?src=hash&amp;ref_src=twsrc%5Etfw">#LabAutomation</a> <a href="https://twitter.com/hashtag/EfficiencyBoost?src=hash&amp;ref_src=twsrc%5Etfw">#EfficiencyBoost</a></p>&mdash; Molecular Devices (@moldev) <a href="https://twitter.com/moldev/status/1699175609849586087?ref_src=twsrc%5Etfw">September 5, 2023</a>
</blockquote>

<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">🔬 Join Molecular Devices at LabDays 2023 in Aarhus! 🔬<br><br>Come and meet our friendly team of experts at stand number 63, who will be attending this year&#39;s Labdays Conference!<br> <br>Click on the link below to get your FREE entry ticket.<a href="https://t.co/MnMiJJYuOT">https://t.co/MnMiJJYuOT</a> <a href="https://t.co/UJvcxhuEPO">pic.twitter.com/UJvcxhuEPO</a></p>&mdash; Molecular Devices (@moldev) <a href="https://twitter.com/moldev/status/1698999549648371866?ref_src=twsrc%5Etfw">September 5, 2023</a>
</blockquote>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>