<div id="fb-root"></div>

<div class="fb-page" data-href="https://www.facebook.com/MolecularDevices" data-tabs="timeline" data-width="" data-height="500" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MolecularDevices" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MolecularDevices">Molecular Devices LLC</a></blockquote></div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/hi_IN/sdk.js#xfbml=1&version=v17.0" nonce="y3LPSqyp"></script>