<style type="text/css">
  .three-row-video h3 {
    color: #008da8;
    font-size: 25px;
    text-align: center;
  }

  .three-row-video p {
    text-align: center;
  }

  .three-row-video .vidyard_wrapper .video-ico:before {
    background-size: 38% auto;
    top: -70%;
  }

  .three-row-video .video-row {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  .three-row-video .three-col-row {
    display: flex;
    flex-flow: column;
  }

  .three-row-video .vidyard_wrapper .video-ico {
    position: static;
  }

  .three-row-video .three-col-row img {
    width: 85%;
  }

  .promo.section-heading h1 {
    font-size: 40px;
    text-align: center;

    color: #008da8;
    margin-top: 0;
  }

  .promo.section-heading h1 span {
    color: #ee7623;
    font-style: italic;
  }

  .vidyard_wrapper {
    float: left;
    cursor: pointer;
  }

  .vidyard_wrapper .video-ico {
    position: relative;
  }

  .vidyard_wrapper .video-ico:before {
    width: 200px;
    height: 200px;
    position: absolute;
    content: '';
    display: block;
    border-radius: 100%;
    background: url(/images/play_icon.png) no-repeat center center;
    background-size: 45% auto;
    margin: auto;
    left: -5px;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @media (min-width: 768px) {
    .col-sm-4 {
      width: 33.33333333%;
    }

    .landing-page .section.center.orange-buttons {
      position: relative;
      top: -150px;
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    .three-row-video .video-row {
      display: block;
    }

    .three-row-video .three-col-row {
      margin-bottom: 50px;
    }

    .three-row-video .three-col-row:last-child {
      margin-bottom: 0;
    }
  }
</style>

<div class="three-row-video">
  <div class="row">
    <div class="col-xs-12">
      <div class="promo section-heading">
        <h1>SpectraMax <span>M</span>&nbsp;Series Multi-Mode Microplate Readers</h1>
      </div>
    </div>
    <div class="col-sm-12 padding-top-btm">
      <p>For over 15 years, scientists have relied on the industry standard, SpectraMax® M Series Multi-Mode Microplate Readers, for their consistent performance, reliability, and durability. Researchers have published over 20,000 peer-reviewed publications using these readers, which provide the most empowering combination of features for your lab: UV and visible absorbance, fluorescence, glow luminescence, fluorescence polarization, TRF and HTRF.</p>
    </div>
  </div>
  <div class="row video-row">
    <div class="col-sm-3 three-col-row">
      <h3><b>SpectraMax® M2/M2e</b></h3>
      <p>
        <img
            alt="Spectra Max i3x"
            data-entity-type="file"
            data-entity-uuid="69620260-7e2f-4b1f-8a34-37a46aa4dccc"
            src="/sites/default/files/en/assets/promotions/spectramax-m2-applications.png"
            class="align-center"
            width="317"
            height="554"
            loading="lazy"
          />
      </p>
    </div>
    <div class="col-sm-3 three-col-row">
      <h3><b>SpectraMax® M3</b></h3>
      <p>
        <img
            alt="Spectra Max i3x"
            data-entity-type="file"
            data-entity-uuid="69620260-7e2f-4b1f-8a34-37a46aa4dccc"
            src="/sites/default/files/en/assets/promotions/spectramax-m3-applications.png"
            class="align-center"
            width="317"
            height="554"
            loading="lazy"
          />
      </p>
    </div>
    <div class="col-sm-3 three-col-row">
      <h3><b>SpectraMax® M4</b></h3>
      <p>
        <img
            alt="Spectra Max i3x"
            data-entity-type="file"
            data-entity-uuid="69620260-7e2f-4b1f-8a34-37a46aa4dccc"
            src="/sites/default/files/en/assets/promotions/spectramax-m4-applications.png"
            class="align-center"
            width="317"
            height="554"
            loading="lazy"
          />
      </p>
      <p><b style="font-style: italic;">&nbsp;</b></p>
    </div>
    <div class="col-sm-3 three-col-row">
      <h3><b>SpectraMax® M5/M5e</b></h3>
      <p><b style="font-style: italic;"></b></p>
      <script type="text/javascript" id="" src="https://play.vidyard.com/37tardjo4nnG-x5fiYuWjw.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <script type="text/javascript" id="vidyard_embed_code_37tardjo4nnG-x5fiYuWjw" src="https://play.vidyard.com/37tardjo4nnG-x5fiYuWjw.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_37tardjo4nnG$x5fiYuWjw();">
        <div class="video-ico">
          <img
            alt="Spectra Max i3x"
            data-entity-type="file"
            data-entity-uuid="69620260-7e2f-4b1f-8a34-37a46aa4dccc"
            src="/sites/default/files/en/assets/promotions/spectramax-m5-image.png"
            class="align-center"
            width="317"
            height="554"
            loading="lazy"
          />
        </div>
      </div>
      <p><b style="font-style: italic;"> </b></p>
      <p><b style="font-style: italic;">&nbsp;</b></p>
      <p><b style="font-style: italic;"> </b></p>
    </div>
  </div>
</div>