<style type="text/css">
  .three-row-video h3 {
    color: #008da8;
    font-size: 25px;
    text-align: center;
  }

  .three-row-video p {
    text-align: center;
  }

  .three-row-video .vidyard_wrapper .video-ico:before {
    background-size: 38% auto;
    top: 500%;
  }

  .three-row-video .video-row {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  .three-row-video .three-col-row {
    display: flex;
    flex-flow: column;
  }

  .three-row-video .vidyard_wrapper .video-ico {
    position: static;
  }

  .three-row-video .three-col-row img {
    width: 85%;
  }

  .promo.section-heading h1 {
    font-size: 40px;
    text-align: center;

    color: #008da8;
    margin-top: 0;
  }

  .promo.section-heading h1 span {
    color: #ee7623;
    font-style: italic;
  }

  .vidyard_wrapper {
    float: left;
    cursor: pointer;
  }

  .vidyard_wrapper .video-ico {
    position: relative;
  }

  .vidyard_wrapper .video-ico:before {
    width: 200px;
    height: 200px;
    position: absolute;
    content: '';
    display: block;
    border-radius: 100%;
    background: url(/images/play_icon.png) no-repeat center center;
    background-size: 45% auto;
    margin: auto;
    left: -5px;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @media (min-width: 768px) {
    .col-sm-4 {
      width: 33.33333333%;
    }

    .landing-page .section.center.orange-buttons {
      position: relative;
      top: -150px;
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    .three-row-video .video-row {
      display: block;
    }

    .three-row-video .three-col-row {
      margin-bottom: 50px;
    }

    .three-row-video .three-col-row:last-child {
      margin-bottom: 0;
    }
  }
</style>

<div class="three-row-video">
  <div class="row">
    <div class="col-xs-12">
      <div class="promo section-heading">
        <h1>SpectraMax absorbance microplate readers</h1>
      </div>
    </div>
    <div class="col-sm-12 padding-top-btm">
      <p><em><strong>Which absorbance microplate reader is right for you?</strong></em> SpectraMax absorbance readers provide the versatility and convenience for a wide range of assays such as ELISAs, nucleic acid and protein quantitation, and microbial growth.</p>
    </div>
  </div>
  <div class="row video-row">
    <div class="col-sm-4 three-col-row">
      <h3><b>SpectraMax® QuickDrop</b></h3>
      <script type="text/javascript" id="" src="https://play.vidyard.com/ee1k9GxWCxiAnoUCjBXetR.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_ee1k9GxWCxiAnoUCjBXetR();">
        <div class="video-ico">&nbsp;</div>
      </div>
      <p><img alt="SpectraMax QuickDrop Features" data-entity-type="file" data-entity-uuid="013f8de2-35af-4dfe-b116-96e62b9324f0" data-responsive-image-style="" src="/sites/default/files/en/assets/promotions/quickdrop-features-v1.jpeg" class="align-center" loading="lazy"></p>
    </div>
    <div class="col-sm-4 three-col-row">
      <h3><b>SpectraMax® ABS</b></h3>
      <script type="text/javascript" id="" src="https://play.vidyard.com/2tKEp18eNj6v1e31bfJwAe.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_2tKEp18eNj6v1e31bfJwAe();">
        <div class="video-ico">&nbsp;</div>
      </div>
      <p><img alt="SpectraMax ABS Features" data-entity-type="file" data-entity-uuid="4f6d1947-e7c4-4a1d-a79e-ad7e9bd0c6c6" data-responsive-image-style="" src="/sites/default/files/en/assets/promotions/abs-features.jpeg" class="align-center" loading="lazy"></p>
    </div>
    <div class="col-sm-4 three-col-row">
      <h3><b>SpectraMax® ABS Plus</b></h3>
      <script type="text/javascript" id="" src="https://play.vidyard.com/2tKEp18eNj6v1e31bfJwAe.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"></script>
      <div class="vidyard_wrapper" onclick="fn_vidyard_2tKEp18eNj6v1e31bfJwAe();">
        <div class="video-ico">&nbsp;</div>
      </div>
      <p><img alt="SpectraMax ABS Plus Feature" data-entity-type="file" data-entity-uuid="f9570a68-60ac-450f-ba92-b1a63d6430ed" data-responsive-image-style="" src="/sites/default/files/en/assets/promotions/abs-plus-features.jpeg" class="align-center" loading="lazy"></p>
    </div>
  </div>
</div>