.spectra-bot {
    position: relative;  /* This is needed to contain the absolute positioning of child elements */
    width: 100%;
    height: 100vh;  /* This can be adjusted as per your needs */
}

.spectra-bot .bubble-wrapper {
    position: relative;
}

.background-img {
    width: 100%;
    height: 100%;
    z-index: 1;  /* Layer order is controlled using z-index */
}

.bubble-wrapper {
    margin-bottom: -160px;
    margin-left: 125px;
    height: 208px;
    width: 420px;
}

.foreground-img {
    z-index: 2;
    /* For proper image placement */
    object-fit: cover;
}

.text-over {
    position: absolute;
    z-index: 3;
    display: flex;
    /*justify-content: center;  !* Center text horizontally *!*/
    /*align-items: center;  !* Center text vertically *!*/
    color: #008da9;
    font-size: 16px;
    text-align: center;
    top: 30px;
    left: 134px;
    /*padding: 38px 34px 18px 31px;*/
}
