main .section > div.spectra-bot-wrapper {
    min-height: 600px;
    padding: 0;
}

.spectra-bot.block {
    background-image: url('/images/spectra-chat-mobile.png');
    background-position: 30% 61%;
    background-repeat: no-repeat;
    min-height: 600px;
}

.spectra-bot.block > div {
    display: flex;
    background: url('/images/chat-box-mobile.png') no-repeat center top;
    background-size: 315px 200px;
    min-height: 219px;
    align-items: center;
    margin: 0 auto;
}

.spectra-bot.block > div > div {
    padding: 25px 30px;
    font-size: 17px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    height: 173px;
    width: 333px;
    color: #008da9;
    text-align: center;
}

@media (min-width: 768px) {
    .spectra-bot.block {
        background-image: url('/images/spectra-chat-desktop.png');
        background-size: contain;
        background-position: center;
        position: relative;
    }

    .spectra-bot.block > div {
        position: absolute;
        background-image: url('/images/chat-box-desktop.png');
        background-size: 100% 100%;
        max-width: 445px;
        top: 90px;
        left: -215px;
        right: 0;
    }

    .spectra-bot.block > div > div {
        padding: 72px 100px 50px 60px;
        font-size: 20px;
        height: auto;
        width: 100%;
    }
}
