.spectra-bot {
    width: 100%;
}

.spectra-bot.desktop-only {
    display: none;
}

.spectra-bot.microplate {
    position: relative;
}

.spectra-bot .bubble-wrapper {
    position: relative;
    background-size: 100% 100%;
    margin-bottom: -55px;
    height: 208px;
    width: 319px;
}

.spectra-bot .background-img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.spectra-bot .text-over {
    position: absolute;
    display: flex;
    color: #008da9;
    font-size: 14px;
    text-align: left;
    padding: 38px 34px 18px 31px;
}

.spectra-bot.multimode .background-img {
    margin-top: 60px;
    width: 193px;
}

.spectra-bot.multimode .bubble-wrapper {
    height: 178px;
}

.spectra-bot.multimode .text-over {
    font-size: 16px;
}

.spectra-bot.softmax .text-over {
    color: black;
    font-size: 16px;
}

.spectra-bot.microplate .text-over {
    font-size: 17px;
}

.spectra-bot.softmax > div:first-child.bubble-wrapper {
    width: 400px;
}

.spectra-bot.softmax > div:first-child.bubble-wrapper > .text-over {
    padding-right: 60px;
}

.spectra-bot.softmax div:nth-child(2).bubble-wrapper {
    width: 260px;
    margin-left: auto;
}

.spectra-bot.softmax .background-img {
    max-width: 300px;
}

div.spectra-bot.microplate.mobile-only {
    width: 375px;
    margin-left: -15px;
}

div.spectra-bot.microplate.mobile-only .bubble-wrapper {
    margin-bottom: -100px;
}

.spectra-bot.absorbance-readers .background-img {
    margin-top: 10px;
}

@media(min-width: 768px) {
    .spectra-bot.mobile-only {
        display: none;
    }

    .spectra-bot.desktop-only {
        display: block;
    }

    .spectra-bot .bubble-wrapper {
        margin-bottom: -15%;
        width: 420px;
    }

    .spectra-bot.multimode .bubble-wrapper {
        margin-left: 100px;
        margin-bottom: -12%;
    }

    .spectra-bot .text-over {
        font-size: 16px;
        text-align: center;
    }

    .spectra-bot.multimode .text-over {
        font-size: 18px;
    }

    .spectra-bot.softmax .text-over {
        color: black;
        font-size: 18px;
    }

    .spectra-bot.microplate .bubble-wrapper {
        position: absolute;
        top: 15%;
        right: 40%;
        height: 230px;
    }

    .spectra-bot.microplate .text-over {
        font-size: 20px;
        padding: 60px 65px 0 31px;
    }

    .spectra-bot.absorbance-readers {
        position: relative;
    }

    .spectra-bot.absorbance-readers .background-img {
        padding-top: 30px;
    }

    .spectra-bot.absorbance-readers .bubble-wrapper {
        position: absolute;
        top: -20px;
        left: 70px;
    }
}
