.related-links-container {
  column-count: 2;
  column-gap: 30px;
}

.cols-3 {
  column-count: 3;
  column-gap: 30px;
}

.related-apps-container {
  --related-app-gap: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--related-app-gap);
}

.related-app {
  flex-basis: calc(50% - var(--related-app-gap) / 2);
  min-height: 1px;
}

.related-link  {
  line-height: 21px;
  margin-bottom: 10px;
}

li.related-link::marker {
  color: #337ab7;;
}

.related-app h1 {
  font-size: 36px;
  margin-top: 0;
}

.related-app h2,
.related-app h3 {
  font-size: 36px;
  margin-top: 0;
}

.related-app h3 {
  text-align: left;
}

.related-app strong {
  font-family: unset;
  font-weight: 700;
}

.related-app img {
  max-height: 282px;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.related-applications-container .related-links-container {
  padding-top: 26px;
  margin-top: 0;
}

.related-applications-container.toc-grey .default-content-wrapper h2,
.related-applications-container.toc-grey .related-links-container {
  background-color: var(--grey-background-color);
}

.related-applications-container div.related-applications-wrapper {
  padding-top: 0;
}

@media (max-width: 991px) {
  .related-app {
    flex-basis: 100%;
    min-height: 1px;
  }

  .related-app h3 {
    min-height: 1px;
    vertical-align: unset;
  }
}

@media (max-width: 767px) {
  .related-links-container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .related-links-container, .related-links-container.cols-3 {
    column-count: 1;
  }
}
