main .compare-banner {
  position: fixed;
  z-index: 94035;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-color-green);
  display: none;
  padding: 12px 0;
  margin-top: -40px;
}

main .compare-banner.show {
  display: block;
}

main .compare-banner .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  main .compare-banner .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  main .compare-banner .container {
    width: 970px;
  }
}

main .compare-banner .compare-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

main .compare-banner .compare-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}

main .compare-banner .compare-row .compare-cell .compare-cell {
  width: 33%;
  border-left: 1px solid #95c872;
  padding: 0;
}

main .compare-banner .compare-cell.button {
  width: 240px;
  padding: 0;
  text-overflow: unset;
  border-left: 1px solid #95c872;
}

main .compare-banner .compare-data {
  color: var(--text-white);
  font-size: 16px;
  line-height: 1.1;
  position: relative;
  padding: 5px 30px 5px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

main .compare-banner .gradiant-blue-btn.btn {
  border: 0;
  transition: all .2s;
  min-width: 140px;
  color: #fff;
  position: relative;
  height: auto;
  border-radius: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 15px 18px 16px;
  text-align: center;
}

main .compare-banner .gradiant-blue-btn.btn:hover {
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
  color: #6eb43f;
  cursor: pointer;
}

main .compare-banner .gradiant-blue-btn.btn:hover .btn_bdr {
  display: block;
  width: 50%;
  margin-bottom: 0;
  position: absolute;
  margin-left: 0;
  height: 4px;
  background: #0066a4;
  left: 25%;
  bottom: -5px;
}

main .compare-banner .compare-data .gradiant-blue-btn.btn {
  font-size: 14px;
  padding-top: 8px;
  margin-left: 2px;
  padding-bottom: 8px;
}

main .compare-banner .gradiant-blue-btn {
  background: var(--button-bg-color);
}

main .compare-banner .compare-data .close {
  min-width: inherit;
  margin-left: 1px;
  width: 18px;
  height: 18px;
  font-size: 8px;
  opacity: 1;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  right: 8px;
  top: 2px;
  background: none;
}

main .compare-banner .compare-data .close:hover {
  cursor: pointer;
}