@import url("../hero/hero.css");
@import url("../media-gallery/media-gallery.css");

.hero-advanced .hero-inner .container > div:nth-child(1) .button-container {
  margin-top: 0;
}

.hero-advanced .hero-inner .two-column p {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .hero-advanced .hero-inner {
    padding-bottom: 85px;
  }

  .hero-advanced .hero-inner h1 + div picture {
    display: none;
  }

  .hero-advanced .hero-inner h1 {
    margin-bottom: 30px;
  }

  .hero-advanced .hero-inner a.button.secondary {
   border: 2px solid #fff;
   padding: 13px 18px;
  }

  .hero-advanced .container > div{
    max-width: 66.67%;
  }
}

@media (max-width: 767px) {
  .hero-advanced .hero-inner {
    background-color: var(--grey-background-color);
    color: var(--text-color);
    padding-top: 30px;
  }

  .hero-advanced .hero-inner .container {
    position: relative;
  }

  .hero-advanced .hero-advanced .hero-inner .container > div > div > * {
    display: block;
  }

  .hero-advanced .hero-inner h1 {
    color: var(--text-color);
    font-family: var(--ff-proxima-light);
  }

  .hero-advanced .hero-inner .two-column h1+div {
    text-align: center;
  }

  .hero-advanced .hero-inner h1 + div picture img {
    width: 300px;
    height: unset;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .hero-advanced .hero-inner .video-column {
    position: absolute;
    top: 25%;
    left: 40%;
  }

  .hero-advanced .hero-inner p {
    font-size: var(--body-font-size-l);
  }

  .hero-advanced .hero-inner a.button.secondary {
    border: 2px solid var(--button-bg-color);
    color: var(--button-bg-color);
    padding: 8px 12px;
  }

  .hero-advanced .hero-inner p.button-container {
    margin-bottom: 10px;
  }
}
