/* TAB START */
.tab-wrapper {
  border-bottom: 4px solid var(--dark-gray-background-color);
  display: flex;
  flex-wrap: wrap;
}

.tab-wrapper > a {
  background: rgb(91 102 112 / 50%);
  color: var(--text-white);
  display: block;
  flex-basis: 20%;
  padding: 10px 15px;
  text-align: center;
}

.tab-wrapper > a.active {
  background-color: var(--dark-gray-background-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.tab-wrapper > a:not(:last-child) {
  border-right: 2px solid var(--background-color);
}

/* TAB END */

.section.regional-contacts-container img {
  vertical-align: middle;
}

.regional-contacts-wrapper .regional-contacts {
  margin-bottom: 80px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper {
  border: 1px solid var(--border-color-gray);
  border-top: 0;
  font-size: var(--body-font-size-s);
  margin-top: -1px;
  padding: 0 15px 20px;
  position: relative;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper::after {
  clear: both;
  content: '';
  display: table;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div {
  border-top: 1px solid var(--border-color-gray);
  padding-top: 40px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:first-child {
  border-top: none;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div ul li br:first-of-type {
  display: none;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) {
  position: relative;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper div ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:first-child {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  min-width: 100%;
  padding-left: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li {
  position: relative;
  font-size: var(--body-font-size-m);
  line-height: 1.2;
  margin-bottom: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:has(em) {
  padding-top: 10px;
  margin-top: 5px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:has(em) ~ li:has(em) {
  margin-top: 0;
  padding-top: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:nth-child(2) {
  margin: 15px 0 0;
  min-height: 40px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:first-child > li {
  align-items: center;
  display: flex;
  font-size: var(--body-font-size-xl);
  margin-bottom: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li {
  align-items: center;
  display: flex;
  padding: 10px 0;
  position: relative;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > picture,
.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li > picture {
  border: 2px solid var(--border-color-gray);
  display: block;
  padding: 10px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li > picture {
  border-radius: 50%;
  height: 140px;
  margin: 0 auto;
  overflow: hidden;
  padding: 2px;
  width: 140px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li > picture + picture {
  border: 0;
  border-radius: 0;
  bottom: 5px;
  height: auto;
  margin: auto;
  padding: 0;
  position: absolute;
  right: 55px;
  width: 30px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li > picture > img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  padding: 3px;
  width: 100%;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li > picture + picture > img {
  border-radius: 0;
  padding: 0;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:first-child > li:not(:last-child),
.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:first-child > li img {
  margin-right: 16px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:first-child > li img {
  width: 30px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li:not(:last-child)::after,
.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li:only-child::after {
  background-color: var(--border-color-gray);
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  width: 100%;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li a {
  color: inherit;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li a:hover {
  color: var(--text-green);
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li picture,
.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li i {
  display: inline-block;
  padding-right: 8px;
  vertical-align: top;
  width: 36px;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li i {
  color: var(--text-green);
  float: left;
  font-size: var(--body-font-size-xl);
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:not(:first-child) li img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:nth-child(2) strong {
  font-family: var(--ff-proxima-regular);
  font-size: var(--body-font-size-m);
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 35px 0;
  }

  .regional-contacts-wrapper .regional-contacts .accordian-btn {
    display: none;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div {
    padding: 72px 0 40px;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper div:nth-child(odd) {
    flex-basis: 40%;
    position: relative;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(2) {
    border-top: none;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper div:nth-child(even) {
    flex-basis: 60%;
    justify-content: flex-start;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul {
    flex-basis: 50%;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > p,
  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul {
    margin-top: 0;
    max-width: 330px;
    padding-left: 48px;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(odd) > ul:first-child {
    left: 0;
    margin: 0;
    min-width: 750px;
    position: absolute;
    top: 20px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul {
    flex-basis: 33.33%;
  }
}

@media only screen and (max-width: 767px) {
  .regional-contacts-wrapper .tab-wrapper {
    display: none;
  }

  .regional-contacts-wrapper .regional-contacts .accordian-btn {
    align-items: center;
    background-color: var(--text-green);
    border-top: 1px solid var(--text-white);
    color: var(--text-white);
    cursor: pointer;
    display: flex;
    font-size: var(--body-font-size-s);
    justify-content: space-between;
    padding: 12px 15px;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper {
    overflow: hidden;
    transition: height 0.35s ease;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper:not(.active) {
    display: none;
    height: 50px;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) {
    border: none;
    padding-top: 0;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 575px) {
  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li > picture {
    height: 100px;
    width: 100px;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li,
  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:nth-child(3) {
    font-size: var(--body-font-size-xs);
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:nth-child(2) {
    min-height: auto;
  }

  .regional-contacts-wrapper .regional-contacts .tab-accordian-wrapper > div:nth-child(even) > ul > li:nth-child(2) strong {
    font-size: 12px;
  }
}