<meta name="robots" content="noindex follow">
<link rel="stylesheet" href="/fragments/assay-kits-instrument-compatibility-table.css" ></link>
<div class="table_wrap">
    <div class="float_lt morecolumn col_1">
        <div class="wrap_head_col_1 row_1">Reagents</div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/gpcr-assays/flipr-calcium-assay-kits"><strong>FLIPR Calcium Assay Kits</strong></a>
            </div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/gpcr-assays/fura-2-qbt-calcium-kit"><strong>Fura-2 QBT Calcium Kit</strong></a>
            </div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/earlytox-cell-viability-assay-kits"><strong>EarlyTox Cell Viability Assay
                Kits</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/spectramax-quant-dsdna-assay-kits"><strong>SpectraMax Quant dsDNA Assay
                Kits</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/gpcr-assays/fura-2-qbt-calcium-kit"><strong>SpectraMax Glo Steady-Luc Reporter
                Assay Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/gpcr-assays/catchpoint-camp-fluorescent-assay-kit"><strong>CatchPoint cAMP/cGMP Assay
                Kits</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a href="/reagents-supplies/assay-kits/enzymes/imap-assays"><strong>IMAP Assays</strong></a>
            </div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/ion-channels/flipr-potassium-assay-kit"><strong>FLIPR Potassium Assay Kit</strong></a>
            </div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/ion-channels/flipr-membrane-potential-assay-kits"><strong>FLIPR Membrane Potential Assay
                Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/transporters/qbt-fatty-acid-uptake-assay-kit"><strong>QBT Fatty Acid Uptake Assay
                Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/transporters/neurotransmitter-transporter-uptake-assay-kit"><strong>Neurotransmitter Transporter Uptake
                Assay Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a href="/reagents-supplies/assay-kits/earlytox-cardiotoxicity-kit"><strong>EarlyTox
                Cardiotoxicity Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a href="/reagents-supplies/assay-kits/earlytox-cell-integrity-kit"><strong>EarlyTox Cell
                Integrity Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a
                    href="/reagents-supplies/assay-kits/scanlater-western-blot-assay-kit"><strong>ScanLater Western Blot Assay
                Kit</strong></a></div>
        </div>
        <div class="feat_head moretext">
            <div class="feat_col_1"><a href="/products/assay-kits/igg-quantification-assays/valitatiter"><strong>ValitaTiter IgG
                Quantitation Assay</strong></a></div>
        </div>
    </div>
    <div class="float_lt morecolumn col_2">
        <div class="wrap_head row_1"><a
                href="/systems/flipr-tetra-high-throughput-cellular-screening-system"><span class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/assay-kits-flipr-tetra.png" alt="FLIPR Tetra System"
                loading="lazy"></span><span class="txt_wrap">FLIPR Tetra System</span> </a><a
                class="req_quote" href="/quote-request?pid=flipr-penta-high-throughput-cellular-screening-systems">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
            <div class="text_tick moretext">
                <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                <div class="feat_icon">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="float_lt morecolumn col_3">
        <div class="wrap_head row_1"><a
                href="/systems/microplate-readers/multi-mode-readers/flexstation-3-multi-mode-microplate-reader"><span
                class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/assay-kits-flexstation.png"
                alt="SpectraMax Paradigm Multi-Mode Microplate Reader" loading="lazy"></span><span
                class="txt_wrap">FlexStation 3 Reader</span> </a><a class="req_quote"
                                                                    href="/quote-request?pid=flexstation-3-microplate-readers">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
    </div>
    <div class="float_lt morecolumn col_4">
        <div class="wrap_head row_1"><a
                href="/systems/microplate-readers/multi-mode-readers/spectramax-i3x-multi-mode-detection-platform"><span
                class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/assay-kits-spectramax-i3x.png"
                alt="SpectraMax M Series Multi-Mode Microplate Readers" loading="lazy"></span><span
                class="txt_wrap">SpectraMax i3x/Paradigm Readers</span> </a><a class="req_quote"
                                                                               href="/quote-request?pid=spectramax-i3x-multi-mode-microplate-reader">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon">1</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon">*</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
    </div>
    <div class="float_lt morecolumn col_5">
        <div class="wrap_head row_1"><a
                href="/systems/microplate-readers/multi-mode-readers/spectramax-m-series-multi-mode-microplate-readers"><span class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/assay-kits-spectramax-m.png"
                alt="SpectraMax M Series Readers" loading="lazy"></span><span class="txt_wrap">SpectraMax M Series Readers</span>
        </a><a class="req_quote" href="/quote-request?pid=spectramax-mini-afl-system-with-softmax-pro">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon">2</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon">3</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon">3</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
    </div>
    <div class="float_lt morecolumn col_6">
        <div class="wrap_head row_1"><a
                href="/systems/microplate-readers/multi-mode-readers/filtermax-f3-f5-multi-mode-microplate-readers"><span class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/filtermaxf5-web-image.png?itok=moztWj5Y"
                alt="Filtermax F3 &amp; F5 Multi-mode Microplate Readers" loading="lazy"></span><span
                class="txt_wrap">FilterMax F3/F5+ Readers</span> </a><a class="req_quote"
                                                                        href="/quote-request?pid=filtermax-f3-and-f5-multi-mode-microplate-readers">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
    </div>
    <div class="float_lt morecolumn col_7">
        <div class="wrap_head row_1"><a href="/systems/microplate-readers/fluorescent-readers/gemini-em"><span class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/assay-kits-gemini.png" alt="Gemini EM/XPS++ Readers"
                loading="lazy"></span><span class="txt_wrap">Gemini EM/XPS++ Readers</span> </a><a
                class="req_quote" href="/quote-request?pid=gemini-xps-and-em-microplate readers">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon">++</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
    </div>
    <div class="float_lt morecolumn col_8">
        <div class="wrap_head row_1"><a
                href="/systems/high-content-imaging/imagexpress-micro-xls-widefield-high-content-analysis-system"><span class="service-icon"><img
                src="/fragments/assay-kits-instrument-compatibility-table/assay-kits-imagexpress-micro-xls.png"
                alt="ImageXpress Micro XLS System" loading="lazy"></span><span class="txt_wrap">ImageXpress Micro XLS System</span>
        </a><a class="req_quote" href="/quote-request?pid=imagexpress-micro-xls-widefield-high-content-analysis-system">Request
            Quote</a></div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>IMAP Assays</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
        <div class="text_tick moretext">
            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
            <div class="feat_icon">&nbsp;</div>
        </div>
    </div>
</div>

<div class="ct_text_wrap">
    <p>* SpectraMax i3x with MiniMax 300 Imaging Cytometer</p>
    <p>++ Gemini XPS Reader</p>
    <p>1 SpectraMax i3x with Injector Cartridge</p>
    <p>2 SpectraMax M5e/M5 Reader</p>
    <p>3 All <a href="/products/microplate-readers/multi-mode-readers/spectramax-m-series-readers">SpectraMax M Series</a> Readers except M2 Reader</p>
</div>
