<link rel="stylesheet" href="/fragments/assay-kits-instrument-compatibility-table.css" ></link>

<div class="editor_discription">
    <style type="text/css">
        <!-- /*--><![CDATA[/* ><!--*/
        .moretext {
            min-height: 92px;
        !important
        }

        /*--><!]]>*/
    </style>
    <div class="pdf-content">
        <div class="intro-inner row">
            <div class="col-md-12">
                <div class="table_wrap">
                    <div class="float_lt morecolumn col_1">
                        <div class="wrap_head_col_1 row_1">Reagents</div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/gpcr-assays/flipr-calcium-assay-kits"
                                    data-di-id="di-id-c9a622ff-9a33d347"><strong>FLIPR Calcium Assay Kits</strong></a>
                            </div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/gpcr-assays/fura-2-qbt-calcium-kit"
                                    data-di-id="di-id-a568093d-be3f4385"><strong>Fura-2 QBT Calcium Kit</strong></a>
                            </div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/earlytox-cell-viability-assay-kits"
                                    data-di-id="di-id-a568093d-6e3a6622"><strong>EarlyTox Cell Viability Assay
                                Kits</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/spectramax-quant-dsdna-assay-kits"
                                    data-di-id="di-id-a568093d-7ead1cf9"><strong>SpectraMax Quant dsDNA Assay
                                Kits</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/gpcr-assays/fura-2-qbt-calcium-kit"
                                    data-di-id="di-id-a568093d-be3f4385"><strong>SpectraMax Glo Steady-Luc Reporter
                                Assay Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/gpcr-assays/catchpoint-camp-fluorescent-assay-kit"
                                    data-di-id="di-id-29e1cbe9-f58246ee"><strong>CatchPoint cAMP/cGMP Assay
                                Kits</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a href="/reagents-supplies/assay-kits/enzymes/imap-assays"
                                                       data-di-id="di-id-5093cfd2-fde2e06e"><strong>IMAP Assays</strong></a>
                            </div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/ion-channels/flipr-potassium-assay-kit"
                                    data-di-id="di-id-a8a11307-5da4a7e1"><strong>FLIPR Potassium Assay Kit</strong></a>
                            </div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/ion-channels/flipr-membrane-potential-assay-kits"
                                    data-di-id="di-id-37680170-5a823c9e"><strong>FLIPR Membrane Potential Assay
                                Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/transporters/qbt-fatty-acid-uptake-assay-kit"
                                    data-di-id="di-id-8ffb842f-8442efbe"><strong>QBT Fatty Acid Uptake Assay
                                Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/transporters/neurotransmitter-transporter-uptake-assay-kit"
                                    data-di-id="di-id-9e0f6c0-d8fe31b8"><strong>Neurotransmitter Transporter Uptake
                                Assay Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a href="/reagents-supplies/assay-kits/earlytox-cardiotoxicity-kit"
                                                       data-di-id="di-id-7cf46bc6-5cc3dfd"><strong>EarlyTox
                                Cardiotoxicity Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a href="/reagents-supplies/assay-kits/earlytox-cell-integrity-kit"
                                                       data-di-id="di-id-7cf46bc6-a698dd3"><strong>EarlyTox Cell
                                Integrity Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a
                                    href="/reagents-supplies/assay-kits/scanlater-western-blot-assay-kit"
                                    data-di-id="di-id-6dd62623-d9b5779e"><strong>ScanLater Western Blot Assay
                                Kit</strong></a></div>
                        </div>
                        <div class="feat_head moretext">
                            <div class="feat_col_1"><a href="/products/assay-kits/igg-quantification-assays/valitatiter"
                                                       data-di-id="di-id-7cf46bc6-30199064"><strong>ValitaTiter IgG
                                Quantitation Assay</strong></a></div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_2">
                        <div class="wrap_head row_1"><a
                                href="/systems/flipr-tetra-high-throughput-cellular-screening-system"
                                data-di-id="di-id-9e19ea37-4861297f"><span class="service-icon"><img
                                src="/sites/default/files/product/assay-kits-flipr-tetra.png" alt="FLIPR Tetra System"
                                loading="lazy"></span><span class="txt_wrap">FLIPR Tetra System</span> </a><a
                                class="req_quote" href="/quote-request?pid=106" data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                            <div class="text_tick moretext">
                                <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                                <div class="feat_icon">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_3">
                        <div class="wrap_head row_1"><a
                                href="/systems/microplate-readers/multi-mode-readers/flexstation-3-multi-mode-microplate-reader"
                                data-di-id="di-id-3b55de05-7830f552"><span class="service-icon"><img
                                src="/sites/default/files/product/assay-kits-flexstation.png"
                                alt="SpectraMax Paradigm Multi-Mode Microplate Reader" loading="lazy"></span><span
                                class="txt_wrap">FlexStation 3 Reader</span> </a><a class="req_quote"
                                                                                    href="/quote-request?pid=183"
                                                                                    data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_4">
                        <div class="wrap_head row_1"><a
                                href="/systems/microplate-readers/multi-mode-readers/spectramax-i3x-multi-mode-detection-platform"
                                data-di-id="di-id-76e87e3e-83c0ab7e"><span class="service-icon"><img
                                src="/sites/default/files/product/assay-kits-spectramax-i3x.png"
                                alt="SpectraMax M Series Multi-Mode Microplate Readers" loading="lazy"></span><span
                                class="txt_wrap">SpectraMax i3x/Paradigm Readers</span> </a><a class="req_quote"
                                                                                               href="/quote-request?pid=223"
                                                                                               data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon">1</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon">*</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_5">
                        <div class="wrap_head row_1"><a
                                href="/systems/microplate-readers/multi-mode-readers/spectramax-m-series-multi-mode-microplate-readers"
                                data-di-id="di-id-a1ed8391-5c4c1c40"><span class="service-icon"><img
                                src="/sites/default/files/product/assay-kits-spectramax-m.png"
                                alt="SpectraMax M Series Readers" loading="lazy"></span><span class="txt_wrap">SpectraMax M Series Readers</span>
                        </a><a class="req_quote" href="/quote-request?pid=176" data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon">2</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon">3</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon">3</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_6">
                        <div class="wrap_head row_1"><a
                                href="/systems/microplate-readers/multi-mode-readers/filtermax-f3-f5-multi-mode-microplate-readers"
                                data-di-id="di-id-76e87e3e-8fda8a7b"><span class="service-icon"><img
                                src="/sites/default/files/product/filtermaxf5-web-image.png?itok=moztWj5Y"
                                alt="Filtermax F3 &amp; F5 Multi-mode Microplate Readers" loading="lazy"></span><span
                                class="txt_wrap">FilterMax F3/F5+ Readers</span> </a><a class="req_quote"
                                                                                        href="/quote-request?pid=6"
                                                                                        data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_7">
                        <div class="wrap_head row_1"><a href="/systems/microplate-readers/fluorescent-readers/gemini-em"
                                                        data-di-id="di-id-1de9a088-c9ddb8d8"><span class="service-icon"><img
                                src="/sites/default/files/product/assay-kits-gemini.png" alt="Gemini EM/XPS++ Readers"
                                loading="lazy"></span><span class="txt_wrap">Gemini EM/XPS++ Readers</span> </a><a
                                class="req_quote" href="/quote-request?pid=297" data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon">++</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                    </div>
                    <div class="float_lt morecolumn col_8">
                        <div class="wrap_head row_1"><a
                                href="/systems/high-content-imaging/imagexpress-micro-xls-widefield-high-content-analysis-system"
                                data-di-id="di-id-3b55de05-43f8fd55"><span class="service-icon"><img
                                src="/sites/default/files/product/assay-kits-imagexpress-micro-xls.png"
                                alt="ImageXpress Micro XLS System" loading="lazy"></span><span class="txt_wrap">ImageXpress Micro XLS System</span>
                        </a><a class="req_quote" href="/quote-request?pid=1990" data-di-id="di-id-fc05fd-bcefec88">Request
                            Quote</a></div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Calcium Assay Kits</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Fura-2 QBT Calcium Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Viability Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Quant dsDNA Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>SpectraMax Glo Steady-Luc Reporter Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>CatchPoint cAMP/cGMP Assay Kits</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>IMAP Assays</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Potassium Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>FLIPR Membrane Potential Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>QBT Fatty Acid Uptake Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>Neurotransmitter Transporter Uptake Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cardiotoxicity Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>EarlyTox Cell Integrity Kit</strong></div>
                            <div class="feat_icon"><em><i class="fa fa-check" aria-hidden="true">&nbsp;</i></em></div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ScanLater Western Blot Assay Kit</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                        <div class="text_tick moretext">
                            <div class="feat"><strong>ValitaTiter IgG Quantitation Assay</strong></div>
                            <div class="feat_icon">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="ct_text_wrap">
            <p>* SpectraMax i3x with MiniMax 300 Imaging Cytometer</p>
            <p>++ Gemini XPS Reader</p>
            <p>1 SpectraMax i3x with Injector Cartridge</p>
            <p>2 SpectraMax M5e/M5 Reader</p>
            <p>3 All <a href="/products/microplate-readers/multi-mode-readers/spectramax-m-series-readers"
                        data-di-id="di-id-742cc874-d54bf710">SpectraMax M Series</a> Readers except M2 Reader</p>
        </div>
    </div>
</div>
