.feat_icon .fa-check:before {
    color: #008298;
    border: 1px solid #008298;
    border-radius: 50%;
    padding: 3px;
    font-size: 16px
}

.feat_head.moretext,
.text_tick.moretext {
    min-height: 92px;
}

.ct_text_wrap p {
    margin: 0 0 10px
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.morecolumn {
    float: left;
    width: 124px !important;
    text-align: center;
    padding: 0 18px;
    border-right: 2px solid #f5f5f5
}

.wrap_head {
    float: left;
    width: 100%;
    text-align: center
}

.txt_wrap {
    font-size: 13px;
    min-height: 76px;
    float: left;
}

.service-icon {
    display: block;
    margin-bottom: 30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid #f8a100;
    padding-top: 35px;
    position: relative;
}

a.req_quote {
    float: left;
    width: 100%;
    margin: 20px auto;
    background: #f8a306;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 3px 2px
}

.ct_text_wrap p {
    margin-bottom: 0
}

.ct_text_wrap {
    margin-bottom: 40px
}

.table_wrap {
    float: left;
    width: 100%
}

.float_lt {
    float: left;
    width: 142px;
    text-align: center;
    padding: 0 18px;
    border-right: 2px solid #f5f5f5
}

.text_tick {
    float: left;
    width: 100%;
    min-height: 70px;
    padding: 20px 0
}

.feat strong {
    color: #008298;
    font-size: 14px;
    font-weight: 600
}

.feat_col_1 strong {
    color: #008298;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--ff-proxima-light);
}

.wrap_head_col_1 {
    color: #666 !important;
    text-transform: capitalize;
    font-size: 22px;
    min-height: 300px;
    padding-top: 124px;
    text-align: left;
    font-weight: bold
}

.feat_head {
    float: left;
    width: 100%;
    min-height: 70px
}

.feat_col_1 {
    float: left;
    width: 100%;
    text-align: left
}

.feat_icon {
    color: #008298;
    font-size: 12px
}

.wrap_head.row_1 {
    float: left;
    width: 142px;
    padding: 0 15px;
    z-index: 99999;
    background-color: #fff
}

.wrap_head_col_1.row_1 {
    float: left;
    width: 155px;
    text-align: left;
    z-index: 99999;
    height: 300px;
    background-color: #fff;
    vertical-align: middle;
    display: table-cell;
    padding: 0 15px;
    margin-left: -13px;
    padding-top: 237px !important;
    font-size: 18px
}

.panel:last-child, .popover ol:last-child, .popover ul:last-child, p:last-child {
    margin-bottom: 0
}

.form-group:last-child, .panel:last-child, .popover ol:last-child, .popover ul:last-child, p:last-child {
    margin-bottom: 0
}

@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (max-width: 991px) {
    body {
        transition: none !important;
        padding-top: 70px !important
    }

    header.fixed-header {
        top: 0 !important
    }

    header.fixed-header .container {
        padding-left: 15px !important;
        padding-right: 15px !important
    }
}

@media (max-width: 767px) {
    p {
        font-size: 14px
    }

    h1, h2 {
        font-size: 36px
    }
}

@media (max-width: 767px) {
    .content-section.paddB50 {
        padding: 30px 0 30px 0
    }

    .biologics-cls .content-section h2 {
        margin-bottom: 0
    }

    .content-section.biologics-landing {
        padding: 45px 0 0
    }

    .cover-bg-new.content-section.ptop-50 {
        padding-top: 0 !important
    }

    .content-section.fortebio-bio .section-heading h2 {
        margin-bottom: 35px
    }

    .video-description p.appvideodesc {
        margin-bottom: 0 !important
    }

    .content-section.fortebio-bio .view-header .section-heading.animBlock h2 {
        margin-bottom: 0
    }

    .banner_instrument_detail h1.hero-heading {
        margin-top: 0
    }

    .content-section.grey_molecules_bg_top {
        padding-bottom: 0
    }

    .figure-container.application_bottom p {
        font-size: 14px !important
    }

    .page-node-type-applications .figure-container h2 {
        min-height: auto
    }

    .tabbingContainer .content-section.paddB50 .row {
        margin-bottom: 0 !important
    }

    p:last-child {
        margin-bottom: 10px
    }

    .horizontal-list-tab li .figure-container ul li {
        font-size: 14px
    }

    .tabWrapper .tab-content ul li {
        font-size: 14px
    }

    .careers-banner .gradiantBlueBtn.btn {
        min-width: 150px
    }
}

@media (max-width: 767px) {
    .recent-posts .blogListBox .textBox h3 {
        font-size: 18px !important
    }

    .application-other-resources .pro-container {
        height: auto
    }

    .application-other-resources.pro_car_wrap {
        margin-left: 0;
        margin-right: 0
    }

    .homepagebrkthrough .brk-through-slider.left-breakthrough.comment-part.green.pltredr-comment.no-greybg {
        margin-top: 187px
    }

    .homepagebrkthrough .brk-through-slider.left-breakthrough.comment-part.green.pltredr-comment.no-greybg {
        min-height: auto;
        display: block;
        background-color: #116da7;
        position: relative
    }

    .class_show_store .archived-list .customSelect.open {
        z-index: 11 !important
    }

    .class_show_store .archived-list .customSelect .btn-default {
        padding-left: 12px
    }

    .section-heading.text-center.webinar-section-heading {
        margin-top: 10px
    }

    span.img-ico {
        margin-top: -3px;
        height: 28px;
        width: 28px
    }

    .resources_video_desc.iconvideos {
        margin-top: 28px
    }

    .resources_video_desc.iconvideos p {
        width: 71%
    }

    .filter_productcat .bootstrap-select.btn-group .dropdown-menu {
        z-index: 998 !important
    }

    .row.marg-tp-50.hidefrm-1990 {
        display: block
    }

    p.green-link {
        font-size: 18px
    }

    .brk-through-slider.comment-part.left-breakthrough p.white-text {
        font-size: 27px
    }

    .brk-through-slider.right-breakthrough.comment-part.green.pltredr-comment {
        min-height: 100%;
        background-color: #61b249;
        background: linear-gradient(90deg, rgba(97, 178, 73, 1) 0, rgba(46, 159, 121, 1) 50%, rgba(21, 145, 164, 1) 100%);
        position: relative;
        display: block
    }

    .brk-through-slider.left-breakthrough.comment-part.green.pltredr-comment.no-greybg {
        background-image: none;
        min-height: auto
    }

    #Overview .brk-through-slider.left-breakthrough.comment-part.green.pltredr-comment.no-greybg {
        background-image: none;
        margin-top: 66px
    }

    .brk-through-slider.left-breakthrough.comment-part.green.pltredr-comment {
        background-image: none;
        overflow: visible;
        display: block;
        background-color: #116da7;
        position: relative
    }

    .homepagebrkthrough .brk-through-slider.left-breakthrough.comment-part.green.pltredr-comment.no-greybg {
        background: linear-gradient(to bottom, transparent 0, transparent 25%, #116da7 25%, #116da7 75%);
        margin-top: 0
    }

    .right-breakthrough.comment-part.pltredr-comment .testimonial-slider .comment-text p.green-text, .left-breakthrough.comment-part.pltredr-comment .testimonial-slider .comment-text p.green-text {
        font-size: 16px
    }

    .right-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .image-part.subcat-right-img, .left-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .image-part.subcat-right-img {
        height: 290px;
        width: 260px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        top: -157px
    }

    .left-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .image-part.subcat-right-img {
        top: -157px
    }

    .left-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .image-part.subcat-right-img.blue-circle {
        background-image: url("/themes/moldev/images/slideer-testimonial/blue-circle.png");
        height: 290px;
        width: 260px;
        background-repeat: no-repeat;
        background-size: 100%;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        top: 20px
    }

    .left-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .image-part.subcat-right-img.blue-circle img {
        height: 255px;
        width: 240px;
        border-radius: 50%;
        position: absolute;
        left: 11px;
        right: 0;
        top: 7px;
        margin: 0 auto
    }

    .right-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .comment-text, .left-breakthrough.comment-part.green.pltredr-comment .testimonial-slider .blue-white-text {
        margin-left: 0;
        max-width: 100%;
        float: none;
        text-align: center
    }

    .right-breakthrough.comment-part.pltredr-comment .testimonial-slider .item, .left-breakthrough.comment-part.pltredr-comment .testimonial-slider .item {
        padding: 0 20px 70px 20px;
        max-width: 90%;
        margin: auto
    }

    .left-breakthrough.comment-part.pltredr-comment .testimonial-slider .scroll-item {
        padding-top: 20px;
        padding-bottom: 0
    }

    .comment-part.green .testimonial-slider .comment-text:after {
        right: 20px
    }

    .brk-through-slider.right-breakthrough .owl-dots, .brk-through-slider.left-breakthrough .owl-dots {
        position: absolute;
        top: auto;
        text-align: center;
        right: 0;
        margin: auto;
        display: block;
        left: 0;
        bottom: 20px
    }

    .page-node-type-resources .video {
        width: 100%
    }

    .editor_discription p {
        font-size: 16px
    }

    .editor_discription p ul li {
        font-size: 16px
    }

    div.wt_bg .row > [class^="col-"] {
        background: unset
    }

    .fixed_left_column .fixed_list {
        padding: 15px 15px 15px 0
    }

    .ex-ht {
        background-image: none !important;
        background-color: #f0f1f2 !important
    }

    .ex-ht .visible-xs-block img {
        max-width: 300px;
        margin: 0 auto;
        display: block;
        float: none
    }

    .ex-ht.white-text *:not(.btn), .ex-ht.white-text.section-image .bannerInnerPages p.legend {
        color: #34393d
    }

    .ex-ht.white-text .media-gallery .slidercontrol *, .ex-ht.white-text .media-flex .carousel-control span {
        color: #fff
    }

    .comparison-table .comparison-row:first-child > .row {
        flex-wrap: nowrap
    }

    .ex-ht {
        padding-bottom: 0
    }
}

@media (min-width: 1201px) {
    .float_lt {
        padding: 0
    }

    .feat {
        display: none
    }

    .wrap_head.row_1 {
        float: left;
        width: 142px;
        padding: 0 15px;
        z-index: 1
    }
}

@media (max-width: 1200px) {
    .fa.fa-check {
        margin-right: 15px
    }

    .table_wrap {
        margin-top: 30px
    }

    .float_lt.col_1 {
        display: none
    }

    .feat {
        margin: 10px 0;
        width: calc(100% - 107px);
        display: table-cell;
        vertical-align: middle
    }

    .float_lt {
        float: left;
        max-width: 270px;
        width: 100% !important;
        text-align: center;
        margin: 0 18px;
        border: 1px solid #cecece;
        padding: 20px;
        margin-bottom: 20px
    }

    .feat strong {
        word-wrap: break-word
    }

    .text_tick {
        border-bottom: 1px solid #cecece;
        padding: 20px 0;
        display: table;
        text-align: left
    }

    .text_tick:last-child {
        border-bottom: 1px solid transparent
    }

    .wrap_head {
        float: none !important;
        width: 100%;
        text-align: center;
        max-width: 142px;
        display: block;
        margin: 0 auto
    }

    .feat_icon {
        vertical-align: middle;
        display: table-cell;
        width: 107px;
        text-align: right
    }

    .wrap_head_col_1.row_1 {
        padding-top: 0 !important
    }

    .table_wrap {
        float: none;
        width: 100%;
        max-width: 920px;
        display: block;
        margin: 0 auto
    }

    .ct_text_wrap p {
        margin-bottom: 0;
        float: left;
        width: 100%
    }
}

@media (max-width: 960px) {
    .table_wrap {
        float: none;
        width: 100%;
        max-width: 614px;
        display: block;
        margin: 0 auto
    }

    .ct_text_wrap p {
        margin-bottom: 0;
        float: left;
        width: 100%
    }
}

@media only screen and (min-width: 481px) and (max-width: 667px) {
    .float_lt {
        max-width: 95%
    }

    .wrap_head {
        float: none;
        width: 100%;
        text-align: center;
        max-width: 144px;
        display: block;
        margin: 0 auto
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .float_lt {
        max-width: 95% !important
    }

    .wrap_head {
        float: none;
        width: 100%;
        text-align: center;
        max-width: 142px;
        display: block;
        margin: 0 auto
    }
}
