.breadcrumbs {
  --breadcrumbs-font-size: 12px;

  padding-top: 20px;
  padding-bottom: 30px;
}

.breadcrumbs ol {
  padding: 0;
  margin: 0;
  line-height: 0.75;
}

.breadcrumbs li {
  display: inline;
  font-size: var(--breadcrumbs-font-size);
  vertical-align: middle;
  font-family: var(--ff-proxima-xbold);
}

.breadcrumbs li+li::before {
  content: ">\00a0";
  padding: 0 2px 0 7px;
}

.breadcrumbs li a {
  cursor: pointer;
  color: var(--text-color);
  font-family: var(--ff-proxima-regular);
}

.breadcrumbs li.active {
  font-family: var(--ff-proxima-xbold);
}

@media (max-width: 767px) {
.breadcrumbs {
    display: none;
  }
}