.blog .section div.blog-teaser-wrapper {
  max-width: unset;
  margin-bottom: 100px;
  padding-top: 0;
}

.blog .section.blog-heading div.blog-teaser-wrapper {
  margin-bottom: 0;
}

.blog-teaser-item {
  box-shadow: 0 1px 15px rgba(0 0 0 / 40%);
  margin: 50px 0;
}

.blog-teaser-item .blog-teaser-thumb {
  overflow: hidden;
  width: 100%;
}

.blog-teaser-item .blog-teaser-thumb a,
.blog-teaser-item .blog-teaser-thumb picture,
.blog-teaser-item .blog-teaser-thumb img {
  display: block;
}

.blog-teaser-item .blog-teaser-thumb a {
  height: 100%;
}

.blog-teaser-item .blog-teaser-thumb img {
  transition: transform .5s ease-in-out;
  width: 100%;
  height: auto;
  max-height: 290px;
  object-fit: cover;
}

.featured .blog-teaser-item .blog-teaser-thumb img{
  max-height: 575px;
}

.blog-teaser-item .blog-teaser-thumb:hover img {
  transform: scale(1.1);
}

.blog-teaser-item .blog-teaser-caption {
  padding: 40px 30px;
  text-align: center;
}

.blog-teaser-item .blog-teaser-caption h3 {
  font-size: 40px;
  font-family: var(--ff-proxima-regular);
  margin-top: 14px;
  margin-bottom: 30px;
  min-height: 49px;
  font-weight: bold;
  line-height: 1.1;
}

.blog-teaser-item .blog-teaser-caption h3 a {
  color: inherit;
}

.blog-teaser-item .blog-teaser-caption .metadata {
  margin: 0 0 20px;
}

.blog-teaser-item .blog-teaser-caption .metadata > div {
  font-size: 17px;
  display: inline-block;
  margin-right: 15px;
  font-family: var(--ff-proxima-regular);
}

.blog-teaser-item .blog-teaser-caption .metadata i {
  margin-right: 4px;
}

.blog-teaser-item .blog-teaser-caption .button-container {
  margin-top: 40px
}

.blog-teaser-item .blog-teaser-caption .button.primary {
  min-width: 140px;
  max-width: unset;
  width: unset;
  color: #fff;
  position: relative;
  height: auto;
  border-radius: 10px;
  font-family: var(--ff-proxima-regular);
  font-size: 18px;
  line-height: 18px;
  padding: 15px 18px 16px;
  background: linear-gradient(90deg,rgb(21 145 164) 0,rgb(46 159 121) 50%,rgb(97 178 73) 100%);
}

@media (max-width: 991px) {
  .blog-teaser-item .blog-teaser-caption .metadata {
    max-width: 236px;
    margin: 0 auto;
    padding-left: 40px;
  }

  .blog-teaser-item .blog-teaser-caption .metadata > div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .blog-teaser-item .blog-teaser-caption .metadata i {
    margin-right: 20px;
  }

  .blog-teaser-item .blog-teaser-caption .metadata span {
    text-align: left;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 767px) {
  .blog-teaser-item .blog-teaser-thumb img {
    /* fix CLS on mobile: set the the height relative to port width */
    height: 46.3vw;
  }
}
