/* nav layout */
header {
  position: relative;
  z-index: 500;
  top: 0;
  background: #fff;
  width: 100%;
}

header .block {
  position: relative;
  padding-bottom: 46px;
}

header .nav-tabs li {
  float: left;
  border: 0;
  position: static;
  display: block;
  min-width: inherit !important;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header .navbar-header {
  position: relative;
  z-index: 99999;
}

/* Company Links (carrers/languages/...) */
header .navbar-header > .company-links {
  position: absolute;
  top: 34px;
  right: -26px;
  display: none;
}

header .company-links > ul {
  list-style: none;
  padding-left: 30px;
  margin-bottom: 0;
  display: inline-block;
  margin-top: 0;
}

header .nav-tabs>li {
  height: 46px;
  flex-grow: 1;
  float: left;
  border: 0;
  position: static;
  display: block;
  min-width: inherit !important;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

header .company-links > ul > li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 30px;
}

header .company-links a {
  color: #6a747c;
}

header .company-links img {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
  vertical-align: center;
  font-style: italic;
}

header .company-links ul li {
  font-size: 10px;
  color: #6a747c;
  text-transform: uppercase;
  text-decoration: none;
}

header .company-links > ul > li:last-child {
  margin-right: 0;
}

/* Nav */
header .mainmenu-wrapper {
  display: none;
}

/* sections */
header .nav-tabs {
  display: flex;
  width: 100%;
  float: right;
  list-style: none;
  padding: 0;
  position: static !important;
  border: 0;
  margin-top: 0;
}

header .nav-tabs>li>div {
  padding: 11px 0;
  text-transform: uppercase;
  text-align: left;
  margin-top: 4px;
  margin-bottom: -1px;
  border: 0;
  margin-right: 0;
  font-size: 12px;
  cursor: pointer !important;
  background-color: transparent;
  font-weight: 300;
}

header nav .nav-sections {
  display: block;
  visibility: visible;
  white-space: nowrap;
}

#header-logo {
  height:73px;
}

header #header-logo picture {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

@media (min-width: 768) {
  header .container {
    width: 750px;
  }

  header .navbar-header {
    margin: 0;
    padding:30px 0 20px;
  }
}

@media (min-width: 900px) {
  header nav {
    justify-content: space-between;
  }

  header nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
  }
}

@media (max-width: 991px) {
  header .navbar-header {
    position: relative;
    padding: 20px 15px;
    width: 100%;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
  }

  header #header-logo img {
    max-width: 100px;
    max-height: 22px;
    height: auto;
  }
}

@media (min-width: 992px) {
  header .container {
    width: 970px;
  }

  header .navbar-header {
    padding: 30px 0 21px;
    min-height: 90px;
    width: 100%;
    display: flex;
  }

  header .navbar-header > .company-links {
    display: block;
  }

  header .mainmenu-wrapper {
    box-shadow: 1px 3px 26px -4px rgb(0 0 0 / 75%);
    height: 100%;
    max-height: 46px;
    min-height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    display: block;
  }

  header .mainmenu-wrapper>nav {
    width: 100%;
  }

  header .nav-tabs>li>div {
    font-size: 12px;
  }

  header .nav-tabs > li.header-search {
    margin-top: 0;
    text-align: center;
  }

  header .nav-tabs > li.fa-search {
    color: var(--text-color);
    display: block;
    padding: 15px 0 15px 13px;
    position: relative;
  }

  header .nav-tabs > li.fa-search::before {
    background-color: #fff;
    padding: 9px;
    border-radius: 50%;
    border: 2px solid var(--header-color-orange);
    color: #ee7624;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: translate(-3px,-12px);
    line-height: 18px;
  }

  header .nav-tabs > li.searchlink>a {
    display: none;
    font-size: 12px;
  }

  header .nav-tabs > li.header-rfq > a {
    padding: 24px 35px 15px;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
    border-radius: 100%;
    height: 161px;
    width: 135px;
    margin-top: -99px;
    display: flex;
    align-items: flex-end;
    box-shadow: -8px 4px rgb(238 118 36 / 30%);
    z-index: 9999 !important;
    position: relative;
    background: var(--header-color-orange);
    font-size: 15px;
  }

  /* request quote */
  header .nav-tabs > li.header-rfq {
    height: 72px;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    margin-left: 5px;
    overflow: hidden;
  }

  header nav .nav-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: static;
  }
}

@media (min-width: 1200px) {
  header .container {
    width: 1170px;
  }

  header .nav-tabs>li>div {
    font-size: 14px;
  }
}