/* nav layout */
header {
  position: relative;
  z-index: 500;
  top: 0;
  background: var(--background-color);
  width: 100%;
}

header .block {
  position: relative;
  padding-bottom: 46px;
}

header .nav-tabs li {
  float: left;
  border: 0;
  position: static;
  display: block;
  min-width: inherit !important;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header .navbar-header {
  position: relative;
  z-index: 99999;
}

/* Company Links (carrers/languages/...) */
header .navbar-header > .company-links {
  position: absolute;
  top: 45px;
  right: -1px;
  display: none;
}

header .company-links > ul {
  list-style: none;
  padding-left: 30px;
  margin-bottom: 0;
  display: inline-block;
  margin-top: 0;
}

header .nav-tabs>li {
  flex-grow: 1;
  float: left;
  border: 0;
  position: static;
  display: block;
  min-width: inherit !important;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

header .company-links > ul > li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 30px;
}

header .company-links a {
  color: #6a747c;
}

header .company-links img {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  background-position: center;
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
  font-style: italic;
}

header .company-links ul li {
  font-size: 10px;
  color: #6a747c;
  text-transform: uppercase;
  text-decoration: none;
}

header .nav-tabs .menu-nav-submenu-sections li {
  float: none;
  border: 0;
  position: static;
  display: block;
  min-width: inherit !important;
  margin: 0;
  padding: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-left: -40px;
}

header .company-links > ul > li:last-child {
  margin-right: 0;
}

/* Nav */
header .mainmenu-wrapper {
  display: none;
}

/* sections */
header .nav-tabs {
  display: flex;
  width: 100%;
  float: right;
  list-style: none;
  padding: 0;
  position: static !important;
  border: 0;
  margin-top: 0;
}

header .nav-tabs .menu-nav-category {
  padding: 11px 0;
  text-transform: uppercase;
  text-align: left;
  margin-top: 4px;
  margin-bottom: -1px;
  border: 0;
  margin-right: 0;
  font-size: 12px;
  cursor: pointer !important;
  background-color: transparent;
  font-weight: 300;
}

header nav .nav-sections {
  display: block;
  visibility: visible;
  white-space: nowrap;
}

#header-logo {
  height:73px;
}

header #header-logo picture {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/* submenus */
header .nav-tabs .menu-nav-submenu {
  top: 100;
  left: 0;
  right: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
  display: block;
  opacity: 1;
  visibility: visible;
  position: absolute;
  background: var(--background-color) url('/images/header-background-filler.jpg') no-repeat right bottom;
}

header .nav-tabs .menu-nav-submenu div {
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 30px;
}

header .nav-tabs .menu-nav-submenu-sections li h2 {
  border-bottom: 0;
  color: var(--background-color);
  font-size: 18px;
  padding: 9px 20px 6px;
  font-family:'Proxima Nova Light', sans-serif;
  margin: 0 2px 0 0;
}

.header .nav-tabs .menu-nav-submenu > div > h1 {
  font-size: 36px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: var(--header-mega-menu-font-color);
  border-bottom: 0;
  padding: 9px 20px 6px;
  margin: 20px 2px 0 0;
}

.header .nav-tabs .menu-nav-submenu a {
  color: inherit;
}

.header .nav-tabs .menu-nav-submenu-head {
  background: transparent;
  box-shadow: none !important;
  position: absolute;
  right: 0;
  top: 75px;
  transform: translateX(370px);
  width: calc(100vh - 370px) !important;
}

.header .nav-tabs .head-submenu {
  display: flex;
  justify-content: space-between;
}

.header .nav-tabs .head-submenu > div {
  background-size: 250px;
  color: var(--background-color);
  height: 350px;
  background-position: 110% 154%;
  background-color: #161e2d;
  position: relative;
  padding-top: 20px;
  width: 50%;
}

header .nav-tabs .menu-nav-submenu ul {
  float: none;
}

header .nav-tabs .menu-nav-submenu-sections {
  display: block;
  border-right: 1px solid var(--header-mega-menu-border-color);
  border-top: 1px solid var(--header-mega-menu-border-color);
  width: 330px;
  margin-top: 0;
}

@media (min-width: 768) {
  header .container {
    width: 750px;
  }

  header .navbar-header {
    margin: 0;
    padding:30px 0 20px;
  }
}

@media (min-width: 900px) {
  header nav {
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  header .navbar-header {
    position: relative;
    padding: 20px 15px;
    width: 100%;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
  }

  header #header-logo img {
    max-width: 100px;
    max-height: 22px;
    height: auto;
  }
}

@media (min-width: 992px) {
  header .container {
    width: 970px;
  }

  header .navbar-header {
    padding: 30px 0 21px;
    min-height: 90px;
    width: 100%;
    display: flex;
  }

  header .navbar-header > .company-links {
    display: block;
  }

  header .mainmenu-wrapper {
    box-shadow: 1px 3px 26px -4px rgb(0 0 0 / 75%);
    height: 100%;
    max-height: 46px;
    min-height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    display: block;
  }

  header .mainmenu-wrapper>nav {
    width: 100%;
  }

  header .nav-tabs>li>div {
    font-size: 12px;
  }

  header .nav-tabs > li.header-search {
    margin-top: 0;
    text-align: center;
  }

  header .nav-tabs > li.fa-search {
    color: var(--text-color);
    display: block;
    padding: 15px 0 15px 13px;
    position: relative;
  }

  header .nav-tabs > li.fa-search::before {
    background-color: var(--background-color);
    padding: 9px;
    border-radius: 50%;
    border: 2px solid var(--header-color-orange);
    color: #ee7624;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: translate(-3px,-12px);
    line-height: 18px;
  }

  header .nav-tabs li a {
    padding: 11px 0;
    text-transform: uppercase;
    text-align: left;
    margin-top: 4px;
    margin-bottom: -1px;
    border: 0;
    margin-right: 0;
  }

  header .nav-tabs > li.searchlink>a {
    display: none;
    font-size: 12px;
  }

  header .nav-tabs > li.header-rfq > a {
    padding: 24px 35px 15px;
    text-transform: uppercase;
    color: var(--background-color);
    text-align: center;
    border-radius: 100%;
    height: 161px;
    width: 135px;
    margin-top: -99px;
    display: flex;
    align-items: flex-end;
    box-shadow: -8px 4px rgb(238 118 36 / 30%);
    z-index: 9999 !important;
    position: relative;
    background: var(--header-color-orange);
    font-size: 15px;
  }

  /* request quote */
  header .nav-tabs > li.header-rfq {
    height: 72px;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    margin-left: 5px;
    overflow: hidden;
  }

  header nav .nav-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: static;
  }

  header .nav-tabs .menu-nav-submenu {
    min-height: 782px;
    padding-bottom: 9.4%;
    box-shadow: inset 0 19px 33px -28px #333F;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transition: all .1s ease;
    min-width: 12.5rem;
  }
    
  header .nav-tabs li .menu-nav-submenu {
    display: none;
  }

  header .nav-tabs > li[aria-expanded="true"] .menu-nav-submenu {
    display: initial;
  }

  header .nav-tabs .menu-nav-submenu div {
    min-height: auto !important;
    width: 970px;
  }

  .header .nav-tabs .menu-nav-submenu > div > h2 {
    transform: perspective(500px) translate3d(0,0,0);
    position: relative;
    font-weight: 300;
  }

  /* .header .nav-tabs .menu-nav-submenu-head {
    visibility: hidden;
    opacity: 0;
  } */

  header .nav-tabs .menu-nav-submenu-section {
    height: 45px;
    margin-top: 10px;
  }

  header .nav-tabs li.hover > .menu-nav-submenu {
    display: block;
  }
}

@media (min-width: 1200px) {
  header .container {
    width: 1170px;
  }

  header .nav-tabs .menu-nav-category {
    font-size: 14px;
  }

  header .nav-tabs .menu-nav-submenu > div {
    width: 1170px;
  }
}