.section.hero-container,
.section.hero-advanced-container {
  position:relative;
}

main .section > div.featured-highlights-wrapper {
  height: 530px;
  width: 448px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.featured-highlights {
  box-shadow: 1px 3px 20px -4px rgba(0 0 0 / 45%);
  width: 1150px;
  height: 1150px;
  position: absolute;
  top: -620px;
  right: -702px;
  border-radius: 100%;
  overflow: hidden;
  padding: 620px 702px 0 0;
  background: var(--grey-background-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.featured-highlights h2 {
  font-size: 30px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 35px;
  width: 100%;
}

.featured-highlights p {
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  width: 50%;
}

.featured-highlights p.picture {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
}

.featured-highlights p.picture + p {
  font-family: var(--ff-proxima-light);
}

.featured-highlights p.button-container {
  margin-top: 0;
  font-size: 18px;
}

.featured-highlights .carousel {
  display: flex;
  gap: 50px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.featured-highlights .carousel a:any-link {
  color: var(--button-bg-color);
}

.featured-highlights .carousel a:hover {
  color: var(--link-hover-color);
}

.featured-highlights .carousel img {
  max-width: 400px;
}

.featured-highlights .carousel > div {
  height: 400px;
  width: 450px;
  flex-shrink: 0;
  padding-right: 50px;
  scroll-snap-align: start;
}

.featured-highlights .slider > div {
  position: relative;
  z-index: 9;
  text-align: center;
  display: inline-block;
  padding: 0 22px;
  color: var(--button-bg-color);
  font-size: 14px;
  font-family: var(--ff-proxima-light);
  margin-top: 40px;
  text-decoration: none;
  line-height: 1;
}

.featured-highlights .carousel > div > div {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.featured-highlights .slider {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.featured-highlights .slider span.icon {
  margin-left: 5px;
  margin-right: 5px;
}

.featured-highlights .slider .icon-flip svg {
  transform: translateY(5px) rotateY(180deg);
}
.featured-highlights svg {
  width: 13px;
  cursor: pointer;
  transform: translateY(5px);
}

.featured-highlights svg path {
  fill: var(--button-bg-color);
}

.featured-highlights .slider ul {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.featured-highlights .slider li {
  cursor: pointer;
  width: 12px;
  height: 12px;
  line-height: 20px;
  color: var(--text-white);
  text-align: center;
  background: var(--carousel-slider-background-color);
  border-radius: 100%;
  border: none;
  font-size: 0;
  text-indent: 0;
  margin: 0 5px;
}

.featured-highlights .slider li.active {
  background: var(--button-bg-color);
}