/* stylelint-disable no-descending-specificity */
main .section.page-tabs-container {
  --anchor-height: 100px;
  --anchor-height-sticky: 60px;
  --active-bar-height: 35px;
  --transition: all 0.1s ease-in-out;

  background-image: url("/images/tabLinksBg.jpg");
  background-size: cover;
  background-position: right center;
  transition: var(--transition);
}

main .section.page-tabs-container.sticky {
  --anchor-height: 60px;
  --active-bar-height: 17px;

  position: sticky;
  z-index: 99;
}

@media only screen and (max-width: 991px) {
  main .section.page-tabs-container {
    --anchor-height: 60px;
    --active-bar-height: 17px;
  }
}

main .page-tabs ul {
  margin: 0;
  padding: 0;
  touch-action: auto;
  list-style: none;
}

main .page-tabs li {
  position: relative;
  margin: 0 25px;
  text-align: center;
  display: inline-block;
}

main .page-tabs li:first-of-type {
  margin-left: 0;
}

main .page-tabs li:last-of-type {
  margin-right: 0;
}

main .page-tabs li a {
  color: var(--color-white);
  background: none;
  border: 0;
  font-family: var(--ff-proxima-light);
  font-weight: 300;
  font-size: 18px;
  line-height: var(--anchor-height);
  margin: 0;
  transition: var(--transition);
}

main .page-tabs li[aria-selected="true"] a {
  font-family: var(--ff-proxima-regular);
  font-weight: bold;
}

main .page-tabs-container.sticky .page-tabs li a {
  line-height: var(--anchor-height-sticky);
}

main .page-tabs li[aria-selected="true"]::before,
main .page-tabs li[aria-selected="true"]::after {
  content: "";
  position: absolute;
  background: var(--color-white);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
}

main .page-tabs li[aria-selected="true"]::before {
  width: 2px;
  bottom: 0;
  height: var(--active-bar-height);
}

main .page-tabs li[aria-selected="true"]::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: calc(var(--active-bar-height) - 8px);
}

/* modify font size for de */
html[lang="de"] main .page-tabs li a {
  font-size: 14px;
}
