@import url('../breadcrumbs/breadcrumbs.css');

main .hero-container {
  --hero-breadcrumbs-separator-color: #ccc;

  padding: 0;
}

main .hero-wrapper {
  max-width: unset;
}

main .hero {
  position: relative;
  color: var(--text-white);
}

main .hero .breadcrumbs {
  padding-top: 40px;
  padding-bottom: 42.5px;
}

main .hero .breadcrumbs ol {
  padding: 0 15px;
}

main .hero p {
  margin: 0 0 10px;
}

main .hero a:any-link {
  color: var(--text-white);
}

main .hero p.button-container {
  margin: 0;
}

main .hero ul {
  margin: 0;
  padding-top: 5px;
}

main .hero li {
  margin-bottom: 15px;
}

main .hero h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  line-height: 1;
}

main .hero h6 {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 30px;
  font-weight: 700;
  font-size: var(--heading-font-size-m);
}

main .hero h6:first-child {
  margin-top: 0;
}

main .hero .hero-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

main .section .hero-wrapper {
  width: 100%;
  padding: 0;
}

main .hero > div {
  margin:auto;
}

main .hero .container > div {
  padding-left: 15px;
  padding-right: 15px;
}

main .hero .container > div:nth-child(2) {
  padding-left: 30px;
  padding-bottom: 40px;
  padding-top: 45px;
  font-size: var(--body-font-size-xs);
}

main .hero .container > div:nth-child(2) .button-container {
  font-size: var(--body-font-size-s);
  margin-top: 5px;
  color: var(--text-white);
}

.hero .breadcrumbs li+li::before {
  color: var(--hero-breadcrumbs-separator-color);
}

/* Blog Variant - Desktop -- Start */
.blog main .hero-container {
  margin-top: 0;
}

.blog main .hero-wrapper {
  margin-top: 0;
  margin-bottom: 60px;
  position: relative;
  color: var(--text-white);
}

main .hero.blog {
  padding: 0 0 40%;
  height: 555px;
  overflow: hidden;
  background-image: linear-gradient(to bottom,rgba(255 255 255 / 0%) 55%,rgba(0 0 0 / 90%));
}

.blog main .hero-wrapper h1 {
  font-family: var(--ff-proxima-regular);
  font-size: 48px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 35px;
}

main .hero.blog .sticker {
  width: auto;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

main .hero.blog .sticker img {
  width: auto;
  height: auto;
}

main .hero.blog .breadcrumbs {
  position: relative;
}

main .hero.blog .breadcrumbs > ol {
  position: absolute;
}

.blog main .hero-wrapper .container {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 700px;
  text-align: center;
  padding: 0;
}

.blog main .hero-wrapper .container .metadata {
  clear: both;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 2.5px 0;
}

@media only screen and (max-width: 1200px) {
  main .hero.blog .sticker img {
    width: 130px;
  }
}

/* Blog Variant - Desktop -- End */

@media (max-width: 767px) {
  main .hero {
    padding: 50px 0 55px;
    min-height: 250px;
  }

  /* TODO fix heading vars in styles.css */
  main .hero h1 {
    margin-bottom:10px;
    font-size: 36px;
  }

  main .hero h4 {
    margin-bottom: 10px;;
  }

  main .hero .container > div:nth-child(1) > div > * {
    display: none;
  }

  main .hero .container > div:nth-child(1) > div > p.button-container,
  main .hero .container > div:nth-child(1) > div > h1 {
    display: block;
  }

  main .hero .container > div:nth-child(2) {
    font-size: var(--body-font-size-m);
  }

  main .hero .container.two-column > div:nth-child(2) {
    padding-top: 15px;
    padding-left: 15px;
  }

  main .hero .container.two-column > div:nth-child(2) > div {
    border-top: 2px solid #fff;
    padding-top:30px;
  }

  main .hero .button-container a {
    padding: 9px 12px 10px;
  }

  /* Blog Variant - Mobile -- Start */
  .blog main .hero-wrapper {
    color: inherit;
    margin-bottom: 60px;
  }

  .blog main .hero-wrapper .container {
    width: 100%;
    position: static;
    transform: none;
    padding: 0 15px;
    margin-top: 83px;
  }

  .blog main .hero-wrapper .container .metadata {
    padding-left: 40px;
    text-align: left;
    max-width: 236px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    line-height: 1.2;
    gap: 0
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .blog main .hero-wrapper .container .metadata > div {
    display: flex;
    padding: 6px;
  }

  .blog main .hero-wrapper .container .metadata i {
    margin-right: 20px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .blog main .hero-wrapper h1 {
    font-family: var(--ff-proxima-light);
    font-size: 36px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 33px;
  }

  main .hero.blog {
    background-image: none;
    min-height: 398px;
    padding: 0;
    height: unset;
  }

  main .hero.blog .sticker {
    top: 86px;
    right: 15px;
  }

  /* Blog Variant - Mobile -- End */
}

@media (min-width: 768px) {
  main .hero {
    min-height: 440px;
  }

  main .hero .container {
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: auto;
    padding: 0 0 45px;
  }

  main .hero .container > div {
    float:left;
  }

  main .hero .container.two-column > div:nth-child(1) {
    width: 66%
  }

  main .hero .container.two-column > div:nth-child(2) {
    width: 33%;
    border-left: 2px solid #fff;
  }

  main .hero .container > div:nth-child(1) .button-container {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  main .hero > div {
    width: 970px
  }
}

@media (min-width: 1200px) {
  main .hero > div {
    width: 1170px
  }
}