.events main {
  background-color: var(--color-gray-200);
}

.events .wave {
  padding-top: 0;
}

.section.events-container .events-wrapper {
  padding-top: 0;
}

.events .list .filter .select .dropdown-menu.open {
  max-height: initial;
}

.events .list .filter .select.open .dropdown-toggle,
.events .list .filter .select .dropdown-toggle:hover {
  color: inherit;
}

main .events label {
  display: block;
  padding: 0 0 0 37px;
  margin: 0 0 20px;
  position: relative;
  cursor: pointer;
}

.events input[type="checkbox"].filter-item {
  display: none;
}

.events label span::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 9px;
  background: none;
  border: 2px solid var(--color-gray-500);
}

.events input[type="checkbox"].filter-item:checked + span::before {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

main .event-title,
main .event-container .event-title {
  line-height: 1;
  font-weight: 100;
  padding-top: 40px;
  border-bottom: 1px solid var(--color-gray-500);
  padding-bottom: 20px;
  width: 100%;
}
