.section.coveo-search-container,
.section.coveo-tab-section-wrapper {
  padding: 0;
}

.section.background-grey.coveo-search-container {
  background-color: transparent;
  position: relative;
}

.section.background-grey.coveo-search-container::after {
  flex-basis: 100%;
  align-self: self-end;
}

/* COVER BANNER */
.coveo-search-container .coveo-search-wrapper {
  width: 100%;
  padding: 0 0 80px;
}

.cover-banner-wrapper {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  padding-bottom: 50px;
  position: relative;
}

.cover-banner-wrapper picture {
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-banner-wrapper picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-banner-content {
  text-align: center;
  padding-top: 40px;
  color: var(--text-white);
}

.cover-banner-content h1 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.mdcoveo .cover-banner .coveo-search-section {
  margin: 50px auto 0;
}

.coveo-search-box .coveo-accessible-button {
  background-color: var(--text-green);
  color: var(--text-white);
}

.coveo-accessible-button .coveo-search-button-svg {
  color: inherit;
}

.coveo-accessible-button:hover .coveo-search-button-svg path {
  fill: var(--text-white);
}

/* COVEO TAB */
.coveo-tab-section-wrapper {
  border-bottom: 0;
  min-height: 70px;
  background-color: var(--button-bg-color);
  padding-bottom: 0 !important;
}

.coveo-tab-section-wrapper .coveo-tab-section {
  background: transparent;
  border: none;
}

.coveo-tab-section .coveo-tab {
  height: 60px;
  margin: 3px 3px 0;
}

.coveo-tab-section .coveo-tab p {
  height: 100%;
  color: var(--text-white);
  font-size: var(--body-font-size-xs);
  padding-top: 10px;
  border-bottom: 2px solid transparent;
}

.coveo-tab-section .coveo-tab p:hover {
  border-color: var(--text-white);
}

.coveo-tab-section .coveo-tab.coveo-selected p {
  font-size: 17px;
  font-weight: bold;
}

.coveo-tab-section .coveo-tab.coveo-selected p:hover {
  border-color: transparent;
}

.coveo-tab-section .coveo-tab.coveo-selected,
.coveo-tab-section .coveo-tab.coveo-selected:hover,
.coveo-small-tabs .coveo-tab-section .coveo-tab.coveo-selected p,
.coveo-small-tabs .coveo-tab-section .coveo-tab.coveo-selected:hover p {
  border-bottom: none;
}

/* COVEO MAIN SECTION */
.coveo-main-title {
  font-size: 36px;
  color: var(--text-green);
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px;
}

/* COVEO FILTER OPTIONS */
.coveo-facet-column .coveo-dynamic-facet-header {
  padding: 8px 0;
  align-items: center;
  border-bottom: none;
}

.coveo-dynamic-facet-header .coveo-dynamic-facet-header-title {
  color: var(--black-background-color);
  text-transform: uppercase;
}

.coveo-dynamic-facet-header .coveo-dynamic-facet-header-title span {
  color: inherit;
  text-transform: uppercase;
  font-family: var(--ff-proxima-regular);
}

.coveo-dynamic-facet-header .coveo-dynamic-facet-header-btn {
  min-width: auto;
}

.coveo-dynamic-facet-header .coveo-dynamic-facet-header-btn svg {
  color: var(--black-background-color);
}

.coveo-dynamic-hierarchical-facet-values li {
  padding: 5px 0;
}

.coveo-dynamic-hierarchical-facet-values li .coveo-dynamic-hierarchical-facet-value-label {
  width: 400px;
  font-size: 14px;
  color: var(--text-color);
  font-weight: normal;
}

.coveo-main-section .coveo-dynamic-facet-value input[type='checkbox'].coveo-checkbox + button {
  width: 18px;
  height: 18px;
  box-sizing: content-box;
  border: thin solid #bcc3ca;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  background: var(--background-color);
  position: relative;
  float: left;
  top: 2px
}

.coveo-main-section .coveo-dynamic-facet-value .coveo-checkbox-span-label-suffix {
  margin-left: 8px;
  color: #67768b;
  float: right;
  font-weight: normal
}

.coveo-main-section .coveo-facet-value-count,
.coveo-main-section .coveo-category-facet-value-count {
  font-size: 14px;
  color: #a5a6a8;
  font-weight: normal;
}

.coveo-main-section .coveo-dynamic-facet-value .coveo-checkbox-label button+.coveo-checkbox-span-label {
  font-size: 14px;
  color: #63666a;
  width: 400px;
  font-weight: normal;
}

.coveo-main-section .coveo-dynamic-facet-breadcrumb-value,
.coveo-main-section .coveo-breadcrumb-clear-all.coveo-accessible-button {
  color: #008da9;
  font-weight: bold;
}

.coveo-main-section .coveo-results-header {
  box-shadow: none;
}

.coveo-main-section .coveo-results-header .coveo-sort {
  border-color: transparent;
}

.coveo-main-section .coveo-results-header .coveo-sort.coveo-selected {
  border-color: var(--text-color);
}

.coveo-main-section .coveo-list-layout.coveo-list-layout {
  border-bottom: 0;
}

.coveo-main-section .coveo-result-cell .coveo-result-link,
.coveo-main-section .coveo-list-layout a.coveo-result-link {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.coveo-main-section .coveo-result-cell .coveo-result-link,
.coveo-main-section .coveo-list-layout a.coveo-result-link,
.coveo-main-section .coveo-result-cell .coveo-result-link:hover,
.coveo-main-section .coveo-list-layout a.coveo-result-link:hover,
.coveo-main-section .coveo-result-cell .coveo-result-link:visited,
.coveo-main-section .coveo-list-layout a.coveo-result-link:visited,
.coveo-main-section .coveo-result-cell .coveo-result-link:visited:hover,
.coveo-main-section .coveo-list-layout a.coveo-result-link:visited:hover {
  color: var(--text-green);
}

.coveo-main-section .coveo-result-cell .coveo-excerpt {
  font-size: 14px;
  color: #63666a;
  line-height: 20px;
}

.coveo-main-section .coveo-result-cell .product-img {
  width: 100px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.coveo-result-frame .coveo-result-cell:not(:first-child) {
  padding-left: 16px;
}

.coveo-result-frame .coveo-result-cell .coveo-result-row:not(:first-child) {
  margin-top: 10px;
}

.coveo-result-frame .coveo-result-cell > .coveo-result-row:first-child .coveo-result-cell:last-child {
  width: 120px;
  text-align: right;
  font-size: 12px;
}

/* stylelint-disable selector-class-pattern */
.coveo-filetype-custom,.coveo-icon.objecttype,.coveo-icon.filetype,.coveo-icon.filetype.Exchangefreebusy,.coveo-icon.filetype.exchangefreebusy,.coveo-icon.filetype.Exchangemdn,.coveo-icon.filetype.exchangemdn,.coveo-icon.filetype.Exchangeobject,.coveo-icon.filetype.exchangeobject,.coveo-icon.filetype.Sc_cat_item,.coveo-icon.filetype.sc_cat_item,.coveo-icon.filetype.Sparea,.coveo-icon.filetype.sparea,.coveo-icon.filetype.Spcustomlist,.coveo-icon.filetype.spcustomlist,.coveo-icon.filetype.Spsurvey,.coveo-icon.filetype.spsurvey,.coveo-icon.filetype.Spsurveylist,.coveo-icon.filetype.spsurveylist,.coveo-icon.filetype.Spcustomgridlist,.coveo-icon.filetype.spcustomgridlist,.coveo-icon.filetype.Spdecision,.coveo-icon.filetype.spdecision,.coveo-icon.filetype.Spdecisionlist,.coveo-icon.filetype.spdecisionlist,.coveo-icon.filetype.Spobjective,.coveo-icon.filetype.spobjective,.coveo-icon.filetype.Spobjectivelist,.coveo-icon.filetype.spobjectivelist,.coveo-icon.filetype.Spthingstobring,.coveo-icon.filetype.spthingstobring,.coveo-icon.filetype.Spthingstobringlist,.coveo-icon.filetype.spthingstobringlist,.coveo-icon.filetype.Sparealisting,.coveo-icon.filetype.sparealisting,.coveo-icon.filetype.Spunknownlist,.coveo-icon.filetype.spunknownlist,.coveo-icon.filetype.Spdistributiongroup,.coveo-icon.filetype.spdistributiongroup,.coveo-icon.filetype.Spdistributiongrouplist,.coveo-icon.filetype.spdistributiongrouplist,.coveo-icon.filetype.Spkeyperformanceindicator,.coveo-icon.filetype.spkeyperformanceindicator,.coveo-icon.filetype.Spkeyperformanceindicatorlist,.coveo-icon.filetype.spkeyperformanceindicatorlist,.coveo-icon.filetype.Sptab,.coveo-icon.filetype.sptab,.coveo-icon.filetype.Sptablist,.coveo-icon.filetype.sptablist,.coveo-icon.filetype.Spworkflowprocess,.coveo-icon.filetype.spworkflowprocess,.coveo-icon.filetype.Spworkflowprocesslist,.coveo-icon.filetype.spworkflowprocesslist,.coveo-icon.filetype.Spcirculation,.coveo-icon.filetype.spcirculation,.coveo-icon.filetype.Spcirculationlist,.coveo-icon.filetype.spcirculationlist,.coveo-icon.filetype.Spwhereabout,.coveo-icon.filetype.spwhereabout,.coveo-icon.filetype.Spwhereaboutlist,.coveo-icon.filetype.spwhereaboutlist,.coveo-filetype-custom-small,.coveo-icon.objecttype.coveo-small,.coveo-icon.filetype.coveo-small,.coveo-icon.filetype.coveo-small.Exchangefreebusy,.coveo-icon.filetype.coveo-small.exchangefreebusy,.coveo-icon.filetype.coveo-small.Exchangemdn,.coveo-icon.filetype.coveo-small.exchangemdn,.coveo-icon.filetype.coveo-small.Exchangeobject,.coveo-icon.filetype.coveo-small.exchangeobject,.coveo-icon.filetype.coveo-small.Sc_cat_item,.coveo-icon.filetype.coveo-small.sc_cat_item,.coveo-icon.filetype.coveo-small.Sparea,.coveo-icon.filetype.coveo-small.sparea,.coveo-icon.filetype.coveo-small.Spcustomlist,.coveo-icon.filetype.coveo-small.spcustomlist,.coveo-icon.filetype.coveo-small.Spsurvey,.coveo-icon.filetype.coveo-small.spsurvey,.coveo-icon.filetype.coveo-small.Spsurveylist,.coveo-icon.filetype.coveo-small.spsurveylist,.coveo-icon.filetype.coveo-small.Spcustomgridlist,.coveo-icon.filetype.coveo-small.spcustomgridlist,.coveo-icon.filetype.coveo-small.Spdecision,.coveo-icon.filetype.coveo-small.spdecision,.coveo-icon.filetype.coveo-small.Spdecisionlist,.coveo-icon.filetype.coveo-small.spdecisionlist,.coveo-icon.filetype.coveo-small.Spobjective,.coveo-icon.filetype.coveo-small.spobjective,.coveo-icon.filetype.coveo-small.Spobjectivelist,.coveo-icon.filetype.coveo-small.spobjectivelist,.coveo-icon.filetype.coveo-small.Spthingstobring,.coveo-icon.filetype.coveo-small.spthingstobring,.coveo-icon.filetype.coveo-small.Spthingstobringlist,.coveo-icon.filetype.coveo-small.spthingstobringlist,.coveo-icon.filetype.coveo-small.Sparealisting,.coveo-icon.filetype.coveo-small.sparealisting,.coveo-icon.filetype.coveo-small.Spunknownlist,.coveo-icon.filetype.coveo-small.spunknownlist,.coveo-icon.filetype.coveo-small.Spdistributiongroup,.coveo-icon.filetype.coveo-small.spdistributiongroup,.coveo-icon.filetype.coveo-small.Spdistributiongrouplist,.coveo-icon.filetype.coveo-small.spdistributiongrouplist,.coveo-icon.filetype.coveo-small.Spkeyperformanceindicator,.coveo-icon.filetype.coveo-small.spkeyperformanceindicator,.coveo-icon.filetype.coveo-small.Spkeyperformanceindicatorlist,.coveo-icon.filetype.coveo-small.spkeyperformanceindicatorlist,.coveo-icon.filetype.coveo-small.Sptab,.coveo-icon.filetype.coveo-small.sptab,.coveo-icon.filetype.coveo-small.Sptablist,.coveo-icon.filetype.coveo-small.sptablist,.coveo-icon.filetype.coveo-small.Spworkflowprocess,.coveo-icon.filetype.coveo-small.spworkflowprocess,.coveo-icon.filetype.coveo-small.Spworkflowprocesslist,.coveo-icon.filetype.coveo-small.spworkflowprocesslist,.coveo-icon.filetype.coveo-small.Spcirculation,.coveo-icon.filetype.coveo-small.spcirculation,.coveo-icon.filetype.coveo-small.Spcirculationlist,.coveo-icon.filetype.coveo-small.spcirculationlist,.coveo-icon.filetype.coveo-small.Spwhereabout,.coveo-icon.filetype.coveo-small.spwhereabout,.coveo-icon.filetype.coveo-small.Spwhereaboutlist,.coveo-icon.filetype.coveo-small.spwhereaboutlist {
    background-image: url('/icons/wrench.svg') !important;
    background-size: 100% 100% !important;
    width: 100px !important;
    height: 60px !important
}
/* stylelint-enable selector-class-pattern */

@media only screen and (min-width: 768px) {
  .section.cover-banner-wrapper {
    min-height: 440px;
  }

  .coveo-main-section-wrapper .coveo-main-section{
    padding-left: 0;
    padding-right: 0;
  }

  .cover-banner-content {
    padding-top: 100px;
  }

  .mdcoveo .coveo-main-section-wrapper .coveo-facet-column {
    width: 254.062px;
  }

  .coveo-main-section > .coveo-facet-column > div {
    background-color: transparent;
  }
}

@media only screen and (min-width: 1240px) {
  .coveo-main-section-wrapper .coveo-main-section{
    width: 1200px;
  }
}

@media only screen and (max-width: 767px) {
  .cover-banner-wrapper .coveo-dropdown-header-wrapper {
    position: absolute;
    bottom: -121px;
    left: -8px;
  }

  .mdcoveo.coveo-small-facets.coveo-no-visible-facet .coveo-facet-dropdown-header {
    display: block !important;
    width: 96%;
    padding: 20px 10px;
    margin: 0;
    font-size: var(--body-font-size-s);
    font-weight: normal;
    margin-top: 4px;
  }

  .mdcoveo.coveo-small-facets.coveo-no-visible-facet .coveo-facet-dropdown-header p {
    line-height: 1px;
    display: block;
  }

  .coveo-main-section .coveo-result-list {
    margin-left: 0;
    margin-right: 0;
  }

  .mdcoveo .coveo-results-column,
  .coveo-main-section .coveo-list-layout {
    padding: 16px 0;
  }

  .mdcoveo.coveo-small-facets .coveo-facet-column.coveo-facet-dropdown-content {
    height: 100%;
  }
}
