
main div.blog-list-wrapper {
  width: 1170px;
  max-width: unset !important;
  padding: 0 15px !important;
}

/* main .blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
} */


main .blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

main .blog-list .carousel-item {
  width: 32%;
  padding: 20px 15px 40px;
}

main .blog-list .carousel-item.clone {
  display: none;
}

@media only screen and (max-width: 767px) {
  main div.blog-list-wrapper {
    width: 100%;
    max-width: unset !important;
  }

  main .blog-list {
    justify-content: start;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 10%;
  }

  main .blog-list .carousel-item {
    flex: 1 0 100%;
    width: 100%;
    padding: 20px 15px 40px;
  }

  main .blog-list .carousel-item.clone {
    display: block;
  }
}