
main div.blog-list-wrapper {
  width: 1170px;
  max-width: unset !important;
  padding: 0 30px !important;
}

main .blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}