main .recent-blogs-carousel-container {
  width: 1140px;
  padding: 0 15px;
  margin: 60px auto 0;
}

main .section.recent-blogs-carousel-container > div,
main .section.recent-blogs-carousel-container > article {
  max-width: unset;
  width: unset;
}

main .section.recent-blogs-carousel-container > .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px 50px;
}

main .section.recent-blogs-carousel-container > .default-content-wrapper h3,
main .section.recent-blogs-carousel-container > .default-content-wrapper h4 {
  margin-bottom: 0;
}

main .section.recent-blogs-carousel-container > .default-content-wrapper::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-tertiary);
  background-image: var(--gradient-theme);
}

main .section.recent-blogs-carousel-container > .default-content-wrapper p {
  margin: 0;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper {
  padding: 0 !important;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper .carousel-nav-button:hover {
  color: var(--color-gray-500);
  border: 1.5px solid var(--color-gray-500);
  background-color: inherit;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper .carousel-nav-left {
  left: -60px;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper .carousel-nav-right {
  right: -60px;
}

main .carousel.recent-blogs-carousel {
  padding: 0;
}

main .carousel.recent-blogs-carousel .carousel-item {
  display: block;
  padding: 20px 15px 40px;
  width: 370px;
  margin: 0;
}

main .blog-card-thumb:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  main .recent-blogs-carousel-container {
    width: 940px;
  }

  main .carousel.recent-blogs-carousel .carousel-item {
    width: 303.33px;
  }
}

@media only screen and (max-width: 1000px) {
  main .carousel.recent-blogs-carousel .carousel-item {
    width: 455px;
  }
}

@media only screen and (max-width: 991px) {
  main .recent-blogs-carousel-container {
    width: 720px;
  }

  main .carousel-wrapper.recent-blogs-carousel-wrapper .carousel-nav-left {
    left: -10px;
  }

  main .carousel-wrapper.recent-blogs-carousel-wrapper .carousel-nav-right {
    right: -10px;
  }

  main .carousel.recent-blogs-carousel {
    width: 90%;
  }

  main .carousel.recent-blogs-carousel .carousel-item {
    width: 310.5px;
  }
}

@media only screen and (max-width: 767px) {
  main .recent-blogs-carousel-container {
    width: 100%;
    padding: 0 30px;
    margin-top: 50px;
  }

  main .carousel.recent-blogs-carousel .carousel-item {
    width: 100%;
  }
}
