main div.recent-blogs-carousel-container {
  width: 1140px;
  padding: 0 15px;
  margin: 60px auto 0;
}

main div.carousel-wrapper.recent-blogs-carousel-wrapper {
  padding: 0 !important;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper  .carousel-nav-button:hover {
  color: #adb3b7;
  border: 1.5px solid #adb3b7;
  background-color: inherit;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper  .carousel-nav-left {
  left: -60px;
}

main .carousel-wrapper.recent-blogs-carousel-wrapper  .carousel-nav-right {
  right: -60px;
}

main .carousel.recent-blogs-carousel {
  padding: 0;
}

main .carousel.recent-blogs-carousel .carousel-item {
  display: block;
  padding: 20px 15px 40px;
  width: 370px;
  margin: 0;
} 

main .carousel.recent-blogs-carousel .blog-carousel-item {
  height: 100%;
  background: #fff;
  margin: 0;
  position: relative;
  box-shadow: 0 1px 15px rgba(0 0 0 / 40%);
  transition: all .3s;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

main .carousel.recent-blogs-carousel .blog-carousel-item:hover {
  z-index: 1;
  transform: scale(1.07);
  transition: all .3s;
}

main .carousel.recent-blogs-carousel .blog-carousel-thumb {
  height: 200px;
  min-height: 200px;
  overflow: hidden;
}

main .carousel.recent-blogs-carousel .blog-carousel-thumb a {
  display: block;
}

main .carousel.recent-blogs-carousel .blog-carousel-thumb img {
  height: 200px;
  width: 100%;
  min-width: auto;
  object-fit: cover;
  object-position: left;
  transition: all .5s ease-in-out;
}

main .carousel.recent-blogs-carousel .blog-carousel-thumb:hover img {
  transform: scale(1.1);
}

main .carousel.recent-blogs-carousel .blog-carousel-thumb a[href*="3d-organoids-and-automation-of-complex-cell-assays"] img {
  object-position: right;
}

main .carousel.recent-blogs-carousel .blog-carousel-caption {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  color: #12141f;
  height: 100%;
  min-height: auto;
}

main .carousel.recent-blogs-carousel .blog-carousel-caption h3 {
  font-size: 20px;
  line-height: 24.1px;
  font-weight: normal;
  text-align: left;
  min-height: 49px;
  margin-top: 14px;
  margin-bottom: 15px;
}

main .carousel.recent-blogs-carousel .blog-carousel-caption h3 a {
  color: inherit;
}

main .carousel.recent-blogs-carousel .blog-carousel-caption .blog-description {
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}

main .carousel.recent-blogs-carousel .blog-carousel-caption .button-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
}

main .carousel.recent-blogs-carousel .blog-carousel-caption .button.primary {
  border: 1px solid #6eb43f;
  color: #000;
  padding-bottom: 10px;
  padding-top: 11px;
  background: none;
  border-radius: 0;
  font-size: 18px;
  max-width: unset;
  width: unset;
  white-space: break-spaces;
  word-break: break-word;
}

main .blog-card-thumb:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  main div.recent-blogs-carousel-container {
    width: 940px;
  }

  main .carousel.recent-blogs-carousel .carousel-item {
    width: 303.33px;
  }
}

@media only screen and (max-width: 1000px) {
  main .carousel.recent-blogs-carousel .carousel-item {
    width: 455px;
  }
}

@media only screen and (max-width: 991px) {
  main div.recent-blogs-carousel-container {
    width: 720px;
  }

  main .carousel-wrapper.recent-blogs-carousel-wrapper  .carousel-nav-left {
    left: -10px;
  }

  main .carousel-wrapper.recent-blogs-carousel-wrapper  .carousel-nav-right {
    right: -10px;
  }

  main .carousel.recent-blogs-carousel {
    width: 90%;
  }

  main .carousel.recent-blogs-carousel .carousel-item {
    width: 310.5px;
  }
}

@media only screen and (max-width: 767px) {
  main div.recent-blogs-carousel-container {
    width: 100%;
    padding: 0 30px;
    margin-top: 50px;
  }

  main .carousel.recent-blogs-carousel .carousel-item {
    width: 100%;
  }
}