main .hero-video-wrapper {
  position: relative;
  width: 100% !important;
  margin: 0 0 115px !important;
  padding: 0 !important;
  max-width: unset;
  padding: 0;
  height: 750px;
  min-height: auto;
}

main .hero-video {
  width: 100%;
}

main .hero-video-banner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main .teaser-video-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .teaser-video-container video {
  width: 100%;
}

main .teaser-video-container img {
  width: 100%;
  display: none;
}

main .teaser-video-container::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
  position: absolute;
}

main .overlay {
  text-align: center;
  z-index: 1;
}

main .overlay h1 {
  font-family: var(--ff-proxima-light);
  width: 1170px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1;
  font-weight: 100;
}

main .overlay .video-banner-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  outline: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main .overlay .video-banner-btn:hover {
  background-color: #000;
}

/* TODO figure out why we have a ~1px difference */
main .overlay .video-banner-btn .icon {
  max-height: 30px;
}

main .overlay .video-banner-btn svg {
  margin-right: 8px;
}

main .full-video-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .full-video-container .video-cover {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  overflow: hidden;
}

main .full-video-container .close-video {
  position: absolute;
  top: 56px;
  right: 56px;
  z-index: 9999;
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
  padding: 10px;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .full-video-container .close-video-icon {
  position: relative;
  width: 20px;
  height: 20px;
  -ms-transform: rotate(-90deg) scale(1);
  transform: rotate(-90deg) scale(1);
  -webkit-transform: rotate(-90deg) scale(1);
  -webkit-transition: .6s -webkit-transform cubic-bezier(0.19,1,.22,1);
  transition: .6s -webkit-transform cubic-bezier(0.19,1,.22,1);
  -o-transition: .6s transform cubic-bezier(0.19,1,.22,1);
  transition: .6s transform cubic-bezier(0.19,1,.22,1);
  transition: .6s transform cubic-bezier(0.19,1,.22,1),.6s -webkit-transform cubic-bezier(0.19,1,.22,1);
  -webkit-transition: .6s transform cubic-bezier(0.19,1,.22,1);
  cursor: pointer;
  z-index: 3;
  display: block;
}

main .full-video-container .close-video:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

main .full-video-container .play-pause-fullscreen-button {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

main .full-video-container .play-pause-fullscreen-button svg {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  display: none;
  width: 150px;
  height: 150px;
  margin: auto;
  opacity: 0;
  transition: .4s all linear;
}