/* stylelint-disable no-descending-specificity */
main .section.hero-video-container {
  padding-top: 0;
  padding-bottom: 0;
}

main .section.hero-video-container > div.hero-video-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  height: 100%;
  max-height: 750px;
  overflow: hidden;
}

main .section.hero-video-container > div.hero-video-wrapper picture,
main .section.hero-video-container > div.hero-video-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  min-height: 360px;
}

main .hero-video {
  width: 100%;
}

main .hero-video-banner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main .teaser-video-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 101%;
  overflow: hidden;
}

main .teaser-video-container video {
  display: block;
}

main .teaser-video-container img {
  display: none;
}

main .teaser-video-container p {
  display: none !important;
}

main .teaser-video-container::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0 0 0 / 50%);
  z-index: 1;
  position: absolute;
}

main .overlay {
  text-align: center;
  z-index: 1;
  width: 1170px;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: var(--text-white);
}

main .overlay .button-container:has(em) {
  display: none;
}

main .overlay h1 {
  text-align: center;
  margin-bottom: 32px;
  color: inherit;
}

main .overlay h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: inherit;
}

main .overlay .video-banner-btn {
  background-color: transparent;
  font-size: 18px;
  color: var(--text-white);
  border: 1px solid var(--text-white);
  padding: 16px 32px;
  display: inline-flex;
  align-items: center;
  outline: 0;
  white-space: normal;
}

main .overlay .video-banner-btn:hover {
  background-color: var(--black-background-color);
}

main .overlay p:last-of-type {
  order: 3;
}

main .overlay p:last-of-type a {
  color: #00b8dd;
  display: inline-block;
}

main .overlay p:last-of-type a:hover {
  color: var(--text-white);
}

main .overlay p:last-of-type a:not(:last-child) {
  margin-right: 30px;
}

/* TODO figure out why we have a ~1px difference */
main .overlay .video-banner-btn .icon {
  max-height: 30px;
  display: block;
}

main .overlay .video-banner-btn svg {
  margin-right: 8px;
}

main .full-video-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .video-cover {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  overflow: hidden;
}

main .video-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .full-video-container .close-video {
  position: absolute;
  top: 56px;
  right: 56px;
  z-index: 9999;
  cursor: pointer;
  background-color: rgb(0 0 0 / 50%);
  padding: 10px;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

main .section.hero-video-container .full-video-container .close-video .icon-close-video {
  display: block;
}

main .section.hero-video-container .full-video-container .close-video .icon-close-video img {
  width: 20px;
  height: 20px;
  min-height: 20px;
  display: block;
}

main .full-video-container .close-video-icon {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg) scale(1);
  transition: 0.6s transform cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  z-index: 3;
  display: block;
}

main .full-video-container .close-video:hover {
  transform: rotate(90deg);
}

main .full-video-container .play-pause-fullscreen-button,
main .full-video-container .play-pause-fullscreen-button svg {
  position: absolute;
  right: 0;
  left: 0;
}

main .full-video-container .play-pause-fullscreen-button {
  width: 170px;
  height: 170px;
  top: 50%;
  margin: 0 auto;
  z-index: 2;
  transform: translateY(-50%);
}

main .full-video-container .play-pause-fullscreen-button svg {
  display: block !important;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transform: scale(0.9);
  width: 150px;
  height: 150px;
  margin: auto;
  opacity: 0;
  transition: 0.4s all linear;
}


@media only screen and (min-width: 769px) {
  main .section.hero-video-container > div.hero-video-wrapper picture.video-cover{
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  main .overlay {
    width: 970px;
  }

  main .full-video-container {
    background-color: var(--black-background-color);
  }

  main .full-video-container .video-cover {
    object-fit: contain;
  }

  main .full-video-container .close-video {
    top: 24px;
    right: 24px;
  }
}

@media only screen and (max-width: 992px) {
  :root {
    --heading-font-size-xxl: 36px;
    --heading-font-size-xl: 36px;
  }

  main .overlay {
    width: 750px;
  }

  main .overlay h1 {
    margin-bottom: 24px;
  }

  main .overlay h3 {
    font-size: 24px;
  }

  main .overlay .video-banner-btn svg {
    margin-right: 0;
  }

  main .overlay .video-banner-btn{
    padding: 16px 20px;
  }
}

@media only screen and (max-width: 768px) {
  main .teaser-video-container video {
    display: none;
  }

  main .teaser-video-container img {
    display: block;
  }

  main .overlay {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  main .full-video-container .play-pause-fullscreen-button svg {
    width: 100px;
    height: 100px;
  }

  main .overlay .video-banner-btn {
    width: unset;
    max-width: unset;
    background: rgb(0 0 0 / 80%);
  }

  main .section.hero-video-container > div.hero-video-wrapper picture,
  main .section.hero-video-container > div.hero-video-wrapper img{
    min-height: 400px;
  }
}

@media only screen and (max-width: 575px) {
  main .full-video-container .play-pause-fullscreen-button svg {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 390px) {
  main .overlay h1 {
    font-size: 30px;
  }

  main .overlay .video-banner-btn {
    line-height: 24px;
    white-space: unset;
  }
}
