.featured-posts {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

.featured-posts > .post {
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 256px;
}

.featured-posts img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  vertical-align: middle;
}

.featured-posts p {
  margin: 0;
}

.featured-posts a {
  display: block;
}

.featured-posts h3 {
  position: absolute;
  color: var(--text-white);
  text-align: center;
  left: 0;
  right: 0;
  font-size: 18px;
  max-width: 85%;
  margin: 0 auto;
  bottom: 37px;
}

.featured-posts h3 a {
  color: inherit;
  display: inline;
}

.featured-posts .post-1 h3 {
  font-size: var(--body-font-size-xl);
}

.featured-posts .post-1 {
  height: auto;
}

.featured-posts .post-1 img {
  height: auto;
  min-height: 256px;
}

.featured-posts .post picture {
  display: block;
  position: relative;
}

.featured-posts .post picture::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgb(255 255 255 / 0%), rgb(255 255 255 / 0%), rgb(0 0 0 / 80%) 80%);
}

@media only screen and (min-width: 768px) {
  .featured-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    grid-gap: 20px;
    margin: 0 10px 20px;
    max-height: 540px;
  }

  .featured-posts .post-1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  .featured-posts .post-2 {
    grid-area: 1 / 3 / 2 / 5;
  }

  .featured-posts .post-3 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .featured-posts .post-4 {
    grid-area: 2 / 4 / 3 / 5
  }

  .featured-posts img,
  .featured-posts .post-1 img,
  .featured-posts .post > div,
  .featured-posts .post picture,
  .featured-posts .post a {
    height: 100%;
  }

  .featured-posts > .post {
    height: 100%;
    margin: 0;
  }
}

.featured-posts .post .zoom-effect-wrapper > a{
  transition: all .4s;
}

.featured-posts .post:hover .zoom-effect-wrapper > a{
  transform: scale(1.15);
}