main .vidyard {
  margin: 40px auto;
  max-width: 700px;
}

main .section.vidyard-container {
  padding-bottom: 45px;
}

main .vidyard.vidyard-full,
.section.columns-2.vidyard-container .vidyard {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}

.section.columns-2.vidyard-container > div {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

#vidyard-popbox-constraint.landscape {
  height: auto !important;
  max-height: 343px;
}

@media(max-width: 991px) {
  main .section.vidyard-container {
    padding-bottom: 67px;
  }
}

@media(max-width: 767px) {
  main .section.vidyard-container {
    padding-bottom: 30px;
  }
}
