/* stylelint-disable no-descending-specificity */
.thankyou-image {
  padding-left: 165px;
  font-size: 20px;
}

.thankyou-head {
  padding-left: 240px;
}

.thankyou img {
  width: 110px;
  height: 119px;
  align-content: center;
}

@media only screen and (min-width: 992px) {
  main .category-form.product-rfq-thankyou-section-thankyou-section .forms-wrapper .block {
    max-width: 50%;
  }
}

/* SERVICE PLANS PAGE */
.service-plans-region-modal-wrapper {
  max-width: 550px;
}

.service-plans-region-options {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 12px;
}

.service-plans-region-option {
  width: 100%;
  border-radius: 4px;
  background: var(--color-white);
  color: var(--color-text-primary);
  display: inline-block;
  max-width: 180px;
}
