<link rel="stylesheet" href="/fragments/applications/application-workflow-commons.css" />
<style>
  #conference-timeline .conference-center-line {
    height: 74%;
  }
</style>

<section class="workflow_elisa" id="conference-timeline">
  <div class="timeline-start">Workflow: Plasmid Production</div>
  <div class="conference-center-line">&nbsp;</div>
  <div class="conference-timeline-content pb-0">
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/assembly.png" alt="Assembly" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Assembly</h3>
            <p class="center-align">
              Target gene (gene of interest) is ligated into a vector with desirable characteristics, forming a recombinant plasmid. This can be done via multiple techniques, including Gibson Assembly or Golden Gate Assembly.
            </p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right">
          <div class="image_part white_arro">
            <img src="/images/workflows/assembly-workflow.png" alt="Assembly workflow" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="meta-date left-arrow"><span class="date">01</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/transform-workflow.png" alt="Transform" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section">
          <div class="image_part">
            <img src="/images/workflows/transform.png" alt="Transform workflow" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Transform</h3>
            <p class="center-align">
              The ligation products of are introduced into specially engineered bacterial cells, allowing microbes to take up the engineered plasmid.
            </p>
          </div>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">02</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/colony-plating-screening.png" alt="Colony Plating &amp; Screening" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Colony Plating &amp; Screening</h3>
            <p class="center-align">
              Microbial cells are spread onto solid agar plates to grow into individual colonies, which are then screened to identify those with the desirable characteristics for picking.
            </p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right">
          <div class="image_part">
            <img src="/images/workflows/colony-plating-screening-workflow.png" alt="Colony Plating &amp; Screening" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="meta-date left-arrow"><span class="date">03</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container myspectra">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/qpix-microbial-colony-picker.jpg" alt=">QPix Microbial Colony Picker" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>QPix Microbial Colony Picker</h3>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section ">
          <div class="image_part">
            <img src="/images/workflows/colony-picking.png" alt="Colony Picking" loading="lazy" />
          </div>
          <div class="text-part add_detection">
            <h3>Colony Picking</h3>
            <p class="center-align">Once desirable colonies have been identified, they can be picked from solid agar plates and transferred to liquid media for overnight growth and incubation</p>
          </div>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">04</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/overnight-incubation.png" alt="Overnight Incubation" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Overnight Incubation</h3>
            <p class="center-align">
              Growth plates with liquid media are sealed and transferred to shaking incubators to allow the microbes to divide, producing more copies of the recombinant plasmid.
            </p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section">
          <div class="image_part">
            <img src="/images/workflows/automated-incubators-and-shakers.png" alt="Overnight Incubation" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="meta-date left-arrow"><span class="date">05</span></div>
    </div>
    <div class="timeline-article mb-0">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/automated-liquid-handler.png" alt="add substrate" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section">
          <div class="image_part">
            <img src="/images/workflows/mini-prep.png" alt="add substrate" loading="lazy" />
          </div>
          <h3>Mini Prep</h3>
          <p class="center-align">
            Microbes are lysed to extract the recombinant plasmids. Plasmids are then purified using column or bead-based methods to obtain highly pure DNA
          </p>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">06</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-center-container">
        <div class="content-center image-section">
          <a href="/quote-request?pid=plasmid-production">
            <div class="spectra-flow">
              <div class="ask-me-part image_part bubbles-part automate-wordflow-part" style="height: 250px;">
                <div class="text-wrap text-color">
                  <h3 class="mb-10 mt-10 orange-title"><em>Speak to a specialist </em></h3>
                  <p>Today about <br>
                    automating your <br>
                    plasmid workflow</p>
                </div>
              </div>
            </div>
            <div class="spectra-image">
              <img src="/fragments/workflow/automate-your-workflow-spectra.png" data-entity-uuid="5fdf8f77-aa18-4e4e-b70c-8f55f51280ad" data-entity-type="file" alt="Automate your workflow" loading="lazy" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>