<meta name="robots" content="noindex follow">
<link rel="stylesheet" href="/fragments/applications/application-workflow-commons.css" />
<script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
<style>
  #conference-timeline.plasmid-production-timeline .conference-center-line {
    height: 67%;
  }
</style>

<section class="workflow_elisa plasmid-production-timeline" id="conference-timeline" style="padding-bottom: 80px;">
  <div class="timeline-start">Workflow: Cell Cultured Meat</div>
  <div class="conference-center-line">&nbsp;</div>
  <div class="conference-timeline-content pb-0" style="padding-top: 100px;">

    <div class="timeline-article" style="overflow: visible;">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/animal-tissue-collection.png" alt="Animal tissue collection" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section on_image" style="top: -50px;">
          <div class="image_part">
            <img src="/images/workflows/animal-tissue.png" alt="Animal tissue collection" />
          </div>
          <div class="text-part">
            <h3>Animal tissue collection</h3>
            <p class="center-align">The process starts with a small biopsy from a live animal, typically taken from muscle tissue. This is cruelty-free and doesn’t harm the animal. </p>
          </div>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">01</span></div>
    </div>

    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section on_image">
          <div class="image_part">
            <img src="/images/workflows/single-cell-isolation.png" alt="Single-cell isolation" loading="lazy" />
          </div>
          <div class="text-part" style="bottom: 150px;">
            <h3>Single-cell isolation</h3>
            <p class="center-align">Individual cells are isolated from the tissue. These cells have the potential to grow and differentiate into muscle tissues.</p>
          </div>
        </div>
      </div>
      <div class="content-right-container video">
        <div class="content-right box-section">
          <div class="image_part grey_arro video-ico">
            <img class="vidyard-player-embed" src="https://play.vidyard.com/2dDXoDw8pL2dHFbYC2jdoQ.jpg"
              data-uuid="2dDXoDw8pL2dHFbYC2jdoQ" data-v="4" data-type="lightbox" alt="SpectraMax Reader and Cell Imager"
              data-autoplay="1">
          </div>
          <div class="text-part">
            <h3>DispenCell Single-Cell Despenser</h3>
            <p class="center-align">The DispenCell™ Single-Cell Dispenser revolutionizes single-cell isolation by utilizing advanced microfluidics technology to accurately control the dispensing of individual cells.</p>
            <p><a class="watch-video" href="/products/clone-screening/single-cell-cloning/dispencell-single-cell-dispenser">View product <em><span class="icon icon-chevron-right-outline"></span></em></a></p>
          </div>
        </div>
      </div>
      <div class="meta-date left-arrow" style="top: 45px;"><span class="date">02</span></div>
    </div>

    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left box-section">
          <div class="image_part grey_arro video-ico">
            <img class="vidyard-player-embed" src="https://play.vidyard.com/WwWUddqbVhBk8jtmGQ6dHF.jpg"
              data-uuid="WwWUddqbVhBk8jtmGQ6dHF" data-v="4" data-type="lightbox" alt="SpectraMax Reader and Cell Imager"
              data-autoplay="1">
          </div>
          <div class="text-part">
            <h3>CloneSelect Imager FL</h3>
           <p class="center-align">CloneSelect Imager FL adds high contrast multichannel fluorescent technology in addition to the standard white light imaging that allows for accurate single-cell detection and proof of monoclonality at day 0.</p>
            <p><a class="watch-video" href="/products/clone-screening/single-cell-cloning/cloneselect-imager">View product <em><span class="icon icon-chevron-right-outline"></span></em></a></p>
          </div>
        </div>
      </div>
      <div class="content-right-container video">
        <div class="content-right image-section on_image" style="min-height: 450px;">
          <div class="image_part">
            <img src="/images/workflows/monoclonality-verification.png"
              alt="Monoclonality verification and growth optimization" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Monoclonality verification and growth optimization</h3>
            <p class="center-align">The isolated cells are cultivated in a controlled environment. With the CloneSelect® Imager, the best single-cell clones are identified and further cultivated. This step ensures that the cells have the optimal growth charachteristics</p>
          </div>
        </div>
      </div>
      <div class="meta-date right-arrow" style="top: 0;"><span class="date">03</span></div>
    </div>

    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section on_image" style="min-height: 500px;">
          <div class="image_part">
            <img src="/images/workflows/characterization-and-safety-assessment.png"
              alt="Characterization and Safety Assessment" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Characterization and Safety Assessment</h3>
            <p class="center-align">As the cells multiply and form muscle tissue, their growth and characteristics are monitored using the SpectraMax® microplate reader. This ensures that the meat produced meets the desired quality and nutritional standards.</p>
          </div>
        </div>
      </div>
      <div class="content-right-container video">
        <div class="content-right box-section">
          <div class="image_part grey_arro video-ico">
            <img class="vidyard-player-embed" src="https://play.vidyard.com/JWr597wiRf19F3cCUq8T4A.jpg"
              data-uuid="JWr597wiRf19F3cCUq8T4A" data-v="4" data-type="lightbox" alt="SpectraMax Reader and Cell Imager"
              data-autoplay="1">
          </div>
          <div class="text-part">
            <h3>SpectraMax Reader and Cell Imager</h3>
            <p class="center-align">The use of a microplate reader with an imaging cytometer, like the SpectraMax i3x plate reader and SpectraMax MiniMax™ 300 Imaging Cytometer, allows for the characterized production of secreted factors or other markers on the surface or within the cloned and grown tissue and to assess safety.</p>
            <p><a class="watch-video" href="/products/microplate-readers/multi-mode-readers/spectramax-i3x-readers">View product <em><span class="icon icon-chevron-right-outline"></span></em></a></p>
          </div>
        </div>
      </div>
      <div class="meta-date left-arrow" style="top: 25px;"><span class="date">04</span></div>
    </div>
  </div>
</section>
