<link rel="stylesheet" href="/fragments/applications/application-workflow-commons.css" />
<style>
  #conference-timeline .conference-center-line {
    height: 84%;
  }
</style>

<div>
  <section class="workflow_elisa" id="conference-timeline">
    <div class="timeline-start">Workflow: ELISA Assay Protocol</div>
    <div class="conference-center-line">&nbsp;</div>
    <div class="conference-timeline-content pb-0">
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="image_part">
              <img src="/fragments/workflow/antibody.png" alt="Antibody Binds to Well" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>CAPTURE ANTIBODY BINDS TO WELLS</h3>
              <p class="center-align">First, the capture antibody is bound to the bottom of the microplate well.</p>
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right box-section">
            <div class="image_part white_arro">
              <img src="/fragments/workflow/well-microplate.png" alt="Microplate wells" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>ELISA Plate</h3>
              <p>Most ELISAs are run in 96- or 384- well microplates, a 96-well plate being the most common and sometimes referred to as an ELISA plate. The bottom of the microplate wells serve as the solid surface to which antibodies and other reagents attach. Microplates are typically included in an <a href="/products/assay-kits/elisa/catchpoint-simplestep-elisa-kits">ELISA kit.</a></p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">01</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="spectra-flow">
              <div class="image_part bubbles-part">
                <div class="text-wrap">
                  <h3><em>Want faster ELISA results?</em></h3>
                  <p>CatchPoint SimpleStep ELISA kits produce results in just 90-minutes! </p>
                  <p><a class="watch-video" href="/products/assay-kits/elisa/catchpoint-simplestep-elisa-kits">Learn more&nbsp;<em><span class="icon icon-chevron-right-outline" /></em></a></p>
                </div>
              </div>
            </div>
            <div class="spectra-image for_desktop">
              <img src="/fragments/workflow/spectra.png" alt="spectra" loading="lazy" />
            </div>
            <div class="spectra-image for_mobile">
              <img src="/fragments/workflow/spectra-mobile.png" alt="spectra mobile" loading="lazy" />
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right image-section on_image">
            <div class="image_part for_desktop">
              <img src="/fragments/workflow/add-sample.png" alt="add sample" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
              <img src="/fragments/workflow/add-sample-mobile.png" alt="add sample mobile" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>ADD SAMPLE</h3>
              <p class="center-align">Sample is added to the well, and antigen within the sample binds to the capture antibody. </p>
            </div>
          </div>
        </div>
        <div class="meta-date right-arrow"><span class="date">02</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section on_image">
            <div class="image_part for_desktop">
              <img src="/fragments/workflow/wash-microplate.png" alt="wash microplate" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
              <img src="/fragments/workflow/wash-microplate-mobile.png" alt="wash microplate mobile" loading="lazy" />
            </div>
            <div class="text-part wash_microplate">
              <h3>WASH MICROPLATE</h3>
              <p class="center-align">Unbound material is washed away, leaving only the antigen ofinterest and minimizing the potential for high backgroundsignal.</p>
            </div>
          </div>
        </div>
        <div class="content-right-container video">
          <div class="content-right box-section">
            <div class="image_part grey_arro video-ico"
              data-vidyard-video-url="https://vids.moleculardevices.com/watch/db2tLDgnn3Bk9GpUSQ4VzQ">
              <img src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/elisa-plate-reader.png"
                alt="ELISA Plate Reader and Washer" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>ELISA Plate Reader And Washer</h3>
              <p>Complete solution for your ELISA workflow using the EMax plus Microplate Reader with SoftMax Pro data and acquisition software and MultiWash+ Microplate Washer. </p>
              <p><a class="watch-video" href="/products/microplate-readers/absorbance-readers/emax-plus-reader">View product</a></p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">03</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container myspectra">
          <div class="content-left image-section">
            <div class="spectra-flow">
              <div class="ask-me-part image_part bubbles-part">
                <div class="text-wrap">
                  <h3 class="mb-10 mt-10"><em>Save on a bundle</em></h3>
                  <p>Save time and money with a SpectraMax Microplate Reader, SoftMax Pro Software, and an AquaMax Microplate Washer bundle. </p>
                  <p>
                    <a class="watch-video" href="/quote-request?pid=1084&amp;type=bundle">Ask for a quote&nbsp;<em><span class="icon icon-chevron-right-outline" /></em></a>
                  </p>
                </div>
              </div>
            </div>
            <div class="spectra-image for_desktop">
              <img src="/fragments/workflow/ask-me-spectra.png" alt="spectra" loading="lazy" />
            </div>
            <div class="spectra-image for_mobile">
              <img src="/fragments/workflow/ask-me-spectra.png" alt="spectra mobile" loading="lazy" />
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right image-section on_image">
            <div class="image_part for_desktop">
              <img src="/fragments/workflow/add-detection-antibody.png" alt="add detection antibody" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
              <img src="/fragments/workflow/add-detection-antibody-mobile.png" alt="add detection antibody mobile"
                loading="lazy" />
            </div>
            <div class="text-part add_detection">
              <h3>ADD DETECTION ANTIBODY</h3>
              <p class="center-align">Enzyme-conjugated detection antibody binds to a second site on the antigen of interest, providing the means to detect the antigen. </p>
            </div>
          </div>
        </div>
        <div class="meta-date right-arrow"><span class="date">04</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="image_part for_desktop">
              <img src="/fragments/workflow/wash-microplate1.png" alt="wash microplates" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
              <img src="/fragments/workflow/wash-microplate1-mobile.png" alt="wash microplates mobile" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>WASH MICROPLATE</h3>
              <p class="center-align">Unbound antibodies are washed away, leaving only those specific for the target of interest and again minimizing the potential for background signal. </p>
            </div>
          </div>
        </div>
        <div class="content-right-container video">
          <div class="content-right box-section">
            <div class="image_part grey_arro video-ico"
              data-vidyard-video-url="https://vids.moleculardevices.com/watch/vGfoof4ysIDAd4XGwxqokQ">
              <img src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/aquamax-washer.png"
                alt="AquaMax Microplate Washer" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>ELISA Plate Washer</h3>
              <p>The AquaMax Microplate Washer: Aspiration and dispensing of 96- and 384-wells occur simultaneously in all wells leading to high-precision assays and faster microplate processing without mechanical plate indexing or quadrant processing. </p>
              <p><a class="watch-video" href="/products/microplate-readers/washers/aquamax-microplate-washer">View product</a></p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">05</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section on_image">
            <div class="image_part for_desktop">
              <img src="/fragments/workflow/add-substrate.png" alt="add substrate" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
              <img src="/fragments/workflow/add-substrate-mobile.png" alt="add substrate mobile" loading="lazy" />
            </div>
            <div class="text-part add_substrate">
              <h3>ADD SUBSTRATE</h3>
              <p class="center-align">Substrate is converted by the enzyme on the detection antibody, producing a color change, with intensity proportional to the amount of antigen present. </p>
              <p class="center-align">Depending on the enzyme and substrate used, the readout can also be fluorescent or luminescent. </p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">06</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="image_part for_desktop">
              <img src="/fragments/workflow/read-plate.png" alt="read microplate" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
              <img src="/fragments/workflow/read-plate-mobile.png" alt="read microplate mobile" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>READ PLATE</h3>
              <p class="center-align">The microplate reader detects the colored reaction product and outputs optical density (OD) values that indicate how much light is absorbed by the contents of each well. </p>
            </div>
          </div>
        </div>
        <div class="content-right-container video">
          <div class="content-right box-section">
            <div class="image_part grey_arro video-ico"
              data-vidyard-video-url="https://vids.moleculardevices.com/watch/2tKEp18eNj6v1e31bfJwAe">
              <img
                src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/elisa-plate-reader-principle.png"
                alt="ELISA Plate Reader Principle" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>ELISA Plate Reader</h3>
              <p>An ELISA plate reader, like the SpectraMax ABS Plus Absorbance ELISA Microplate Reader, detects the color change produced when target antigen is present. It does so by measuring how much of the light passed through the wells of the microplate is absorbed by the material within the wells. The more antigen is present, the higher the absorbance value. </p>
              <p><a class="watch-video" href="/products/microplate-readers/absorbance-readers/spectramax-abs-plate-readers">View product</a></p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">07</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container video">
          <div class="content-left box-section">
            <div class="image_part blue_arro video-ico"
              data-vidyard-video-url="https://vids.moleculardevices.com/watch/TcbyPZHsYw8FNUS8oYQJnH">
              <img
                src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/elisa-microplate-reader-software.png"
                alt="ELISA Plate Reader Software" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>ELISA Plate Reader Software</h3>
              <p class="center-align">An ELISA plate reader software, like our SoftMax Pro data analysis software, is used to plot standard curves and calculate results from the absorbance values provided by the microplate reader. </p>
              <p class="center-align">A standard curve is run so that the amount of antigen in each sample can be accurately calculated. A preconfigured protocol, helps save time by calculating results automatically. </p>
              <p><a class="watch-video" href="/products/microplate-readers/acquisition-and-analysis-software/softmax-pro-software">View product</a></p>
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right image-section on_image">
            <div class="image_part for_desktop">
             <img src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/calculate-result.png" alt="calculate result" loading="lazy" />
            </div>
            <div class="image_part for_mobile">
             <img src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/calculate-result-mobile.png" alt="calculate result mobile" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>CALCULATE RESULTS</h3>
              <p class="center-align">The amount of antigen in each sample is calculated, and different samples—for example, cells subjected to different treatment conditions—can be compared. </p>
            </div>
          </div>
        </div>
        <div class="meta-date right-arrow"><span class="date">08</span></div>
      </div>
      <div class="timeline-article mb-0">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="spectra-flow">
              <div class="ask-me-part image_part bubbles-part automate-wordflow-part">
                <div class="text-wrap">
                  <h3 class="mb-10 mt-10"><em>Automate your workflow</em></h3>
                  <p>We offer scalable, automation-ready workcells ranging from entry-level to advanced, and can be customized to meet your specific research needs </p>
                  <p><a class="watch-video" href="/service-support/lab-automation-solutions/lab-automation-for-high-throughput-plate-based-assays">Check out workcells&nbsp;<em><span class="icon icon-chevron-right-outline" /></em></a></p>
                </div>
              </div>
            </div>
            <div class="spectra-image">
              <img src="/fragments/workflow/automate-your-workflow-spectra.png"
                data-entity-uuid="5fdf8f77-aa18-4e4e-b70c-8f55f51280ad" data-entity-type="file"
                alt="Automate your workflow" loading="lazy" />
            </div>
          </div>
        </div>
        <div class="content-right-container video">
          <div class="content-right box-section">
           <div class="image_part grey_arro video-ico" data-vidyard-video-url="https://vids.moleculardevices.com/watch/EsYUk5mwGne1KefZnMGZjq">
             <img src="/fragments/applications/enzyme-linked-immunosorbent-assay-elisa/future-proof-automated.jpg" alt="ELISA Plate Reader Software" loading="lazy" />
            </div>
            <div class="text-part">
              <h3>Automation-ready ELISA workcells</h3>
              <p class="center-align">Automating an ELISA workflow can take the tedious steps of sample prep, reagent pipetting, and microplate washing out of your hands and can improve the reproducibility of your results. An automated ELISA workflow can be paired with control software and components, creating scalable, high-throughput workcells. </p>
              <p><a class="watch-video" href="/service-support/lab-automation-solutions/lab-automation-for-high-throughput-plate-based-assays">View ELISA workcells</a></p>
            </div>
          </div>
        </div>
        <div class="meta-date"><span class="date">09</span></div>
      </div>
    </div>
  </section>
</div>
