<link rel="stylesheet" href="/fragments/applications/application-workflow-commons.css"/>

<style type="text/css">
  #conference-timeline .conference-center-line {
    height: 78%;
  }
  .content-section + .content-section {
    padding-top: 0;
  }
  .conference-timeline-content .timeline-article:first-child .fst-card-txt {
    position: absolute;
    top: 163px;
  }
  .image-section.on_image .text-part.analize-txt {
    position: absolute;
    top: 204px;
  }
  .conference-timeline-content
    .timeline-article:first-child
    .content-left-container {
    margin-top: -57px;
  }

  .image-section.on_image .text-part.acuire-cell-txt {
    position: absolute;
    bottom: 50px;
  }

  .live-cell
    .image-section.on_image
    .text-part.acuire-cell-txt.config-env-part {
    bottom: -60px;
  }

  .timeline-article .content-left,
  .timeline-article .content-right {
    background-color: transparent;
  }

  .conference-timeline-content .timeline-article:first-child {
    padding: 100px 20px 10px 20px;
  }
  .conference-timeline-content .timeline-article.spectra-part {
    padding: 10px 20px 230px 0;
    margin: 0px;
  }
  .conference-timeline-content
    .timeline-article.spectra-part
    .image-section
    .spectra-image {
    position: absolute;
    top: 241px;
    z-index: -11;
  }
  .live-cell
    .conference-timeline-content
    .timeline-article:first-child
    .content-right-container
    .image_part.white_arro {
    position: absolute;
    top: -56px;
  }
  .conference-timeline-content
    .timeline-article:first-child
    .content-right-container
    .box-section
    .text-part {
    padding: 225px 25px 20px 25px;
  }
  .image-section.on_image .text-part {
    bottom: -123px;
  }

  .ico-desc {
    margin-left: 78px;
    padding-top: 10px;
    font-family: "Proxima Nova Rg";
    font-size: 18px;
    font-weight: 600;
  }
  .ico-desc a {
    color: #34393d;
  }

  .with-icon-part {
    position: relative;
  }

  .with-icon-part .img-icon {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .image-section.on_image .text-part.wash_microplate {
    margin-top: -12em;
  }
  @media only screen and (max-width: 830px) {
    .timeline-article .content-left-container {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 992px) {
    .conference-timeline-content
      .timeline-article:first-child
      .content-left-container {
      margin-top: 0;
    }
    .conference-timeline-content .timeline-article:first-child {
      padding: 36px 20px 10px 20px;
    }
    .conference-timeline-content .timeline-article:first-child .fst-card-txt {
      position: static;
      margin-top: -3em;
    }
    .conference-timeline-content
      .timeline-article:first-child
      .content-right-container {
      margin-top: 100px;
    }

    .conference-timeline-content
      .timeline-article:first-child
      .content-right-container
      .image_part.white_arro {
      top: -68px;
    }
    .conference-timeline-content
      .timeline-article:first-child
      .content-right-container
      .box-section
      .text-part {
      padding: 168px 25px 20px 25px;
    }
    .conference-timeline-content
      .timeline-article.spectra-part
      .image-section
      .spectra-image {
      position: static;
    }
    .conference-timeline-content .timeline-article.spectra-part {
      padding: 10px 20px 78px 0;
    }

    .image-section.on_image .text-part.acuire-cell-txt {
      position: static;
      padding-top: 10px;
    }
    .image-section.on_image .text-part.wash_microplate {
      margin-top: -8em;
    }
    .image-section.on_image .text-part.analize-txt {
      position: static;
      margin-top: -6em;
    }
    #conference-timeline .conference-timeline-content {
      padding-bottom: 0;
    }
    .image-section.on_image .text-part {
      margin-top: -9em;
    }
    .with-icon-part {
      margin-top: 20px;
    }
    .conference-timeline-content
      .timeline-article:last-child
      .content-right-container {
      margin-top: 40px;
    }
    #conference-timeline .conference-center-line {
      height: 82%;
    }
  }
  .app-filter-item
    .pro-container
    .prothumb
    img[src*="organoids-workflows-slas-2022.jpg"] {
    object-position: left;
  }
</style>

<div>
  <p></p>
  <p>&nbsp;</p>
  <section class="workflow_elisa live-cell" id="conference-timeline">
    <div class="timeline-start">Live Cell Imaging &amp; Analysis Workflow</div>
    <div class="conference-center-line">&nbsp;</div>
    <div class="conference-timeline-content">
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="image_part">
              <img
                src="/fragments/workflow/plate-cell.png"
                data-entity-uuid="f41ff66e-52b8-4d9c-8087-1556c7016aea"
                data-entity-type="file"
                alt="Plate Cells"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part fst-card-txt">
              <h3>PLATE CELLS</h3>
              <p class="center-align">
                Plate adherent or suspension cells into the labware of choice
                including culture dishes, chamber slides, and microplates.
                Incubate the cells at normal culture conditions (i.e. 37°C, 5%
                CO2). For adherent cells, incubating the plated cells overnight
                will allow ample time for cell attachment and growth.
              </p>
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right box-section">
            <div class="image_part white_arro">
              <img
                src="/fragments/workflow/96-or-384-well-plate.png"
                data-entity-uuid="cb906d50-0206-4452-b47b-b8624df19181"
                data-entity-type="file"
                alt="96 or 384 Well Plates"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part">
              <h3>96- or 384- Well Plates</h3>
              <p>
                Most cell cultures for high-content, high-throughput screening
                are run using 96- or 384-well microplates.
              </p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">01</span></div>
      </div>
      <div class="timeline-article spectra-part">
        <div class="content-left-container">
          <div class="content-left image-section">
            <div class="spectra-flow">
              <div class="image_part bubbles-part">
                <div class="text-wrap">
                  <h3><em>Shopping for reagents?</em></h3>
                  <p>
                    Check out our<br /><a
                      href="/products/assay-kits/cell-viability/earlytox-cell-viability-assay-kits"
                      >EarlyTox Cell Viability Assay Kits</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="spectra-image">
              <img
                src="/fragments/workflow/spectra1.png"
                alt="Spectra"
                loading="lazy"
              />
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right image-section on_image">
            <div class="image_part">
              <img
                src="/fragments/workflow/treat-with-compound.png"
                data-entity-uuid="bf13b35b-b013-4898-86ae-6e0663b29c98"
                data-entity-type="file"
                alt="Treat With Compounds"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part">
              <h3>TREAT WITH COMPOUNDS</h3>
              <p class="center-align">
                If necessary for the protocol, treat the cells with compounds of
                interest.
              </p>
              <p class="center-align">
                Compounds can be added to cells for minutes up to several days
                depending on the mechanism of action of the compounds and the
                biological re-sponse being investigated. For example, apoptosis
                or receptor internalization assays generally require shorter
                incubation periods while multiparametric cytotoxicity assays
                require longer periods. Longer compound treatments may require
                the replacement of compounds during incubation
              </p>
            </div>
          </div>
        </div>
        <div class="meta-date right-arrow"><span class="date">02</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section on_image">
            <div class="image_part">
              <img
                src="/fragments/workflow/stain-for-marker.png"
                data-entity-uuid="dbef9254-71e5-488b-b705-26ccf829192a"
                data-entity-type="file"
                alt="Stain for Markers"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part wash_microplate">
              <h3>STAIN FOR MARKERS</h3>
              <p class="center-align">
                Live cells can be stained with a variety of fluorophores or
                transfected/transduced with constructs containing fluorescent
                protein – peptide fusions. Manufacturer instructions should be
                followed when staining. Stain-ing isn’t necessary for all live
                cell applications and label free imaging and analysis allows for
                the tracking and monitoring of cells in brightfield only.
              </p>
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right box-section">
            <div class="image_part white_arro">
              <img
                src="/fragments/workflow/reagents.png"
                alt="96 or 384 Well Plates"
                loading="lazy"
              />
            </div>
            <div class="text-part">
              <h3>Assay Kits</h3>
              <p>
                Easy-to-use, robust assay kits for life science research, drug
                discovery and development, and bioassays. Our assay kits are
                optimized for use on our instruments. Screen more compounds
                earlier in drug discovery and enable characterization of a full
                concentra-tion-response profile of test compounds.
              </p>
              <p>
                <a class="watch-video" href="/products/assay-kits"
                  >Shop assay kits&nbsp;<em
                    ><span class='icon icon-chevron-right-outline'/></em
                  ></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">03</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container video">
          <div class="content-left box-section">
            <div class="image_part">
              <img
                src="/fragments/applications/live-cell-imaging/imagexpress-high-content-imaging-portfolio.png"
                data-entity-uuid="3914bb4b-326c-457b-92a5-20f8093da236"
                data-entity-type="file"
                alt="Imagexpress high content Imaging Portfolio"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part">
              <h3>ImageXpress High-content Imaging Portfolio</h3>
              <p class="center-align">
                Our systems for
                <a href="/products/cellular-imaging-systems"
                  >high-content imaging and analysis</a
                >
                provide flexible scalability making it easy to evolve your
                system alongside your research. They feature options and modules
                to address your specific research including objectives, filters,
                imaging modes, and envi-ronmental conditions.
              </p>
              <p>
                <a
                  href="/products/cellular-imaging-systems#High-Content-Imaging"
                  >View product comparison table&nbsp;<em
                    ><span class='icon icon-chevron-right-outline'/></em
                  ></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right image-section on_image">
            <div class="image_part">
              <img
                src="/fragments/workflow/configure-environmental-control-settings.png"
                data-entity-uuid="0598c1de-db29-4ef4-8395-440497b863b6"
                data-entity-type="file"
                alt="Configure Environmental Cotrol Settings"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part config-env-part acuire-cell-txt">
              <h3>CONFIGURE ENVIRONMENTAL CONTROL SETTINGS</h3>
              <p class="center-align">
                After the addition of stains and compounds, place the plate into
                the appropriate imaging instrument integrated with environmental
                control capabilities such asl gases (CO2, O2), temperature, and
                humidity.
              </p>
              <p class="center-align">
                For long-term time-lapse assays it is essential to maintain a
                natural physiological environment to ensure the health of living
                cells and to prevent focus drift throughout the time-lapse
                acquisition.
              </p>
            </div>
          </div>
        </div>
        <div class="meta-date right-arrow"><span class="date">04</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left image-section on_image">
            <div class="image_part">
              <img
                src="/fragments/workflow/acquire-live-cell-image.png"
                data-entity-uuid="dfaddeaa-aebb-48c0-9c12-6f98bef362b5"
                data-entity-type="file"
                alt="Acquire Live Cell Image"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part analize-txt">
              <h3>ACQUIRE LIVE CELL IMAGE</h3>
              <p class="center-align">
                For continuous time-lapse acquisitions, configure the total
                length of time for the time series and the imaging intervals,
                i.e. image every hour for 24 hours.
              </p>
              <p class="center-align">
                Discontinuous time-lapse acquisitions can be per-formed, where
                the plate is taken to and from the incubator and imaged at
                different time points.
              </p>
            </div>
          </div>
        </div>
        <div class="content-right-container video">
          <div class="content-right box-section">
            <div
              class="image_part blue_arro video-ico"
              onclick="fn_vidyard_Z3iBwKY6jzq5BkFsqDfjBi();"
              data-vidyard-video-url="https://vids.moleculardevices.com/watch/Z3iBwKY6jzq5BkFsqDfjBi"
            >
              <img
                src="/fragments/applications/live-cell-imaging/imagexpress-pico-automated.png"
                data-entity-uuid="df2a1d9a-a1ab-4cd0-b2a6-2246fb5ae52e"
                data-entity-type="file"
                alt="ImageXpress Pico Automated"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part">
              <h3>Automated Cell Imaging System</h3>
              <p class="center-align">
                The ImageXpress® Pico Automated Cell Imaging System is more than
                a digital microscope, combining high-resolution imaging with
                powerful analysis. Whether running fluorescence imaging or
                brightfield assays, the automated imager features comprehensive
                preconfigured protocols for cell-based assays to shorten the
                learning curve, so you can start running experiments quickly.
              </p>
              <!-- Cannot find where this is actually used...
              <script
                type="text/javascript"
                id=""
                src="https://play.vidyard.com/TcbyPZHsYw8FNUS8oYQJnH.js?width=700&amp;height=394&amp;frameborder=0&amp;v=3.1.1&amp;type=lightbox"
              ></script> -->
              <p>
                <a
                  class="watch-video"
                  href="/products/cellular-imaging-systems/high-content-imaging/imagexpress-pico"
                  >View product&nbsp;<em
                    ><span class='icon icon-chevron-right-outline'/></em
                  ></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="meta-date left-arrow"><span class="date">05</span></div>
      </div>
      <div class="timeline-article">
        <div class="content-left-container video">
          <div class="content-left box-section">
            <div
              class="image_part grey_arro video-ico"
              data-vidyard-video-url="https://vids.moleculardevices.com/watch/7gQUWFhYh9tQ5umAw39jzK"
            >
              <img
                src="/fragments/applications/live-cell-imaging/cellreporterxpress-software.png"
                data-entity-uuid="9f6e2be9-4a60-40b2-bc25-05e22ec791d9"
                data-entity-type="file"
                alt="CellReporterXpress Software"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part">
              <h3>Cellular&nbsp;Imaging Acquisition and Analysis Software</h3>
              <p class="center-align">
                The CellReporterXpress Automated Image Acquisition and Analysis
                Software works with the ImageXpress® Pico systems. It has a
                clean, easy-to-learn interface for performing quantitative
                analysis on images acquired from automated microscopy. The
                software enables distributed analysis of images for increased
                throughput and is ideal for scaling microscopy imaging with
                slides or microplates.
              </p>
              <p>
                <a
                  class="watch-video"
                  href="/products/cellular-imaging-systems/acquisition-and-analysis-software/cellreporterxpress"
                  >View product&nbsp;<em
                    ><span class='icon icon-chevron-right-outline'/></em
                  ></a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="content-right-container">
          <div class="content-right image-section on_image">
            <div class="image_part">
              <img
                src="/fragments/workflow/analyze-live-cell-image.png"
                data-entity-uuid="8437ad6b-f5b5-4c06-8716-12fa6ad4525a"
                data-entity-type="file"
                alt="Analyze Live Cell Image"
                data-responsive-image-style=""
                loading="lazy"
              />
            </div>
            <div class="text-part acuire-cell-txt">
              <h3>ANALYZE LIVE CELL IMAGE</h3>
              <p class="center-align">
                Analyze the images with cellular imaging analysis software to
                generate multiparametric readouts for the biological responses
                that are being studied. Kinetic data can be generated and
                reviewed for time-lapse acquisitions.
              </p>
            </div>
          </div>
        </div>
        <div class="meta-date right-arrow"><span class="date">06</span></div>
      </div>
    </div>
  </section>
  <p>&nbsp;</p>
  <p></p>
</div>
