<link rel="stylesheet" href="/fragments/applications/application-workflow-commons.css" />
<style>
  #conference-timeline.plasmid-production-timeline .conference-center-line {
    height: 85%;
  }
</style>

<section class="workflow_elisa plasmid-production-timeline" id="conference-timeline">
  <div class="timeline-start">Workflow: mAb production</div>
  <div class="conference-center-line">&nbsp;</div>
  <div class="conference-timeline-content pb-0">
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/immunization-and-splenocyte-isolation.png" alt="Immunization and Splenocyte Isolation" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Immunization and Splenocyte Isolation</h3>
            <p class="center-align">
              In the monoclonal antibody production process, mice are immunized with antigens, and their antibody-producing splenocytes are isolated for in vitro hybridoma production.
            </p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right">
          <!-- <div class="image_part white_arro">
            <img src="/images/workflows/assembly-workflow.png" alt="Assembly workflow" loading="lazy" />
          </div> -->
        </div>
      </div>
      <div class="meta-date left-arrow"><span class="date">01</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <!-- <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/transform-workflow.png" alt="Transform" loading="lazy" />
          </div>
        </div> -->
      </div>
      <div class="content-right-container">
        <div class="content-right image-section">
          <div class="image_part">
            <img src="/images/workflows/myeloma-cell-preparation.png" alt="Myeloma Cell Preparation" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Myeloma Cell Preparation</h3>
            <p class="center-align">
              Myeloma cells are immortalized cells that, once fused with spleen cells, can result in hybridoma capable of unlimited growth. Myeloma cells are prepared for fusion.
            </p>
          </div>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">02</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/fusion-for-hybridoma-formation.png" alt="Fusion for Hybridoma Formation" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Fusion for Hybridoma Formation</h3>
            <p class="center-align">The fusion of myeloma cells with isolated splenocytes, using polyethylene glycol (PEG), is a key step in forming hybridomas, advancing the monoclonal antibody production process.</p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right">
          <!-- <div class="image_part">
            <img src="/images/workflows/colony-plating-screening-workflow.png" alt="Colony Plating &amp; Screening" loading="lazy" />
          </div> -->
        </div>
      </div>
      <div class="meta-date left-arrow"><span class="date">03</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container myspectra">
        <div class="content-left box-section">
          <div class="image_part">
            <br>
            <img src="/products/clone-screening/mammalian-screening/media_176fe19452b51369cd14cc78bb3f6178433db12e0.png" alt="Mammalian Colony Picker with Monoclonality Assurance" loading="lazy" style="width: auto;display: block;margin: auto;" />
          </div>
          <div class="text-part">
            <h3>Mammalian Colony Picker with Monoclonality Assurance</h3>
            <p>Identify and select high-producing, monoclonal clones in one seamless step, merging high-throughput screening with monoclonality assurance for unparalleled efficiency.</p>
            <p><a href="/products/clone-screening/mammalian-screening/clonepix-2-mammalian-colony-picker">View Product <em><span class="icon icon-chevron-right-outline"></span></em></a></p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section">
          <div class="image_part">
            <img src="/images/workflows/clone-screening-and-selection.png" alt="Clone Screening and Selection" loading="lazy" />
          </div>
          <div class="text-part add_detection">
            <h3>Clone Screening and Selection</h3>
            <p class="center-align">Clones are meticulously screened and selected based on their antigen specificity and immunoglobulin class to ensure only the most promising candidates move forward.</p>
          </div>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">04</span></div>
    </div>
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/functional-characterization-of-clones.png" alt="Functional Characterization of Clones" loading="lazy" />
          </div>
          <div class="text-part">
            <h3>Functional Characterization of Clones</h3>
            <p class="center-align">This step involves the rigorous confirmation, validation, and characterization of each clone, utilizing techniques such as ELISA to identify those with the highest production potential.</p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right box-section">
          <div class="image_part">
            <br>
            <img src="/images/workflows/microplate-reader-and-cell-imaging-system.png" alt="Microplate Reader and Cell Imaging System" loading="lazy" style="width: auto;padding-right: 20px;" />
          </div>
          <div class="text-part">
            <h3>Microplate Reader and Cell Imaging System</h3>
            <p>Facilitating an automated and precise assessment of clone viability and productivity, crucial for advancing the most effective antibodies to the next stage.</p>
            <p><a href="/products/cellular-imaging-systems/high-content-imaging/imagexpress-pico">View cell imager <em><span class="icon icon-chevron-right-outline"></span></em></a> </p>
            <p><a href="/products/microplate-readers/multi-mode-readers/spectramax-id3-id5-readers">View microplate readers <em><span class="icon icon-chevron-right-outline"></span></em></a></p>
          </div>
        </div>
      </div>
      <div class="meta-date left-arrow"><span class="date">05</span></div>
    </div>
    <div class="timeline-article mb-0">
      <div class="content-left-container">
        <div class="content-left box-section">
          <div class="image_part">
            <script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
            <img class="vidyard-player-embed" src="https://play.vidyard.com/xgTqMVm4uWCZ4sfkPxycyE.jpg" data-uuid="xgTqMVm4uWCZ4sfkPxycyE" data-v="4" data-type="inline" alt="Automated Cell Culture System" />
          </div>
          <div class="text-part">
            <h3>Automated Cell Culture System</h3>
            <p>Significantly enhances both the scale-up and expansion phases by automating the growth of high-yield clones, ensuring a seamless transition from laboratory-scale to large-scale production without compromising quality or specificity.</p>
            <p><a href="/products/3d-biology/cellxpress-ai-automated-cell-culture-system">View product <em><span class="icon icon-chevron-right-outline"></span></em></a></p>
          </div>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section">
          <div class="image_part">
            <img src="/images/workflows/scale-up-and-wean.png" alt="Scale-Up and Wean" loading="lazy" />
          </div>
          <h3>Scale-Up and Wean</h3>
          <p class="center-align">Once clones are deemed suitable, they undergo a scale-up process to increase antibody production, followed by a weaning phase to reduce dependency on selection agents.</p>
        </div>
      </div>
      <div class="meta-date right-arrow"><span class="date">06</span></div>
    </div>
    <div class="timeline-article mb-0">
      <div class="content-left-container">
        <div class="content-left image-section">
          <div class="image_part">
            <img src="/images/workflows/expansion.png" alt="Expansion" loading="lazy" />
          </div>
          <h3>Expansion</h3>
          <p class="center-align"> The production of desired antibodies is further amplified, often in bioreactors or large flasks, to meet the demand for therapeutic applications.</p>
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right image-section"></div>
      </div>
      <div class="meta-date left-arrow"><span class="date">07</span></div>
    </div>

  </div>
</section>