/*
  Cards Carousel specific styling.
*/
main .carousel-wrapper.cards {
  width: 1140px;
  padding: 0 15px 30px;
  margin: 0 auto;
}

main .carousel-wrapper.cards .carousel {
  width: 88%;
  padding: 0;
}

.carousel.cards .carousel-item {
  display: block;
  width: 33.3%;
  max-width: 33.3%;
  padding: 20px 15px;
  margin: 0;
}

.carousel-wrapper.cards div > picture {
  display: block;
}

.carousel-wrapper.cards div > picture,
.carousel-wrapper.cards div > picture img,
.carousel-wrapper.cards .card-thumb,
.carousel-wrapper.cards .card-thumb img {
  /* height: 190px;
  min-height: 190px; */
  width: 100%;
  min-width: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.carousel-wrapper.cards > div:not(picture:only-child),
.carousel-wrapper.cards .card-caption {
  padding-top: 20px;
}

.block.carousel.cards {
  text-align: left;
}

.carousel-wrapper.cards .carousel-nav-button:hover {
  color: var(--dark-border-color-gray);
  border: 1.5px solid var(--dark-border-color-gray);
  background-color: inherit;
}

.carousel.cards {
  padding: 0;
}

.carousel.cards.no-repetition {
  justify-content: center;
}

.carousel.cards .carousel-item .card {
  height: 100%;
  background: var(--background-color);
  margin: 0;
  position: relative;
  box-shadow: 0 1px 10px rgba(0 0 0 / 20%);
  transition: all 0.3s;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.carousel.cards .carousel-item .card:hover {
  z-index: 1;
  transform: scale(1.03);
  transition: all 0.3s;
}

.carousel.cards .carousel-item h3 {
  color: var(--text-color);
  font-size: var(--heading-font-size-l);
  margin-bottom: 15px;
  margin-top: 0;
}

.carousel.cards.three-lines-heading .carousel-item h3 {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.carousel.cards .carousel-item p {
  margin: 0;
}

.carousel.cards .carousel-item p,
.carousel-wrapper.cards .card-description {
  font-size: var(--body-font-size-s);
  color: var(--text-color);
  margin-bottom: 10px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.carousel.cards.show-full-description .carousel-item p,
.carousel-wrapper.cards.show-full-description .card-description {
  display: block;
  -webkit-line-clamp: unset;
  line-clamp: unset;
  overflow: auto;
}

.carousel.cards.gpx-compliance-resources .carousel-item p:first-child {
  text-transform: uppercase;
  color: var(--text-green);
  font-size: 14px;
  margin-bottom: 10px;
}

.carousel.cards .carousel-item .button-container {
  margin-top: auto;
  margin-bottom: 0;
}

.carousel.cards .carousel-item a {
  font-size: 18px;
  color: var(--text-blue);
}

.carousel.cards .carousel-item a span {
  margin-left: 5px;
  vertical-align: text-top;
}

.carousel.cards .carousel-item a span svg {
  height: 18px;
  width: 18px;
}

.carousel.cards .carousel-item .card > div:last-child {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #12141f;
  height: 100%;
  min-height: auto;
}

/* c2a */
.carousel-wrapper.cards .card-caption .c2a {
  display: flex;
  gap: 20px;
}

.carousel-wrapper.cards .carousel.no-description .card-caption .c2a {
  margin-top: 0;
}

.carousel-wrapper.cards .carousel .card .button-container {
  width: 100%;
  margin-top: auto;
  line-height: 1;
  text-align: left;
  margin-bottom: 0;
}

.carousel-wrapper.cards .carousel .card .button-container a {
  color: var(--text-blue);
  display: flex;
  min-width: 135px;
  align-items: center;
  text-transform: none;
}

.carousel-wrapper.cards .carousel .card .button-container a span svg {
  display: block;
}

.carousel.cards.gpx-compliance-resources .carousel-item .card > div:first-child,
.carousel.cards.microplate-related-products
  .carousel-item
  .card
  > div:first-child {
  flex-shrink: 0;
}

.carousel.cards.gpx-compliance-resources
  .carousel-item
  .card
  > div:first-child {
  height: 200px;
}

.carousel.cards.microplate-related-products
  .carousel-item
  .card
  > div:first-child {
  height: 250px;
}

.carousel.cards.gpx-compliance-resources
  .carousel-item
  .card
  > div:first-child
  picture,
.carousel.cards.microplate-related-products
  .carousel-item
  .card
  > div:first-child
  picture {
  display: block;
  height: 100%;
}

.carousel.cards.gpx-compliance-resources
  .carousel-item
  .card
  > div:first-child
  img,
.carousel.cards.microplate-related-products
  .carousel-item
  .card
  > div:first-child
  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel.cards .carousel-item-columns-container {
  flex-direction: column;
}

@media only screen and (max-width: 1199px) {
  main .carousel-wrapper.cards {
    width: 940px;
  }

  .carousel-wrapper.cards .carousel-item {
    width: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  main .carousel-wrapper.cards {
    width: 100%;
  }

  .carousel-wrapper.cards .carousel .card-caption h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-wrapper.cards {
    width: 100%;
  }

  main .carousel-wrapper.cards {
    padding: 0;
  }

  main .carousel-wrapper.cards .carousel {
    width: 100%;
    padding: 0 10%;
  }

  .carousel-wrapper.cards .carousel-item {
    width: 100%;
    max-width: 100%;
  }

  .carousel-wrapper.cards .carousel-nav-button {
    display: none;
  }

  /* .carousel-wrapper.cards div > picture,
  .carousel-wrapper.cards div > picture img,
  .carousel-wrapper.cards .card-thumb,
  .carousel-wrapper.cards .card-thumb img {
    height: 150px;
    min-height: 150px;
  } */
}
