.carousel.featured-video-carousel .card-thumb,
.carousel.featured-video-carousel .card-thumb img {
  height: 166px;
  min-height: 166px;
}

.carousel.featured-video-carousel .card-caption h3 {
  font-size: var(--font-size-body-s);
  margin-bottom: 10px;
}

.carousel.featured-video-carousel .card-description {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.carousel.featured-video-carousel.no-description .card-caption .c2a {
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .carousel.featured-video-carousel .card-thumb,
  .carousel.featured-video-carousel .card-thumb img {
    height: 150px;
    min-height: 150px;
  }
}
