.table {
  width: 100%;
  overflow-x: auto;
  margin-top: 1em;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-m);
}

.table table th {
  background: var(--light-gray-background-color);
}

.table table th, .table table td {
  border: 1px solid var(--light-border-color-gray);
  padding: 8px 8px;
  text-align: left;
  vertical-align: top;
}

table th.text-align-left, table td.text-align-left {
  text-align: left;
}
  
table th.text-align-center, table td.text-align-center {
  text-align: center;
}

table th.text-align-right, table td.text-align-right {
  text-align: right;
}

table th.vertical-align-top, table td.vertical-align-bottom {
  vertical-align: top;
}

table th.vertical-align-middle,table td.vertical-align-bottom {
  vertical-align: middle;
}

table th.vertical-align-bottom, table td.vertical-align-bottom {
  vertical-align: bottom;
}