:root {
  --blog-gradient: linear-gradient(90deg,
      rgba(21, 145, 164, 1) 0,
      rgba(46, 159, 121, 1) 50%,
      rgba(97, 178, 73, 1) 100%);
  --blog-gradient-left: linear-gradient(to left, rgba(21, 145, 164, 1) 0, rgba(50, 159, 121, 1) 50%, rgba(97, 178, 73, 1) 100%);
}

.blog {
  font-family: var(--ff-proxima-regular);
}

.blog .section .default-content-wrapper {
  padding: 0;
}

.blog .section .default-content-wrapper > p:last-child {
  margin-bottom: 0;
}

.blog main strong {
  font-family: var(--ff-proxima-regular);
}

.blog main p {
  margin-top: 0;
  margin-bottom: 10px;
}

.blog main ul,
.blog main ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.blog .no-indent ul,
.blog .no-indent ol {
  padding-left: 20px;
}

.blog main table ul,
.blog main table ol {
  margin-left: 15px;
}

.blog main ul ul {
  margin-bottom: 0;
}

.blog main ol li > picture img,
.blog main ul li > picture img {
    display: block;
    margin: 20px auto;
}

.blog main ol.text-caption {
  margin-top: 40px;
  position: relative;
}

.blog main ol.text-caption::before {
  content: "";
  top: -21px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #eee;
  position: absolute;
}

.blog main h2 {
  font-size: 54px;
  color: #008da9;
  font-family: inherit;
  line-height: 1;
  font-weight: 100;
  margin-top: 43px;
  margin-bottom: 20px;
}

.blog main h3 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
}

.blog main h3 + ol,
.blog main h3 + ul{
  margin-top: 10px;
}

.blog .section > div:not(.hero-wrapper) {
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}

.blog .section > div.embed-wrapper > div.embed {
  width: unset;
}

.blog .columns-wrapper:has(h3) {
  margin-top: 30px;
}

.blog .section.blog-wide {
  padding: 0;
}

.blog .section.blog-wide > div {
  max-width: 1170px;
  width: unset;
  margin: 0 auto;
}

.blog .section.blog-heading > div {
  max-width: unset;
  width: unset;
  margin: 0;
}

.blog .section.blog-heading > div.default-content-wrapper:first-of-type {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 15px 50px;
  padding: 0;
}

.blog .section.blog-heading > div:first-of-type::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--background-color-green);
  background: var(--blog-gradient);
}

.blog .section.blog-heading > div:first-of-type p {
  margin: 0;
}

main .section.sidebar h4,
.blog .section.blog-heading h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.blog .section.blog-heading .icon-view-all-posts img {
  display: block;
  width: 178px;
}

.blog .section.green-secondary-buttons .button {
  color: var(--text-green);
}

.blog .section.orange-buttons .button.secondary {
  color: var(--text-orange);
  border: 2px solid var(--text-orange);
}

@media only screen and (max-width: 767px) {
  .blog .section.blog-heading > div:first-of-type {
    overflow: visible;
  }

  .blog .section.blog-heading .icon-view-all-posts img {
    width: 120px;
  }
}

main.sidebar {
  display: grid;
  grid-template-columns: auto 780px 390px auto;
}

@media only screen and (max-width: 1200px) {
  main.sidebar {
    grid-template-columns: auto 646px 323px auto;
  }
}

/* put all content that's not in the sidebar in second column */
main.sidebar > *:not(.section.sidebar) {
  grid-column: 2;
}

/*
  put sidebar in column 3
  sidebar starts hardcoded from third row, because we only have it on /lab-notes
  sidebar ends before the last section, as last section is wave
*/
main.sidebar .section.sidebar {
  grid-column: 3;
  grid-row: 3 / -2;
}

/* full width sections */
main.sidebar div.section.hero-container,
main.sidebar .section.wave,
main.sidebar > .section.full-width-no-sidebar {
  grid-column: 1 / -1;
}

/* sidebar content styling */
main.sidebar .section.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

main .section.sidebar h4 {
  margin-bottom: 50px;
  position: relative;
}

main.sidebar .section.sidebar .default-content-wrapper {
  padding-top: 0;
}

main .section.sidebar h4::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--background-color-green)
  background: var(--blog-gradient);
}

.blog main .section.sidebar .embed-wrapper {
  padding-top: 0;
}

.blog main .section.sidebar .embed-twitter {
  margin-top: 0;
}

@media only screen and (max-width: 991px) {
  main.sidebar {
    grid-template-columns: auto 750px auto;
  }

  main.sidebar .section.sidebar {
    grid-column: 2;
    grid-row: unset;
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  main.sidebar {
    grid-template-columns: repeat(3, auto);
  }
}

.blog .card-caption h3 {
  line-height: 1.1;
  margin-top: 0;
}

.blog .section > div.embed-wrapper > div.embed{
  margin-top: 10px;
}

/* POPUP */
.newsletter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1000;
  padding: 80px 20px;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.newsletter-modal-overlay[aria-hidden="true"] {
  display: none;
}

.newsletter-inner-wrapper {
  margin: 0 auto;
  position: relative;
  background-color: rgba(50, 159, 121, 1);
  background-image: var(--blog-gradient-left);
}

.newsletter-inner-wrapper,
.newsletter-inner-wrapper .modal-iframe-wrapper {
  padding: 20px;
}

.newsletter-inner-wrapper .modal-iframe-wrapper > div {
  border-radius: 8px;
  position: relative;
  border: 2px solid #fff;
  padding: 20px 20px 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.43);
  text-align: center;
}

.newsletter-inner-wrapper .modal-iframe-wrapper > div h3 {
  line-height: 1.15;
  margin-bottom: 20px;
}

.newsletter-inner-wrapper .modal-iframe-wrapper > div p {
  font-size: 15px;
}

.newsletter-inner-wrapper .modal-iframe-wrapper > div iframe,
.blog .section > div.embed-wrapper > div.embed.spectra-newsletter iframe {
  border: 0;
  width: 100%;
  min-height: 300px;
}

.newsletter-modal-overlay .newsletter-button-close {
  position: absolute;
  top: -50px;
  right: -5px;
  display: block;
  cursor: pointer;
}

.newsletter-modal-overlay .newsletter-button-close svg {
  width: 44px;
  height: auto;
}

.newsletter-modal-overlay .newsletter-button-close svg path {
  fill: none;
  color: #fff;
}

.newsletter-inner-wrapper .columns-2-cols {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.newsletter-inner-wrapper .columns-2-cols .newsletter-col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.newsletter-inner-wrapper .columns-2-cols .newsletter-col img {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.blog .section > div.embed-wrapper > div.embed.spectra-newsletter {
  padding: 20px 16px;
  border-radius: 10px;
  font-size: 15px;
  background: var(--blog-gradient-left);
  color: #fff;
  margin-top: -17px;
  min-height: 460px;
  position: relative;
  z-index: -1;
  margin-bottom: 50px;
}

.blog .section > div.embed-wrapper > div.embed.spectra-newsletter h5 {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .newsletter-inner-wrapper {
    width: 900px;
  }

  .newsletter-inner-wrapper .columns-2-cols {
    align-items: center;
  }

  .newsletter-inner-wrapper .columns-2-cols .newsletter-col {
    width: 50%;
  }

  .newsletter-inner-wrapper .modal-iframe-wrapper > div h3 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 991px) {
  .newsletter-inner-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .newsletter-modal-overlay {
    display: block;
  }
}