/* stylelint-disable no-descending-specificity */
.blog,
main strong {
  font-family: var(--ff-proxima-regular);
}

.blog main p,
.blog main ul,
.blog main ol {
  margin-top: 0;
  margin-bottom: 10px;
}

main ul li,
main ol li {
  margin-bottom: 4px;
}

main ul ul,
main ol ol {
  margin-top: 4px;
}

main ul ul,
main ol ol,
main .section .default-content-wrapper > p:last-child {
  margin-bottom: 0;
}

main table ul,
main table ol {
  margin-left: 15px;
}

/* hero */
main .hero-wrapper {
  margin-top: 0;
  position: relative;
  color: var(--color-white);
}

main .hero-wrapper .breadcrumbs ol {
  padding-left: 0;
}

main .hero-wrapper h1 {
  font-family: var(--ff-proxima-regular);
  font-size: 48px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 35px;
}

main .hero-wrapper .container {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 700px;
  text-align: center;
  padding: 0;
}

main .hero-wrapper .container .metadata {
  clear: both;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 2.5px 0;
  width: 100%;
}

main .hero-wrapper .container .metadata .metadata-item {
  display: flex;
  gap: 8px;
  min-width: 120px;
}

main .video-wrapper,
main .vidyard-lightbox-thumbnail {
  max-width: 100% !important;
  margin: 0;
}

main .hero-container + .section.social-share-container {
  padding-top: 50px;
}

main .hero-container + .section.social-share-container > .default-content-wrapper h2:first-child,
main .hero-container + .section.social-share-container > .default-content-wrapper h3:first-child {
  margin-top: 0;
}

main ol li > picture img,
main ul li > picture img {
  display: block;
  margin: 20px auto;
}

main ol.text-caption {
  margin-top: 40px;
  position: relative;
}

main ol.text-caption::before {
  content: "";
  top: -21px;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--color-gray-100);
  position: absolute;
}

main .section h2,
main .section .default-content-wrapper h2:only-child,
main .section h4,
main .toc-container.toc-sub-heading .default-content-wrapper h4 {
  font-family: var(--ff-proxima-regular);
  font-weight: 400;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

main .section h2,
main .section .default-content-wrapper h2:only-child {
  font-size: 38px;
  margin-top: 40px;
}

main .section h4,
main .toc-container.toc-sub-heading .default-content-wrapper h4 {
  margin-top: 20px;
}

main .section > div,
main .section > article {
  width: var(--layout-blog-width);
}

main .section > .embed-wrapper > .embed {
  margin-top: 10px;
  width: unset;
}

main .section > .columns-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog main .columns-wrapper:has(h3) {
  margin-top: 30px;
  margin-bottom: 0;
}

main .section.blog-wide {
  padding: 0;
}

main .section.blog-wide > div,
main .section.blog-wide > article {
  max-width: var(--layout-max-width);
  width: unset;
  margin: 0 auto;
}

.blog main .section.blog-heading > div {
  max-width: unset;
  width: unset;
}

.blog main .section.blog-heading > .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px 50px;
  width: unset;
}

.blog main .section.blog-heading > .default-content-wrapper h4 {
  margin-bottom: 0;
}

.blog main .section.blog-heading > .default-content-wrapper::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-tertiary);
  background-image: var(--gradient-theme);
}

.blog main .section.blog-heading > .default-content-wrapper p {
  margin: 0;
}

main .section.sidebar p.picture {
  position: relative;
  z-index: 2;
}

main .section.sidebar h3 {
  line-height: 30px;
}

main .section.sidebar h4,
.blog .section.blog-heading h4,
.section.recent-blogs-carousel-container h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

main h3,
main .big-sub-heading h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}

main .section.block {
  padding: 20px 0;
}

main .section.block > div {
  width: 100%;
}

main .section .default-content-wrapper p.picture {
  margin-top: 20px;
  margin-bottom: 20px;
}

main .section .default-content-wrapper h3 + p.picture {
  margin-bottom: 0;
}

main .section .default-content-wrapper img {
  display: inline-block;
  vertical-align: middle;
}

main .section.blog-heading .icon-view-all-posts img {
  display: block;
  width: 178px;
}

main .section.sidebar h4 {
  margin-bottom: 50px;
  position: relative;
}

main .section.green-secondary-buttons .button {
  color: var(--color-tertiary);
}

main .section.orange-buttons .button.secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

main .columns p.video-title {
  margin: 15px 0 25px;
  font-size: var(--font-size-body-xs);
  display: block;
  color: var(--color-theme-gray);
  font-style: italic;
}

main .columns .video-wrapper,
main .toc-container .columns .button-container {
  margin-bottom: 0;
}

main .section .credit-paragraph {
  margin-top: 30px;
  padding-bottom: 30px;
}

main .section .credit-paragraph p {
  color: var(--color-text-primary);
  margin-bottom: 1rem;
}

main .section .credit-paragraph p:last-child {
  margin-bottom: 0;
}

main .section .credit-paragraph strong {
  font-family: var(--ff-proxima-xbold);
}

main .section.background-molecules {
  padding-top: 50px;
}

@media only screen and (max-width: 767px) {
  main .hero-wrapper {
    color: inherit;
    margin-bottom: 60px;
  }

  main .hero-wrapper .container {
    width: 100%;
    position: static;
    transform: none;
    padding: 0 15px;
    margin-top: 83px;
  }

  main .hero-wrapper .container .metadata {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.2;
    gap: 0;
  }

  main .hero-wrapper .container .metadata > div {
    display: flex;
    padding: 6px;
  }

  main .hero-wrapper h1 {
    font-family: var(--ff-proxima-light);
    font-size: 36px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 33px;
  }

  main .section.blog-heading > div:first-of-type,
  main .section.blog-heading > article:first-of-type {
    overflow: visible;
  }

  main .section.blog-heading .icon-view-all-posts img {
    width: 120px;
  }
}

main.sidebar {
  display: grid;
  grid-template-columns: auto 780px 390px auto;
}

@media only screen and (max-width: 1200px) {
  main.sidebar {
    grid-template-columns: auto 646px 323px auto;
  }
}

/* put all content that's not in the sidebar in second column */
main.sidebar > *:not(.section.sidebar) {
  grid-column: 2;
}

/*
  put sidebar in column 3
  sidebar starts hardcoded from third row, because we only have it on /lab-notes
  sidebar ends before the last section, as last section is wave
*/
main.sidebar .section.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  grid-column: 3;
  grid-row: 3 / -2;
}

/* full width sections */
main.sidebar .section.hero-container,
main.sidebar .section.wave,
main.sidebar > .section.full-width-no-sidebar {
  grid-column: 1 / -1;
}

/* sidebar content styling */
main.sidebar .section.sidebar .default-content-wrapper {
  padding-top: 0;
}

main .section.sidebar h4::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-tertiary);
  background-image: var(--gradient-theme);
}

main .section.sidebar .embed-wrapper {
  padding-top: 0;
}

main .section.sidebar .embed-twitter {
  margin-top: 0;
}

main .section .spectra-newsletter-column .columns-row {
  display: block;
}

main .section .spectra-newsletter-column .columns-text-col {
  display: block;
  text-align: center;
  padding: 20px 16px;
  border-radius: 10px;
  font-size: 15px;
  background: var(--gradient-theme-left);
  color: var(--color-white);
  margin-top: -17px;
  margin-bottom: 50px;
  margin-left: 0;
}

main .section .spectra-newsletter-column .columns-text-col .contact-quote-request {
  padding: 0 15px;
  text-align: center;
}

main .section .spectra-newsletter-column .columns-text-col .contact-quote-request .submitted-message {
  padding: 30px 0;
}

main .section .spectra-newsletter-column .columns-text-col .contact-quote-request .submitted-message p {
  font-size: 18px;
}

main .section .spectra-newsletter-column .columns-text-col .contact-quote-request label.privacy,
main .section .spectra-newsletter-column .columns-text-col .contact-quote-request .privacy > label {
  text-align: center;
}

main .section .spectra-newsletter-column .columns-text-col .contact-quote-request label.privacy a,
main .section .spectra-newsletter-column .columns-text-col .contact-quote-request .privacy > label a {
  color: inherit;
  text-decoration: underline;
}

main .section .spectra-newsletter-column .columns-text-col .contact-quote-request .hs-submit .actions {
  margin-top: 2px;
  margin-bottom: 17px;
  max-width: 200px;
}

main .section .spectra-newsletter-column .columns-text-col .hubspot-form .hs-error-msgs.inputs-list {
  margin-top: 5px;
  padding-left: 0;
}

main .card-list-filter ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
main .section .spectra-newsletter-column .columns-text-col .hubspot-form .hs_error_rollup .hs-error-msgs.inputs-list {
  margin-top: -10px;
  margin-bottom: 10px;
}

main .carousel-wrapper.cards .carousel {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .blog main .card-list-filter.blog ul li a {
    padding: 16px 20px;
  }
}

@media only screen and (max-width: 991px) {
  main.sidebar {
    grid-template-columns: auto 750px auto;
  }

  main.sidebar .section.sidebar {
    grid-column: 2;
    grid-row: unset;
    display: block;
  }

  main .hero-container + .section.social-share-container {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  main.sidebar {
    grid-template-columns: repeat(3, auto);
  }
}

/* social share */
main .social-share-wrapper .share-event p {
  display: none;
}

main .social-share-wrapper .share-event ul.button-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

main .social-share-wrapper .social-share-hidden .share-event ul.button-container {
  visibility: hidden;
  opacity: 0;
  margin-top: 20px;
}

main .social-share-wrapper .share-event ul.button-container li {
  clear: both;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  background-color: rgba(50 159 121 / 100%);
  background-image: var(--gradient-theme);
}

main .social-share-wrapper .share-event ul.button-container li:hover {
  background-image: none;
  box-shadow: 4px 2px 4px var(--color-black-alpha-50);
}

main .social-share-wrapper .share-event ul.button-container li i {
  color: var(--color-white);
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  main .social-share {
    margin-top: 60px;
  }

  main .social-share-wrapper .share-event ul.button-container {
    position: static;
    flex-direction: row;
    justify-content: center;
    transform: none;
  }
}
