/* Desktop - Style like a list */
/* .blog .section div.blog-list-wrapper {
  width: 1170px;
  max-width: unset;
  padding: 0 15px;
  margin-top: 40px;
} */

main .card-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */ /* TODO Blogs have it */
  align-items: stretch;
  align-content: stretch;
}

main .card-list .carousel-item {
  width: 32%;
  padding: 20px 15px 40px;
}

main .card-list .carousel-item.carousel-heading-item {
  width: 100%;
}

main .card-list .carousel-item.clone {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .blog .section div.blog-list-wrapper {
    width: 970px;
  }
}

@media only screen and (max-width: 992px) {
  .blog .section div.blog-list-wrapper {
    width: 750px;
  }

  main .blog-list .carousel-item {
    width: 45%;
  }
}

/* Mobile - Style like a propper carousel */
@media only screen and (max-width: 767px) {
  .blog .section div.blog-list-wrapper {
    width: 100%;
  }

  main .blog-list {
    justify-content: start;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 10%;
  }

  main .blog-list .carousel-item {
    flex: 1 0 100%;
    width: 100%;
    padding: 20px 15px 40px;
  }

  main .blog-list .carousel-item.clone {
    display: block;
  }
}