/* stylelint-disable no-descending-specificity */

/* COMMONS */

/* Desktop - Style like a list */

main .section.card-list-container .default-content-wrapper h2 {
  text-align: center;
  margin-top: 20px;
  padding: 0;
}

main .section div.card-list-wrapper {
  width: 1170px;
  max-width: unset;
  padding: 0 15px;
  margin-top: 40px;
}

main .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

main .card-list .carousel-item.carousel-heading-item {
  padding-top: 0;
  padding-bottom: 0;
}

main .card-list .carousel-heading-item .card-list-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

main .card-list .carousel-item {
  width: 32%;
  padding: 20px 15px 40px;
}

main .card-list .carousel-heading-item.carousel-heading-item {
  width: 100%;
}

main .card-list .carousel-item.clone {
  display: none;
}

main .card-list .carousel-item .card {
  box-shadow: 0 1px 10px rgba(0 0 0 / 20%);
}

main .card-list .carousel-item .card a .icon {
  margin-left: 5px;
  vertical-align: text-top;
}

main .card-list .carousel-item .card a .icon svg {
  height: 18px;
  width: 18px;
}

main .card-list .carousel-item .card a .icon svg path {
  stroke-width: 15;
}

@media only screen and (max-width: 1200px) {
  main .section div.card-list-wrapper {
    width: 970px;
  }
}

@media only screen and (max-width: 992px) {
  main .section div.card-list-wrapper {
    width: 750px;
  }

  main .card-list .carousel-item {
    width: 45%;
  }
}

/* Mobile - Style like a propper carousel */
@media only screen and (max-width: 767px) {
  main .section div.card-list-wrapper {
    width: 100%;
  }

  main .card-list {
    justify-content: start !important;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 10%;
  }

  main .card-list .carousel-item {
    flex: 1 0 100%;
    width: 100%;
    padding: 20px 15px 40px;
  }

  main .card-list .carousel-heading-item {
    display: none;
  }

  main .card-list .carousel-item.clone {
    display: block;
  }
}

/* VARIANTS */

/* APPLICATIONS */
.card-list.applications .card-thumb,
.card-list.applications .card-thumb img {
  flex-shrink: 0;
  height: 240px;
}

.card-list.applications .card-caption {
  padding: 15px;
}

.card-list.applications .card-caption h3 {
  margin-top: 0;
}

/* BLOG */
main .section div.card-list-wrapper.blog {
  max-width: unset;
}

main .card-list.blog {
  justify-content: center;
}

.card-list.blog .card {
  margin-bottom: 0;
}

.card-list.blog .card-thumb {
  flex-shrink: 0;
  height: 240px;
}

.card-list.blog .card-thumb a,
.card-list.blog .card-thumb picture,
.card-list.blog .card-thumb img {
  display: block;
  height: 100%;
}

.card-list.blog .card-caption {
  padding: 15px;
  color: #34393d;
}

.card-list.blog .card-caption h3 {
  margin-bottom: 20px;
}

/* TECHNOLOGY */
.technology main .section.card-list-container .default-content-wrapper h2 {
  line-height: 1;
  font-size: 36px;
  text-align: left;
  margin-top: 120px;
  font-family: var(--ff-proxima-regular);
}

main .card-list.technology {
  justify-content: center;
}

.card-list.technology .card-thumb {
  flex-shrink: 0;
  height: 230px;
}

.card-list.technology .card-thumb a,
.card-list.technology .card-thumb picture,
.card-list.technology .card-thumb img {
  display: block;
  height: 100%;
}

/* PRODUCTS */
.card-list.products .card-thumb {
  flex-shrink: 0;
  height: 230px;
}

.card-list.products .card-thumb a {
  display: block;
  height: 100%;
}

.card-list.products .card-thumb picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list.products .card-thumb img {
  height: unset;
  width: unset;
}

.card-list.products .card-caption {
  padding: 15px;
}

.card-list.products .card-caption h3 {
  margin-top: 0;
}

/* ACCESSORIES AND CONSUMABLES + ASSAY KITS */
main .section div.card-list-wrapper.assay-kits {
  padding: 0;
}

main .card-list.accessories-and-consumables {
  justify-content: center;
}

main .card-list.card-list.accessories-and-consumables .card {
  justify-content: center;
}

main .card-list.accessories-and-consumables .card,
main .card-list.assay-kits .card {
  margin-bottom: 20px;
}

.card-list.accessories-and-consumables .card-caption,
.card-list.assay-kits .card-caption {
  padding: 15px;
  color: #34393d;
}

.card-list.accessories-and-consumables .card-caption h3,
.card-list.assay-kits .card-caption h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 8px;
}

.card-list.accessories-and-consumables .card-caption h3 a,
.card-list.assay-kits .card-caption h3 a {
  color: #34393d;
}

.card-list.accessories-and-consumables .card-caption p,
.card-list.assay-kits .card-caption p {
  font-size: 14px;
  margin-bottom: 0;
}

.card-list.accessories-and-consumables .button-container,
.card-list.assay-kits .button-container {
  text-align: left;
} 

.card-list.assay-kits .card .badge {
  background: #6db43e;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  position: absolute;
  width: 22%;
  top: 8px;
  right: -6px;
  z-index: 9;
}

.card-list.assay-kits .card .badge::before {
  content: "";
  border-bottom: 6px solid #3e592c;
  border-right: 6px solid transparent;
  position: absolute;
  top: -6px;
  right: 0;
}

/* ADDITIONAL PRODUCTS + CULTURE-MEDIA-AND-REAGENTS */
main .section div.card-list-wrapper.additional-products,
main .section div.card-list-wrapper.culture-media-and-reagents {
  padding: 0;
}

.card-list.additional-products .card,
.card-list.culture-media-and-reagents .card {
  margin-bottom: 20px;
}

.card-list.additional-products .card-thumb img,
.card-list.culture-media-and-reagents .card-thumb img {
  height: unset;
  width: unset;
}

.card-list.additional-products .card-thumb,
.card-list.culture-media-and-reagents .card-thumb {
  flex-shrink: 0;
  height: 230px;
}

.card-list.additional-products .card-thumb a,
.card-list.culture-media-and-reagents .card-thumb a {
  display: block;
  height: 100%;
}

.card-list.additional-products .card-thumb picture,
.card-list.culture-media-and-reagents .card-thumb picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list.additional-products .button-container,
.card-list.culture-media-and-reagents .button-container {
  text-align: left;
}

.card-list.additional-products .card-caption,
.card-list.culture-media-and-reagents .card-caption {
  padding: 15px;
}

.card-list.additional-products .card-caption h3,
.card-list.culture-media-and-reagents .card-caption h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}

.card-list.culture-media-and-reagents .card-caption h3 {
  min-height: unset;
}

.card-list.additional-products .card-caption p,
.card-list.culture-media-and-reagents .card-caption p {
  font-size: 14px;
  margin-bottom: 0;
}

.card-list.accessories-and-consumables .button-container .button,
.card-list.assay-kits .button-container .button,
.card-list.additional-products .button-container .button,
.card-list.culture-media-and-reagents .button-container .button {
  font-size: 18px;
  color: #008ca8;
  padding: 0;
  border: none;
  min-width: unset;
  letter-spacing: .5px
}
