main .section>div.embed-wrapper {
  padding-top: 35px;
}

.section.columns-2 .embed-wrapper {
  padding-top: 0;
}

main .embed {
  width: unset;
  text-align: center;
  margin: 32px auto;
}

.flippingbook-modal-overlay > div {
  position: absolute;
  display: block;
  max-width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  top: 5%;
}

main .embed > div {
  display: flex;
  justify-content: center;
}

main .embed.embed-facebook > div{
  display: block;
}

main .embed.video > div {
  display: block;
}

@media (min-width: 768px) {
  main .embed {
    width: 690px;
  }
}

@media (min-width: 992px) {
  main .embed {
    width: 910px;
  }
}

@media (min-width: 1200px) {
  main .embed {
    width: 1110px;
  }
}

main .embed.embed-ceros {
  width: 100%;
}

main .embed.embed-twitter {
  width: 100%;
}

main .embed.embed-twitter > div {
  display: block;
}

main .embed.embed-ceros > div > div {
  padding-top:57%;
}

main .embed.embed-ceros.full-width > div > div {
  padding: 0 0 109.38%;
}

main .embed .iframe-content {
  width: 100%;
  border: 0;
}

.videos-and-webinars main .embed-info-moleculardevices-com {
  margin-top: 0;
}

.flippingbook-desktop {
  display: none;
}

.flippingbook-mobile {
  display: block;
  position: relative;
}

.embed.small .flippingbook-desktop {
  display: none;
}

.embed.small .flippingbook-mobile {
  display: block;
}

main .embed.small {
  width: 70%;
}

.flippingbook-mobile .book-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;
  color: rgb(0 0 0 / 70%);
  transform: scale(0.9);
  border-radius: 100%;
  background-color: rgb(0 0 0 / 70%);
  opacity: 0.8;
}

@media (min-width: 430px) {
  .flippingbook-desktop {
    display: block;
    left: 0;
    width: 100%;
    position: relative;
    padding-top: 66.67%;
  }

  .flippingbook-desktop iframe {
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .flippingbook-mobile {
    display: none;
  }
}

.flippingbook-modal-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1000;
  justify-content: center;
}

.flippingbook-modal-overlay[aria-hidden="true"] {
  display: none;
}

.flippingbook-modal-overlay .close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-image: url('/images/close-button.png');
  cursor: pointer;
}

.flippingbook-modal-overlay iframe {
  position: relative;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
