main .section>div.embed-wrapper {
  padding-top: 35px;
}

.section.columns-2 .embed-wrapper {
  padding-top: 0;
}

main .embed {
  width: unset;
  text-align: center;
  margin: 32px auto;
}

main .embed > div {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  main .embed {
    width: 690px;
  }
}

@media (min-width: 992px) {
  main .embed {
    width: 910px;
  }
}

@media (min-width: 1200px) {
  main .embed {
    width: 1110px;
  }
}

main .embed.embed-ceros {
  width: 100%;
}

main .embed.embed-twitter {
  width: 100%;
}

main .embed.embed-twitter > div {
  display: block;
}