.left-col {
  width: 100%;
  margin-bottom: 20px;
}

.right-col {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  p.left-col {
    float:left;
    width: 33.33333333%;
    padding-right: 15px;
  }
  
  .right-col {
    float: left;
    width: 66.66666667%;
  }

  .left-col + .right-col {
    padding-left: 15px;
  }
}