.full-article main {
  --heading-1: 48px;
  --heading-2: 38px;
  --heading-3: 30px;
  --heading-4: 30px;
}

.news main .breadcrumbs-wrapper + .section {
  padding-top: 0;
}

main .section .default-content-wrapper {
  padding: 0;
}

.publication.full-article main .hero-container + .social-share-container {
  padding-top: 50px;
}

.publication.full-article .section:not(.hero-container, .carousel-section) > div,
.publication.full-article .section:not(.hero-container, .carousel-section) > article {
  max-width: 800px;
  padding-inline: 15px;
}

.publication.full-article .section .columns-wrapper {
  margin-bottom: 20px;
}

.publication.full-article .section.hero-container > .breadcrumbs-wrapper {
  display: none;
}

.publication.full-article .section.carousel-heading > div:first-of-type::after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-tertiary);
  background-image: var(--gradient-theme);
}

main .event-container {
  display: flex;
  flex-wrap: wrap;
}

main .event-container .left-col,
main .event-container .right-col {
  width: 100%;
  margin-bottom: 15px;
}

main .section > div.social-share-wrapper {
  padding: 0 15px;
}

main .social-share-wrapper .social-share {
  display: inline-block;
}

@media (min-width: 768px) {
  main .event-container .left-col {
    float: left;
    flex: 33.33%;
    padding-right: 15px;
  }

  main .event-container .right-col {
    float: left;
  }

  main .event-container .left-col + .right-col {
    padding-left: 15px;
    flex: 66.637%;
  }
}

@media only screen and (max-width: 767px) {
  .full-article main {
    --heading-1: 36px;
  }
}
