.news main .breadcrumbs-wrapper + .section {
  padding-top: 0;
}

main .event-container {
  display: flex;
  flex-wrap: wrap;
}

main .event-container .left-col,
main .event-container .right-col {
  width: 100%;
  margin-bottom: 15px;
}

main .section > div.social-share-wrapper {
  padding: 0 15px;
}

main .social-share-wrapper .social-share {
  display: inline-block;
}

@media (min-width: 768px) {
  main .event-container .left-col {
    float: left;
    flex: 33.33%;
    padding-right: 15px;
  }

  main .event-container .right-col {
    float: left;
  }

  main .event-container .left-col + .right-col {
    padding-left: 15px;
    flex: 66.637%;
  }
}
