p {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}

h1, h2 {
  font-weight: 100;
  margin-bottom: 20px;
}

strong {
    font-weight: 700;
}
cite {
  margin-top: 10px;
}

cite {
  font-size: var(--body-font-size-xs);
  font-family: var(--ff-proxima-light);
  font-weight: 600;
  font-style: normal;
  display: block;
  padding: 0 0 15px 0;
}

.content-2col {
  margin-top: 10px;
}

.left-col {
  width: 100%;
  margin-bottom: 20px;
}

.right-col {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 767px), (min-width: 768px) {
  :root {
    --heading-font-size-xxl: 36px;
    --heading-font-size-xl: 30px;
  }
}

@media (max-width: 767px) {
  :root {
    --body-font-size-m: 14px;
    --body-font-size-s: 13px;
    --body-font-size-xs: 12px;
  }
}

@media (min-width: 768px) {

  .left-col {
    float:left;
    width: 33.33333333%;
    padding-right: 15px;
  }
  
  .right-col {
    float: left;
    width: 66.66666667%;
  }

  .left-col + .right-col {
    padding-left: 15px;
  }
}