/* stylelint-disable no-descending-specificity */
main .section.columns-2 .insider-carousel-wrapper.mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0;
}

main .section.columns-2.insider-carousel-container {
  grid-template-columns: auto auto;
}

main .insider-carousel .carousel-item-columns-container {
  gap: 20px;
}

main .insider-carousel .carousel-item-text {
  text-align: left;
}

main .insider-carousel .carousel-item {
  background-color: var(--purple-color);
  background-image: var(--sign-up-newsletter-gradient);
  color: var(--text-white);
  border: 0;
}

main .insider-carousel .carousel-item-text .button-container {
  display: block;
}

main .insider-carousel .carousel-item-text .button-container .secondary {
  margin-left: 0;
}

/* main .insider-carousel .carousel-item-text .button-container .secondary:hover,
main .insider-carousel .carousel-item-text .button-container .secondary:focus {
  color: var(--text-electric-blue);
  border-color: var(--text-electric-blue);
} */

/* what-next */
.what-next .insider-carousel-wrapper {
  display: flex;
  flex-direction: column;
}

.what-next .insider-carousel-wrapper h3 .fa-external-link{
  display: none;
}

.what-next .insider-carousel-wrapper .carousel-dot-img-buttons {
  order: -1;
  margin-top: 0;
  margin-bottom: 40px;
  gap: 60px
}

.what-next .insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button {
  margin-right: 0;
  border: 3px solid var(--purple-color);
  padding: 0;
}

.what-next .insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button,
.what-next .insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button img {
  border-radius: 50%;
}

.what-next main .insider-carousel .carousel-item a {
  color: inherit;
}

.what-next main .insider-carousel .carousel-item .carousel-item-columns-container {
  display: grid;
  grid-template-columns: auto 400px;
}

.what-next main .insider-carousel .carousel-item .carousel-item-columns-container .carousel-item-column {
  width: 100%;
}

.what-next main .insider-carousel .carousel-item-text .button-container {
  display: inline-block;
  margin-right: 1rem;
}

.what-next main .insider-carousel .carousel-item-text .button-container em a {
  padding: 13px 18px 14px;
}

@media only screen and (max-width: 991px) {
  main .section.columns-2.insider-carousel-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 767px) {
}
