/* stylelint-disable no-descending-specificity */
main .section.columns-2.insider-carousel-container {
  grid-template-columns: auto auto;
}

main .insider-carousel .carousel-item-columns-container {
  gap: 20px;
  align-items: flex-end;
}

main .insider-carousel .carousel-item {
  border: 0;
  padding: 0;
  align-items: stretch;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .insider-carousel .carousel-item h3 > em {
  font-size: var(--body-font-size-m);
  display: block;
  margin-top: 4px;
}

main .insider-carousel .carousel-item-text .button-container {
  display: block;
}

main .carousel-dot-img-buttons:has(> .carousel-dot-button:only-child) {
  display: none;
}

/* what-next */
.insider-carousel-wrapper {
  display: flex;
  flex-direction: column;

  /* width: var(--section-max-width); */
}

.insider-carousel-wrapper .carousel-dot-img-buttons {
  order: -1;
  margin-top: 0;
  margin-bottom: 40px;
  gap: 50px;
}

.insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button {
  margin-right: 0;
  border: 3px solid var(--color-primary);
  padding: 0;
}

.insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button,
.insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button img {
  border-radius: 50%;
}

.insider-carousel-wrapper .carousel-nav-button .icon {
  color: var(--purplr-color);
}

.insider-carousel-wrapper h3 .fa-external-link,
main .insider-carousel .carousel-item a {
  color: inherit;
}

main .insider-carousel .carousel-item p:not([class]) a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

main .insider-carousel .carousel-item-text .button-container em a {
  border-color: var(--color-cyan);
  margin-top: 30px;
}

main .insider-carousel .carousel-item-text .button-container em a:hover,
main .insider-carousel .carousel-item-text .button-container em a:focus {
  color: var(--color-link-hover);
}

.insider-carousel-wrapper .carousel-item-image,
.insider-carousel-wrapper .carousel-item-image picture,
.insider-carousel-wrapper .carousel-item-image img {
  display: block;
  height: 100%;
}

.insider-carousel-wrapper .carousel-item-image picture {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.insider-carousel-wrapper .carousel-item-image img {
  object-position: right bottom;
}

@media only screen and (min-width: 992px) {
  main .insider-carousel .carousel-item .carousel-item-columns-container .carousel-item-column:first-child {
    padding: 50px 0;
  }

  .insider-carousel-wrapper .carousel-nav-button {
    top: 60%;
    border-color: var(--color-white);
  }

  .insider-carousel-wrapper .carousel-nav-button .icon {
    color: var(--color-white);
  }
}

@media only screen and (max-width: 991px) {
  main .section.columns-2.insider-carousel-container {
    grid-template-columns: 1fr;
  }

  main .insider-carousel .carousel-item .carousel-item-columns-container {
    flex-direction: column-reverse;
    padding: 30px;
  }

  main .insider-carousel .carousel-item .carousel-item-columns-container .carousel-item-column:last-child {
    display: flex;
    justify-content: center;
  }

  .insider-carousel-wrapper .carousel-item-image {
    border-radius: 50%;
    border: 10px solid var(--color-cyan);
    background-color: var(--color-white);
    overflow: hidden;
    padding-top: 40px;
    aspect-ratio: 1 / 1;
  }

  .insider-carousel-wrapper .carousel-item-image img {
    object-position: center;
    aspect-ratio: 1/1;
  }
}

@media only screen and (max-width: 767px) {
  .insider-carousel-wrapper .carousel-dot-img-buttons {
    gap: 32px;
  }

  .insider-carousel-wrapper .carousel-dot-img-buttons .carousel-dot-button {
    max-width: 80px;
  }
}
