<style type="text/css">
  .no-margin-bottom {
    margin-bottom: 0 !important;
  }

  .cm-infographic-wrapper {
    padding: 30px 0;
    margin-left: -10px;
    margin-right: -10px;
    position: relative
  }

  .cm-info-link {
    display: block;
    margin-bottom: 20px
  }

  .cm-infographic-img {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center
  }

  .cm-infographic-container .cm-infographic-img .cm-info-link {
    padding: 0 10px
  }

  .cm-robot-img-2 img {
    margin: auto
  }

  .cm-infographic-img img,
  .cm-robot-img-2 img {
    transition: all .2s ease-in-out;
    transform: scale(1);
    width: 100%;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }

  .cm-infographic-img:hover img,
  .cm-robot-img-2:hover img {
    transform: scale(1.04)
  }

  .cm-infographic-container .cm-infographic-img img {
    max-width: 305px;
    background-color: #fff;
  }

  .cm-infographic-wrapper .cm-infographic-img.hide-mob img {
    max-width: 460px
  }

  .cm-infographic-wrapper .lab-robot-container .cm-robot-img-1 img {
    width: 100%;
    max-width: 132px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }

  .cm-infographic-wrapper .lab-robot-container .cm-robot-img-2 img {
    width: 100%;
    max-width: 212px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }

  .cm-infographic-wrapper .lab-robot-container .cm-robot-img img {
    display: block;
    width: 100%;
    max-width: 227px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }

  .show-mob {
    display: none !important
  }

  .cm-infographic-wrapper .cm-infographic-img:not(.hide-mob)::before,
  .cm-infographic-wrapper .cm-infographic-img.hide-mob::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 30px;
    width: 1px;
    border-left: 1px dashed #6a757d;
    bottom: 0
  }

  .cm-infographic-wrapper .cm-infographic-img.hide-mob {
    padding-top: 20px;
  }

  .cm-infographic-wrapper .cm-infographic-img.hide-mob::before {
    bottom: auto;
    top: -30px;
    height: 50px;
  }

  @media only screen and (min-width: 768px) {
    .cm-infographic-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start
    }

    .cm-infographic-wrapper .cm-infographic-img:not(.hide-mob)::after {
      content: "";
      position: absolute;
      left: 0;
      height: 1px;
      width: 100%;
      border-bottom: 1px dashed #6a757d;
      bottom: 0;
      z-index: -1
    }

    .cm-infographic-wrapper .cm-infographic-img:first-child::after {
      left: 50%;
      width: 50%
    }

    .cm-infographic-wrapper .cm-infographic-img:nth-child(4)::after {
      width: 50%
    }

    .cm-infographic-container .cm-infographic-img {
      max-width: 25%;
      width: 100%
    }

    .cm-infographic-wrapper .cm-infographic-img.hide-mob,
    .cm-infographic-wrapper .lab-robot-container {
      width: 60%;
      display: flex;
      justify-content: center
    }

    .cm-infographic-wrapper .cm-infographic-img.hide-mob,
    .cm-infographic-wrapper .lab-robot-container {
      width: auto;
    }

    .cm-infographic-wrapper .lab-robot-container {
      position: relative;
      flex-direction: row-reverse;
    }

    .cm-infographic-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      column-gap: 2rem;
    }
  }

  @media only screen and (max-width: 1199px) {

    .cm-infographic-wrapper .cm-infographic-img.hide-mob,
    .cm-infographic-wrapper .lab-robot-container {
      width: 50%
    }
  }

  @media only screen and (max-width: 991px) and (min-width:768px) {
    .cm-robot-img-2 img {
      margin: 0
    }

    .cm-infographic-wrapper .lab-robot-container .cm-robot-img-1 {
      right: 20px
    }

    .cm-infographic-wrapper .lab-robot-container .cm-robot-img-1 img {
      max-width: 120px
    }
  }

  @media only screen and (max-width: 767px) {
    .show-mob {
      display: block !important
    }

    .hide-mob,
    .cm-infographic-wrapper .lab-robot-container .cm-robot-img::before,
    .cm-infographic-wrapper .lab-robot-container .cm-robot-img::after {
      display: none !important
    }

    .banner_instrument_detail h1.hero-heading {
      font-size: 28px
    }

    .cm-infographic-img {
      margin-bottom: 0
    }

    .cm-infographic-img img {
      margin: auto
    }

    .cm-infographic-wrapper .lab-robot-container {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      gap: 20px;
    }

    .cm-infographic-wrapper .lab-robot-container .cm-robot-img img {
      position: relative
    }

    .cm-infographic-wrapper .lab-robot-container .cm-robot-img::before {
      content: "";
      width: 74px;
      position: absolute;
      height: 1px;
      border-bottom: 1px dashed #6a757d;
      left: 85px;
      top: 0;
    }

    .cm-infographic-wrapper .lab-robot-container .cm-robot-img::after {
      content: "";
      width: 1px;
      position: absolute;
      height: 30px;
      border-left: 1px dashed #6a757d;
      left: 85px;
      top: 0;
    }

    .cm-infographic-wrapper .lab-robot-container .cm-robot-img {
      display: flex;
      justify-content: center;
    }

    .cm-infographic-container .cm-infographic-img img[alt="Lab Components"] {
      max-width: 425px;
    }
  }
</style>
<div class="cm-infographic-wrapper">
  <div class="cm-infographic-container">
    <div class="cm-infographic-img">
      <a class="cm-info-link" href="/products/3d-biology/cellxpress-ai-automated-cell-culture-system"
        title="Automated Cell Culture">
        <img src="/fragments/service-support/images/automated-cell-culture.png" alt="Automated Cell Culture"
          loading="lazy">
      </a>
    </div>
    <div class="cm-infographic-img">
      <a class="cm-info-link" href="/service-support/lab-automation-solutions/lab-automation-for-high-content-screening"
        title="Cellular Imaging">
        <img src="/fragments/service-support/images/cellular-imaging-2.png" alt="Cellular Imaging" loading="lazy">
      </a>
    </div>
    <div class="cm-infographic-img">
      <a class="cm-info-link"
        href="/service-support/lab-automation-solutions/lab-automation-for-high-throughput-clone-screening"
        title="Cellular Workflow Automation">
        <img src="/fragments/service-support/images/cellular-workflow-automation.png" alt="Cellular Workflow Automation"
          loading="lazy">
      </a>
    </div>
    <div class="cm-infographic-img">
      <a class="cm-info-link"
        href="/service-support/lab-automation-solutions/lab-automation-for-high-throughput-plate-based-assays"
        title="Microplate Technology">
        <img src="/fragments/service-support/images/microplate-technology-2.png" alt="Microplate Technology"
          loading="lazy">
      </a>
    </div>
    <div class="cm-infographic-img show-mob">
      <a class="cm-info-link" href="/service-support/lab-automation-solutions/lab-automation-for-high-content-screening"
        title="Lab Components">
        <img src="/fragments/service-support/images/lab-components-2.png" alt="Lab Components" loading="lazy">
      </a>
    </div>
  </div>
  <div class="lab-robot-container">
    <div class="cm-robot-img-1">
      <img src="/fragments/service-support/images/automation-robotic-arm.png" alt="Robot Precise Automation"
        loading="lazy">
    </div>
    <div class="cm-robot-img-2">
      <a href="/quote-request?pid=laboratory-automation-customization-solutions" title="Discuss Your Solutions">
        <img src="/fragments/service-support/images/discuss-your-solutions.png" alt="Discuss Your Solutions"
          loading="lazy">
      </a>
    </div>
  </div>
  <div class="cm-infographic-img hide-mob no-margin-bottom">
    <a class="cm-info-link no-margin-bottom"
      href="/service-support/lab-automation-solutions/lab-automation-for-high-content-screening" title="Lab Components">
      <img src="/fragments/service-support/images/lab-components-2.png" alt="Lab Components" loading="lazy">
    </a>
  </div>
</div>
