.landing-page .hamburger,
.landing-page header .mainmenu-wrapper,
.landing-page header .navbar-header>.company-links,
.landing-page main .breadcrumbs,
.landing-page footer .footer-wrap,
.landing-page main .thank-you-page {
  display: none;
}

.landing-page header {
  height: 74px;
}

.landing-page .hero-container {
  padding-bottom: 50px;
}

.landing-page .hero {
  margin-top: -9px;
}

.landing-page .hero-inner h1 {
  font-size: 70px;
}

.landing-page .hero-inner h2 {
  color: var(--text-green);
  font-size: 50px;
}

.landing-page h1,
.landing-page h2,
.landing-page h3,
.landing-page h4 {
  font-family: var(--ff-proxima-light);
}

.landing-page h3 {
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #5f696b;
  margin-top: 0;
  padding-top: 40px;
}

.landing-page .hero-inner .container {
  padding-bottom: 45px;
}

.landing-page .hero-inner .two-column p:first-child {
  color: var(--text-green);
  font-weight: 600;
}

.landing-page .hero-inner img {
  object-position: unset;
}

.landing-page .hero-inner .right-image img {
  cursor: pointer;
}

.landing-page main div:nth-last-of-type(2).download-form {
  margin-top: 0;
}

.landing-page .download-form {
  padding-bottom: 25px;
  margin-top: 50px;
  background-size: cover;
}

.landing-page .hero-container+.download-form {
  margin-top: 0;
}

.landing-page main .section.download-form.center .default-content-wrapper:first-child {
  margin: auto;
}

.landing-page .download-form * {
  color: var(--text-gray);
}

.landing-page .download-form .embed h2,
.landing-page .download-form .embed h3,
.landing-page .download-form .embed h4,
.landing-page .download-form .embed h5 {
  font-family: var(--ff-proxima-regular);
}

.landing-page .download-form .default-content-wrapper h2 {
  color: var(--heading-color);
  font-size: 45px;
}

.landing-page .download-form[style*="background-image"] .default-content-wrapper * {
  color: var(--text-white);
}

.landing-page .download-form h3 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-top: 0;
}

.landing-page main .download-form h4 {
  font-size: 40px;
}

.landing-page main .section>div.embed-wrapper {
  padding-top: 25px;
}

.landing-page main .download-form .embed {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 5px 0;
  margin-top: 0;
}

.landing-page main .download-form.background-dark .embed {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.landing-page .embed h3,
.landing-page .embed h4 {
  color: var(--heading-color);
  font-size: 30px !important;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 0;
}

.landing-page main .download-form.orange-form-title .embed h4 {
  color: #ee7624;
}

.landing-page .embed>div>div {
  height: 650px;
  padding-bottom: 0;
}

.landing-page main .section:not(.horizontal-line) > div.columns-wrapper {
  padding-top: 10px;
}

@media (max-width: 767px) {
  .landing-page .hero-inner {
    background-color: var(--black-background-color);
    padding-top: 73px;
  }

  .landing-page .hero-inner h1 {
    font-size: 32px;
  }

  .landing-page .hero-inner h2 {
    font-size: 32px;
  }

  .landing-page .hero-inner img {
    display: none;
  }

  .landing-page .hero-inner .two-column img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 20px;
  }
}

@media (max-width: 991px) {
  .landing-page header #header-logo img {
    max-height: 35px;
    width: auto;
    max-width: unset;
  }

  .landing-page #navbar-header {
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .landing-page header {
    height: 139px;
  }

  .landing-page h3 {
    font-size: 30px;
  }
}

.thank-you-page {
  padding-top: 100px;
}

.thank-you-page h2 {
  color: var(--text-blue);
  font-family: var(--ff-proxima-light);
  font-size: 54px;
  text-align: center;
  margin-bottom: 40px;
}

.thank-you-page .carousel-wrapper {
  padding: 0;
}

.thank-you-page .carousel.cards img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.section.thank-you-page > div.default-content-wrapper:nth-last-child(2) {
  padding-top: 50px;
}

.section.thank-you-page > div.default-content-wrapper:first-of-type > h2 {
  color: var(--text-green);
}

.section.thank-you-page .carousel-item > .card > div > p:first-of-type {
  color: var(--text-green);
}

.section.thank-you-page .carousel-item > .card .card-caption .card-description {
  color: var(--text-color);
  font-size: var(--body-font-size-xs);
}

.thank-you-page p.button-container span[aria-hidden=true] {
  display: none;
}

.thank-you-page .carousel.cards p.button-container {
  display: flex;
  justify-content: center;
}

.thank-you-page .carousel.cards p.button-container a {
  font-size: 14px;
  padding: 8px 30px;
  margin-bottom: 10px;
}

.thank-you-page .carousel.cards .carousel-item h3,
.thank-you-page .block.latest-resources .carousel-item h3 {
  font-size: 22px;
  padding-top: 10px;
  margin-top: 0;
  color: var(--text-color);
}

.thank-you-page h3 {
  color: var(--button-bg-color);
}

.thank-you-page h4 {
  font-size: 30px;
  color: var(--text-gray);
  font-family: var(--ff-proxima-regular);
}

.thank-you-page .columns img {
  max-width: 350px;
}

.thank-you-page .columns {
  margin-bottom: 50px;
}

.thank-you-page .layout-40-60>div>div:first-of-type {
  text-align: center;
}

.landing-page.thankyou .columns-container h3 {
  font-size: 40px;
}

.landing-page.thankyou .carousel.cards p.button-container a {
  border: 1px solid var(--border-color-green);
  color: black;
}

.landing-page.thankyou .carousel.cards .card > div:last-child > p:first-child {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .landing-page .download-form>div {
    width: calc(var(--section-div-width) / 2);
    display: inline-block;
    vertical-align: top;
  }

  .landing-page main .section.download-form:not(.center) .default-content-wrapper:first-child {
    margin-left: calc((100vw - var(--section-div-width)) / 2);
    padding-top: 25px;
  }

  .landing-page main .section.download-form:not(.center) .embed-wrapper:first-child {
    margin-left: calc((100vw - var(--section-div-width)) / 2);
  }

  .landing-page main .section.download-form:not(.center) .default-content-wrapper:nth-child(2) {
    padding-top: 25px;
  }

  .landing-page .hero-inner .container.two-column.right-image>div:nth-child(1) {
    width: 58%;
  }

  .landing-page .hero-inner .container.two-column.right-image>div:nth-child(2) {
    width: 42%;
    padding: 0 15px;
  }

  .landing-page .hero-inner .container {
    align-items: center;
    padding: 15px 0 55px 0;
  }

  .landing-page .hero-inner .container.two-column>div:nth-child(2) {
    border: 0;
  }

  .landing-page .hero-inner h1 {
    margin-bottom: 15px;
  }

  .landing-page .hero-inner p {
    font-size: 27px;
  }

  .landing-page .hero-inner>div {
    padding-top: 90px;
  }

  .thank-you-page > div.columns-wrapper > .block.columns > div.image-left {
    grid-template-columns: 35fr 65fr;
  }

  .thank-you-page > div.columns-wrapper > .block.columns > div.image-right {
    grid-template-columns: 65fr 35fr;
  }

  .thank-you-page .columns>div {
    display: grid;
    grid-template-columns: 35fr 65fr;
  }

  .thank-you-page .columns.odd>div {
    grid-template-columns: 65fr 35fr;
  }

  .thank-you-page .columns.layout-66-33.odd > div {
    grid-template-columns: 33fr 66fr;
  }

  .thank-you-page .columns.odd > div > div:first-of-type {
    order: 2;
  }
}

@media (max-width: 767px) {
  .landing-page h3 {
    font-size: 28px;
  }

  .landing-page .download-form .default-content-wrapper {
    text-align: left;
  }

  .landing-page .download-form .default-content-wrapper h2 {
    font-size: 25px;
  }

  .landing-page .download-form .default-content-wrapper p {
    font-size: 16px;
  }

  .landing-page main .section.download-form:not(.center) .default-content-wrapper:first-child {
    padding-top: 90px;
  }

  .thank-you-page p {
    font-size: 18px;
  }
}

.thankyou main .section {
  display: none;
}

.thankyou main .section.hero-container,
.thankyou main .section.hero-advanced-container,
.thankyou main .section.thank-you-page {
  display: block;
}
