<meta name="robots" content="noindex follow">
<style type="text/css">
  .col-sm-4 {
    width: 33.33333333%
  }

  .gxp-product .product-cat {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .gxp-product.product-section .product-cat .product-item p.blue-txt {
    color: #008da9;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 15px
  }

  .gxp-product.product-section .product-cat .product-item p.green-txt {
    color: #61a60e;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 15px
  }

  .gxp-product.product-section .product-cat .product-item p.sort-desc {
    font-size: 15px;
    color: #34393d;
    text-transform: unset;
    font-weight: normal
  }

  .gxp-product.product-section .product-cat .product-item p {
    text-align: center;
    max-width: 100%;
    font-family: var(--ff-proxima-regular);
    font-weight: 600;
    color: #000
  }

  .gxp-product.product-section .product-item {
    text-align: center;
    transition: all .3s;
    min-height: 210px
  }

  .gxp-product.product-section .product-item a {
    display: block;
    flex-flow: unset;
    justify-content: unset;
    align-items: unset;
    height: unset
  }

  .product-item.border-top-part {
    position: relative
  }

  .gxp-product.product-section .product-item.blue-border.border-top-part:after {
    position: absolute;
    content: "";
    background-color: #008da9;
    height: 2px;
    width: 311px;
    top: 0;
    left: 43px
  }

  .gxp-product.product-section .product-item.green-border.border-top-part:after {
    position: absolute;
    content: "";
    background-color: #61a60e;
    height: 2px;
    width: 311px;
    top: 0;
    left: 43px
  }

  .gxp-product.product-section .product-item.blue-border.border-top-part:before {
    content: "";
    position: absolute;
    background-color: #008da9;
    height: 24px;
    width: 2px;
    left: 41px;
    top: 0
  }

  .gxp-product.product-section .product-item.green-border.border-top-part:before {
    content: "";
    position: absolute;
    background-color: #61a60e;
    height: 24px;
    width: 2px;
    left: 41px;
    top: 0
  }

  .gxp-product.product-section .product-item a.flex-part {
    display: flex;
    justify-content: center;
    align-items: center
  }

  .gxp-product.product-section .product-item a.flex-part .product-image {
    position: absolute;
    left: 7px;
    top: 32px
  }

  .gxp-product.product-section .product-item a.flex-part .blue-txt,
  .gxp-product.product-section .product-item a.flex-part .green-txt,
  .gxp-product.product-section .product-item a.flex-part .sort-desc {
    text-align: left
  }

  .gxp-product.product-section .product-item a.flex-part .prod-desc {
    margin-left: 125px;
    max-width: 242px
  }

  .gxp-product.product-section .product-cat .product-item:hover {
    transform: none;
    transition: all .3s
  }

  .gxp-product.product-section .product-cat .product-item a:hover {
    transform: none;
    transition: all .3s
  }

  .two-prod.item .product-item:nth-child(1) {
    min-height: 200px
  }

  .two-prod.item .product-item:nth-child(2) a .product-image {
    position: absolute;
    top: 8px
  }

  .gxp-product.product-section .two-prod .product-item.blue-border.border-top-part:before {
    content: "";
    position: absolute;
    background-color: #008da9;
    width: 2px;
    left: 43px;
    top: 0
  }

  .two-prod.item .product-item.blue-border:nth-child(2) a .product-image:before {
    content: "";
    position: absolute;
    background-color: #008da9;
    height: 65px;
    width: 2px;
    top: -80px;
    left: 39px
  }

  .two-prod.item .product-item.blue-border:nth-child(2) {
    min-height: 100px;
    position: relative
  }

  .software-installation-section .image-part {
    min-height: 250px;
    text-align: center
  }

  .software-installation-section .image-part img {
    width: 80%
  }

  .gxp-product.product-section .product-item .product-image {
    min-height: 100px
  }

  .gxp-product.product-section .product-cat .item {
    min-height: 282px
  }

  @media (max-width: 767px) {
    .col-sm-4 {
      float: left;
      width: 100%
    }
    
    .gxp-product.product-section .product-item a.flex-part .prod-desc {
      margin-left: 86px
    }

    .gxp-product.product-section .product-item.blue-border.border-top-part:before {
      left: 16px
    }

    .gxp-product.product-section .product-item.blue-border.border-top-part:after {
      left: 16px
    }

    .gxp-product.product-section .two-prod .product-item.blue-border.border-top-part:before {
      left: 16px
    }

    .two-prod.item .product-item:nth-child(1) {
      min-height: 176px
    }

    .gxp-product.product-section .product-item.green-border.border-top-part:after {
      left: 16px
    }

    .gxp-product.product-section .product-item.green-border.border-top-part:after {
      left: 16px
    }

    .gxp-product.product-section .product-item.green-border.border-top-part:before {
      left: 16px
    }

    .gxp-product.product-section .product-item a.flex-part .product-image {
      left: -20px
    }
  }
</style>
<div class="gxp-product product-section">
  <div class="product-wrapper noPadd_car clearfix">
    <div class="product-cat">
      <div class="col-xs-12 col-sm-4">
        <div class="item">
          <div class="product-item">
            <a href="#microplate-readers-for-gmpglp-regulated-labs" data-di-id="di-id-804c12d8-c97669f2">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/reader-washer-img.png" alt="Reader and Washer" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="blue-txt">READERS &amp; WASHERS</p>
                <p class="sort-desc">Best-in-class microplate readers and washers for all your assay needs.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="product-item border-top-part blue-border">
            <a href="#iqoq-services-and-pmoq-service-plans" class="flex-part" data-di-id="di-id-20f3720f-52f13136">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/iq-oq-services-img.png" alt="IQ OQ Services" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="blue-txt">IQ/OQ &amp; PM/OQ SERVICES</p>
                <p class="sort-desc">Comprehensive OEM operational qualification and repair coverage for microplate readers and washers.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item ">
          <div class="product-item">
            <a href="#gxp-software-for-fda-21-cfr-part-11-compliant-work" data-di-id="di-id-3a41c06b-2bdcfa93">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/softmax-pro-gxp-software-product.png" alt="SoftMax Pro GxP Software" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="blue-txt">SOFTMAX PRO GxP SOFTWARE </p>
                <p class="sort-desc">Our most secure software to achieve full <br> FDA 21 CFR Part 11 compliance.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="two-prod item">
          <div class="product-item border-top-part blue-border">
            <a href="#software-installation-and-validation-services" class="flex-part" data-di-id="di-id-c9390b36-92a53f33">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/installation-service-img.png" alt="IQ OQ PM Services" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="blue-txt">INSTALLATION SERVICES</p>
                <p class="sort-desc">Software installation services verify and document that required components are installed to operational specifications.</p>
              </div>
            </a>
          </div>
          <div class="product-item blue-border">
            <a href="#software-installation-and-validation-services" class="flex-part" data-di-id="di-id-c9390b36-92a53f33">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/validation-services-img.png" alt="Validation service" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="blue-txt">VALIDATION SERVICE</p>
                <p class="sort-desc">On-site software validation service is conducted by our certified Field Service Engineer.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item">
          <div class="product-item">
            <a href="#spectratest-validation-plates" data-di-id="di-id-804c12d8-47084f0b">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/validation-plate-img.png" alt="Validation Plates" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="green-txt">VALIDATION PLATES</p>
                <p class="sort-desc">Validation plates test the performance of your microplate reader using traceable materials for reliable results.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="item ">
          <div class="product-item border-top-part green-border">
            <a href="#recertification-service" class="flex-part" data-di-id="di-id-261f63d7-88caf882">
              <div class="product-image">
                <img src="/fragments/products/gxp-compliance-solutions/recertification-service-img.png" alt="Recertification service" loading="lazy">
              </div>
              <div class="prod-desc">
                <p class="green-txt">RECERTIFICATION SERVICES</p>
                <p class="sort-desc">Validation plates are cleaned, calibrated, and recertified according to ISO 17025, and returned to you with a new certificate of calibration.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
