
.latest-resources-container .latest-resources-button {
  text-align: center;
  padding: 50px 0;
}

main .section.latest-resources-container .default-content-wrapper h2 {
  font-family: var(--ff-proxima-light);
  font-size: var(--heading-font-size-xl);
  text-align: center;
}

main .carousel-wrapper.latest-resources-wrapper {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

main .carousel.latest-resources {
  width: 90%;
  padding: 0;
}

main .latest-resources .carousel-item {
  display: block;
  width: 33.3%;
  max-width: 33.3%;
  padding: 20px 15px;
  margin: 0;
}

main .latest-resources .card .card-type {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #6eb43f;
  font-size: 14px;
  margin: 5px 0;
}

main .latest-resources .card .card-thumb {
  height: 190px;
  min-height: 190px;
  overflow: hidden;
}

main .latest-resources .card .card-thumb img {
  height: 190px;
}

@media only screen and (min-width: 767px) {
  main .carousel.latest-resources.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
  }

  main .carousel-wrapper.latest-resources-wrapper.list .carousel-nav-button {
    display: none;
  }
  
  main .latest-resources.list .carousel-item.clone {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  main .carousel-wrapper.latest-resources-wrapper {
    width: 940px;
  }

  main .carousel.latest-resources.list .carousel-item {
    width: 50%;
    max-width: 360px;
  }
}

@media only screen and (max-width: 991px) {
  .latest-resources-container {
    padding-top: 30px;
  }

  .product .latest-resources-container h2,
  .technology .latest-resources-container h2,
  .application .latest-resources-container h2 {
    font-size: 45px;
  }

  main .carousel-wrapper.latest-resources-wrapper {
    width: 750px;
  }

  main .carousel.latest-resources {
    width: 85%;
  }

  main .carousel.latest-resources .carousel-item {
    width: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  main .carousel-wrapper.latest-resources-wrapper {
    width: 100%;
    padding: 0;
  }

  main .carousel.latest-resources {
    width: 100%;
    padding: 0 10%;
  }

  main .carousel.latest-resources .carousel-item, main .carousel.latest-resources.list .carousel-item {
    width: 100%;
    max-width: 100%;
  }

  main .carousel-wrapper.latest-resources-wrapper .carousel-nav-button {
    display: none;
  }

  main .carousel.latest-resources .card-thumb, main .latest-resources .card-thumb img {
    height: 150px;
    min-height: 150px;
  }

  .product .latest-resources-container h2,
  .technology .latest-resources-container h2,
  .application .latest-resources-container h2 {
    font-size: 36px;
  }
}
