.latest-publications.block {
  display: flex;
  flex-flow: row wrap;
}

.latest-publications.block article {
  width: 50%;
  padding: 0 15px;
  min-height: 400px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .latest-publications.block article {
    width: 100%;
  }

  .latest-publications img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.latest-publications article div p {
  font-size: 14px;
  margin-bottom: 10px;
}

.latest-publications article div p a {
  font-size: 18px;
  font-weight: bold;
  color: #34393d;
}

main .section div.latest-publications-wrapper + .default-content-wrapper {
  padding-top: 0;
}

main .section div.latest-publications-wrapper + .default-content-wrapper p {
  text-align: right;
  padding-right: 15px;
}