main .section.ordering-options-container > div:first-child,
main .section.ordering-options-container > div:last-child,
main .section.ordering-options-container > div.ordering-options-wrapper {
  padding-top: 0;
}

main .section.ordering-options-container > div:last-child {
  padding-bottom: 55px;
}

.ordering-options .header {
  float: left;
  width: 100%;
}

.ordering-options .title-variant {
  float: left;
  width: 83.33%;
  font-size: 24px;
  padding-right: 15px;
}

.ordering-options .sku-variant {
  float: left;
  width: 16.67%;
  font-size: 24px;
  padding: 0 15px;
}

.ordering-options.cart-store .title-variant {
  width: 33.33%;
}

.ordering-options.cart-store .variant-item-store {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.ordering-options.cart-store .variant-item-store-content {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.ordering-options .ordering-option-item h3 {
  margin: 0 0 10px;
}

.ordering-options .ordering-option-item .header {
  border-bottom: 2px solid var(--dark-border-color-gray);
  padding: 25px 0 15px;
  margin-top: 40px;
}

.ordering-options .variant-item {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.ordering-options .ordering-option-item-variants,
.ordering-options .variant-item {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.ordering-options.cart-store .variant-item {
  display: flex;
}

.ordering-options .legend {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px;
}

.ordering-option-item-variants .variant-item .description .legend {
  font-size: 14px;
  width: 600px;
}

.ordering-options.cart-store .legend {
  padding-left: unset;
}

.ordering-options.cart-store .variant-item-store .variant-item-store-header {
  float: left;
}

.ordering-options.cart-store .variant-item-store-count,
.ordering-options.cart-store .variant-item-store-add-to-cart {
  float: left;
  width: 155px;
  margin-left: 5px;
}

.ordering-options.cart-store .variant-item-store .variant-item-store-count {
  font-size: 14px;
  height: 40px;
  margin-bottom: 3px;
  background: var(--grey-background-color);
  border: 1px solid var(--grey-background-color);
  white-space: nowrap;
  display: flex;
  border-left: 1px solid var(--grey-background-color);
}

.ordering-options .variant-item-store .variant-item-store-count > span {
  padding: 10px 18px;
  width: 33.33%;
  text-align: center;
}

.ordering-options .variant-item-store .variant-item-store-count .count {
  border-left: 1px solid var(--grey-background-color);
  border-right: 1px solid var(--grey-background-color);
}

.ordering-options .variant-item-store a.button.primary {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 15px 18px 16px;
}

.ordering-options.cart-store .variant-item-store-content .variant-item-store-count, 
.ordering-options.cart-store .variant-item-store-content .variant-item-store-add-to-cart {
  margin-left: auto;
  order: 2;
}

@media only screen and (max-width: 767px) {
  main .section.ordering-options-container > div:last-child {
    padding-bottom: 15px;
  }

  .ordering-options .variant-item-store .variant-item-store-content a.button.primary {
    font-size: 12px;
    padding: 9px 12px 10px;
    margin: 0 0  10px;
    max-height: 49px;
  }

  .ordering-options.cart-store .variant-item-store-content .variant-item-store-count,
  .ordering-options.cart-store .variant-item-store-content .variant-item-store-add-to-cart {
    margin-left: unset;
  }
}

@media(max-width: 991px) {
  .ordering-options.cart-store .variant-item {
    display: inline-block;
  }

  .ordering-options:not(.cart-store) .variant-item {
    display: inline-block;
    width: 100%;
  }

  .ordering-options.cart-store .variant-item > div, 
  .ordering-options:not(.cart-store) .variant-item > div {
    width: 100%;
    padding: 0;
  }

  .ordering-options.cart-store .variant-item-store {
    display: inline-block;
  }

  .ordering-options.cart-store .variant-item-store-content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}