:root {
  --news-item-width: 366px;
  --news-items: 3;
}

main div.carousel-wrapper.news-carousel-wrapper {
  padding-top: 100px;
  padding-bottom: 75px;
}

main .carousel.news-carousel {
  padding-left: calc((100vw - var(--news-items) * var(--news-item-width) - ((var(--news-items) - 1) * 20px)) / 2);
  padding-right: calc((100vw - var(--news-items) * var(--news-item-width) - ((var(--news-items) - 1) * 20px)) / 2);
}

main .news-carousel .carousel-item {
  width: var(--news-item-width);
  padding: 0;
  margin-right: 20px;
}

main .news-carousel .news-carousel-item {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main .news-carousel .news-carousel-item a {
  border: 0;
  width: 100%;
  height: 100%;
}

main .news-carousel .news-carousel-item-thumb img {
  object-fit: cover;
  transform: scale(1);
  transition: all .4s;
  display: block;
  width: 100%;
  height: 220px;
}

main .news-carousel .news-carousel-item:hover .news-carousel-item-thumb img {
  transform: scale(1.15);
}

main .news-carousel .news-carousel-item-thumb {
  height: 220px;
  overflow: hidden;
}

main .news-carousel .news-carousel-caption {
  height: calc(100% - 220px);
  padding: 32px;
  background-color: var(--black-background-color);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

main .news-carousel .news-carousel-caption-text {
  height: 100%;
}

main .news-carousel .news-carousel-caption-text p {
  margin: 0;
}

main .news-carousel .news-carousel-caption-text p:first-child {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 75%;
}

@media only screen and (max-width: 1200px) {
  :root {
    --news-items: 2;
    --news-item-width: 460px;
  }

  main .news-carousel .news-carousel-item-thumb {
    height: 280px;
  }

  main .news-carousel .news-carousel-item-thumb img {
    height: 280px;
  }

  main .news-carousel .news-carousel-item .news-carousel-caption {
    height: calc(100% - 280px);
    padding: 24px;
  }
}

@media only screen and (max-width: 991px) {
  :root {
    --news-item-width: 350px;
  }
}

@media only screen and (max-width: 768px) {
  main div.carousel-wrapper.news-carousel-wrapper {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  main .carousel.news-carousel {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .news-carousel .carousel-item {
    padding: 0;
    width: 100%;
  }

  main .news-carousel .news-carousel-item-thumb {
    height: unset;
  }

  main .news-carousel .news-carousel-item-thumb picture {
    height: 50%;
  }

  main .news-carousel .news-carousel-item-thumb img {
    height: 100%;
    object-fit: cover;
  }

  main .news-carousel .news-carousel-item .news-carousel-caption {
    height: 50%;
  }
}
