.footer-wrapper {
  background-image: url("../../images/research-bg.png");
  overflow-x: hidden;
}

.footer.block {
  margin: auto;
  font-size: 15px;
  margin-top: 25px;
}

.footer-wrap > div {
  padding: 15px;
}

.footer-news-events > div {
  display: flex;
}

.footer-news-events > div > div {
  flex-grow: 1;
}

.footer-news-events > div:first-of-type {
  margin-bottom: 7px;
}

.footer-bottom {
  margin-top: 18px;
  border-top: 1px solid var(--highlight-background-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.footer a {
  color: var(--text-color);
}

.row-5 i {
  margin: 0;
}

.row-3 a,
.footer h3,
.footer h3 a {
  color: var(--button-bg-color);
}

.footer a:hover {
  color: var(--link-hover-color);
}

.footer a i.fa.fa-external-link {
  color: inherit;
}

.footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-news-events h3 {
  margin: 0;
  padding: 0 15px 6px;
}

.footer-newsletter-form h3 {
  font-size: 20px;
}

.footer h3 + h3 {
  margin-top: 30px;
}

.footer-news-events .toggle:not(.on) h3 {
  color: var(--border-color-gray);
}

.footer-wrap > div.row-3 {
  padding: 0;
}

.footer-news-events p {
  border-bottom: 1px solid var(--highlight-background-color);
  padding-bottom: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.footer-newsletter-form p {
  font-size: 10px;
}

.footer-news-events p:last-of-type {
  border: none;
}

.footer-news-events p:last-of-type a {
  color: var(--button-bg-color);
}

.footer-news-events > div:first-of-type > div {
  border-bottom: 2px solid var(--highlight-background-color);
  margin-left: 0;
}

.footer-news-events > div:nth-child(1) > div:nth-child(1) {
  text-align: right;
}

.footer-news-events > div:first-of-type > div:first-of-type {
  text-align: right;
  border-right: 2px solid var(--button-bg-color);
}

.footer-news-events > div:first-of-type > div.toggle.on {
  border-bottom: 3px solid var(--button-bg-color);
}

.footer-news-events > div:nth-child(2) > div.toggle {
  display: none;
}

.footer-news-events > div:nth-child(2) > div.toggle.on {
  display: block;
}

.footer-newsletter-form {
  background-color: var(--grey-background-color);
  padding: 0 15px 15px;
}

.footer-newsletter-form ul {
  margin-top: 15px;
}

.footer-newsletter-form li {
  margin-bottom: 5px;
  max-width: 162px;
}

.footer-newsletter-form i {
  float: right;
}

.row-6 ul {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--ff-proxima-light);
  margin-bottom: 16px;
}

.row-4 li {
  margin-top: -5px;
  position:relative;
  top: -30px;
  left: 36px;
}

.row-4 picture {
  position: relative;
  top: 30px;
  left: -36px;
}

.row-5 ul {
  display: flex;
  font-size:21px;
  margin: 0;
  padding: 12px 0 5px;
}

.row-4 ul:first-of-type {
  border-bottom: 1px solid #ccc;
  margin: 5px 0 15px;
}

.row-6 {
  font-size: 12.3px;
}

.row-6 ul li {
  flex-shrink: 0;
  margin-left: 12px;
  margin-bottom: 7px;
}

.row-5 li:not(:last-child) {
  padding-right:32px;
}

.row-6 i {
  margin-left: 3px;
}

.fa-external-link {
  position: relative;
  bottom: 5px;
}

.row-3 .hubspot-iframe-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.row-3 .hubspot-iframe-wrapper iframe {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  width: 1px;
  min-width: 100%;
  height: 1px;
  max-height: 100%;
}

.footer .row-1 h3:first-child,
.footer .row-4 h3:first-child {
  margin-top: 0;
}

.footer-wrap .footer-contact img {
  width: auto;
}

.footer-wrap .social-media-list ul {
  margin-bottom: 0;
  display: flex;
  border-bottom: none;
}

.footer-wrap .social-media-list ul li {
  margin-top: 0;
  position: static;
  margin-right: 10px;
}

.footer-wrap .social-media-list ul li a {
  font-size: 24px;
  color: var(--text-blue);
  display: block;
  padding: 8px;
}

.footer-wrap .social-media-list ul li a img {
  display: inline-block;
  width: 30px;
  height: 23px;
  vertical-align: middle;
}

.footer-wrap .social-media-list ul li a i {
  margin-left: 0;
}

@media (min-width: 768px) {
  .footer.block {
    width: 750px;
  }

  .footer-wrap {
    display: flex;
  }

  .footer-wrap > div {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .footer.block {
    width: 970px;
  }

  .footer-bottom,
  .footer-bottom .row-6 {
    display: flex;
  }

  .footer-bottom {
    padding: 15px 15px 30px;
    position: relative;
  }

  .footer-bottom .row-6 {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer-bottom .row-6 ul {
    max-width: 65%;
    justify-content: right;
    padding-right: 32px;
    margin-bottom: 0;
  }

  .footer-bottom .row-6 p {
    margin: 0;
  }

  .footer-bottom .row-6 p:last-of-type {
    margin-top: 40px;
    position: absolute;
    left: 15px;
  }
}

@media (min-width: 1200px) {
  .footer.block {
    width: 1170px;
  }
}

@media (max-width: 992px) {
  .row-5 {
    display: flex;
    margin-bottom: 8px;
  }

  .row-6 {
    text-align: center;
  }

  .row-5,
  .row-6 ul {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .footer h3+h3 {
    margin-top: 20px;
  }
}
