footer {
    position:relative;
    background-image: url(research-bg.png);
    background-size: cover;
}

footer div div div:nth-child(-n+4) {
    float: left;
    width: 25%;
}

footer div div div:nth-child(5) {
    float:none;
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 28px;
    padding-top: 12px;
    padding-bottom: 25px;
}

footer h3 {
    font-size: 16px;
    color: #008da9;
    font-family: "Proxima Nova Rg";
    margin-top: 0;
}

footer h3 a {
    position:relative;
}

footer ul {
    font-size: 15px;
}

footer ul li a:any-link {
    color:#333;
}