/* stylelint-disable no-descending-specificity */
:root {
  --footer-bg: #6b737b;
}

/* footer  */
.footer {
  color: var(--text-color);
  font-size: 15px;
}

.footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--button-bg-color);
}

.footer h3 + h3 {
  margin-top: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: var(--link-hover-color);
}

.footer a i.fa.fa-external-link {
  color: inherit;
  background: no-repeat;
  padding: 0;
  margin-left: 4px;
  width: auto;
  height: auto;
  top: -4px;
  left: 0;
  font-size: 10px;
}

.footer .columns img {
  width: auto;
}

.footer .site-logo .footer-site-logo a {
  font-size: 0;
  background-image: url("/images/header-menus/logo.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: top left;
}

.footer .site-logo picture img {
  opacity: 0;
  display: block;
  width: 100%;
  max-width: 210px;
}

.footer-wrapper {
  background-color: var(--background-color);
  background-image: url("../../images/research-bg.png");
  overflow-x: hidden;
}

.footer .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* row 3 | news events */
.footer-news-events > div {
  display: flex;
}

.footer-news-events > div > div {
  flex-grow: 1;
  margin-left: 0;
}

.footer-news-events > div:first-of-type {
  margin-bottom: 7px;
  flex-direction: row;
}

.footer-news-events p {
  border-bottom: 1px solid var(--highlight-background-color);
  padding-bottom: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.footer-news-events h3 {
  margin: 0;
  padding: 0 15px 6px;
}

.footer-news-events .toggle:not(.on) h3 {
  color: var(--border-color-gray);
}

.footer-news-events p:last-of-type {
  border: none;
}

.footer-news-events p:last-of-type a {
  color: var(--button-bg-color);
}

.footer-news-events > div:first-of-type > div {
  border-bottom: 2px solid var(--highlight-background-color);
  margin-left: 0;
}

.footer-news-events > div:nth-child(1) > div:nth-child(1) {
  text-align: right;
}

.footer-news-events > div:first-of-type > div:first-of-type {
  text-align: right;
  border-right: 2px solid var(--button-bg-color);
}

.footer-news-events > div:first-of-type > div.toggle.on {
  border-bottom: 3px solid var(--button-bg-color);
}

.footer-news-events > div:nth-child(2) > div.toggle {
  display: none;
}

.footer-news-events > div:nth-child(2) > div.toggle.on {
  display: block;
}

/* row 3 | hubspot-iframe-wrapper */
.footer-newsletter-form {
  background-color: var(--grey-background-color);
  padding: 0 15px 15px;
  color: var(--button-bg-color);
  margin-bottom: 30px;
}

.footer-newsletter-form p {
  font-size: 10px;
}

.footer-newsletter-form ul {
  margin-top: 15px;
}

.footer-newsletter-form li {
  margin-bottom: 5px;
  max-width: 162px;
}

.footer-newsletter-form a {
  display: flex;
  justify-content: space-between;
}

.footer-newsletter-form .hubspot-iframe-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 298px;
}

.footer-newsletter-form .hubspot-iframe-wrapper iframe {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  width: 1px;
  min-width: 100%;
  height: 1px;
  max-height: 100%;
}

/* row 4 | global headquarters list */
.row-4 {
  position: relative;
}

.row-4 ul:first-of-type {
  border-bottom: 1px solid var(--highlight-background-color);
  margin: 15px 0;
}

.row-4 li {
  margin-top: -5px;
  position: relative;
  top: -30px;
  left: 36px;
}

.row-4 li i {
  font-size: 1rem;
  background: var(--button-bg-color);
  color: var(--text-white);
  border-radius: 50%;
  padding: 4px;
  width: 24px;
  height: 24px;
  top: 21px;
}

.row-4 li:has(i):not(img) {
  margin-top: 3px;
}

.footer .social-media-list ul {
  margin-bottom: 0;
  display: flex;
  border-bottom: none;
}

.footer .social-media-list ul li {
  margin-top: 0;
  position: static;
  margin-right: 10px;
}

.footer .social-media-list ul li a {
  font-size: 24px;
  color: var(--text-blue);
  display: block;
  padding: 8px;
}

.footer .social-media-list ul li a img {
  display: inline-block;
  width: 30px;
  height: 23px;
  vertical-align: middle;
}

.footer .social-media-list ul li a i {
  margin-left: 0;
}

.row-4 .row-4-inner-wrapper picture,
.row-4 .row-4-inner-wrapper li i {
  position: relative;
  top: 30px;
  left: -36px;
}

/* footer bottom */
.footer-bottom {
  margin-top: 32px;
  padding: 44px 0;
  background-color: var(--footer-bg);
  color: var(--text-white);
}

.footer-bottom ul li a:hover {
  color: var(--highlight-background-color);
}

.row-7 ul,
.row-8 {
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 10px;
}

/* row 7 */
.row-7 {
  display: grid;
}

.row-7 ul {
  display: flex;
  margin: 0;
  column-gap: 0;
}

.row-7 ul li:not(:last-child)::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}

.row-7 ul li a {
  font-size: 12px;
}

/* row 8 */
.row-8 {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  border-top: 1px solid var(--highlight-background-color);
  margin-top: 20px;
  padding-top: 4px;
}

.row-8 p {
  margin: 0;
}

.row-8 p img[alt*="beckman coulter"] {
  position: relative;
  top: 8px;
}

.row-6 img,
.row-8 img {
  display: block;
}

/* footer landing page */
.footer .footer-landing-page {
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
}

.footer-landing-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 20px 0 32px;
  border-top: 1px solid #ccc;
}

.footer .footer-landing-page ul {
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer .footer-landing-page ul li {
  position: relative;
  padding-right: 24px;
  line-height: 1;
}

.footer .footer-landing-page ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 0;
  background-color: #6b737b;
  width: 1px;
  height: 100%;
}

.footer .footer-landing-page .site-logo picture img {
  max-width: 150px;
}

/* MEDIA QUERY */
@media only screen and (min-width: 768px) {
  .footer .container {
    width: 750px;
  }

  .footer-wrap .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-landing-page .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .footer-landing-page ul {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 992px) {
  .footer .container {
    width: 970px;
  }

  .footer .site-logo .footer-site-logo a {
    background-position: top right;
  }

  .footer-wrap .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.12fr 1fr;
    gap: 20px;
  }

  .row-5 {
    position: absolute;
    text-align: right;
    bottom: 0;
    min-width: 300px;
    right: 0;
    font-size: 12.3px;
  }

  .footer-bottom .container {
    display: grid;
    grid-template:
      "danaher list"
      "danaher logos";
    align-items: center;
  }

  .row-6 {
    grid-area: danaher;
  }

  .row-7 {
    grid-area: list;
  }

  .row-8 {
    grid-area: logos;
    gap: 24px;
  }

  .row-7 ul {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1200px) {
  .footer .container {
    width: 1170px;
  }

  .footer-bottom .container {
    grid-template-columns: max-content auto;
    align-items: flex-end;
    column-gap: 60px;
  }

  .row-8 {
    gap: 60px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-bottom .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .row-5 {
    margin-top: 3rem;
  }

  .row-7 {
    gap: 10px;
  }

  .row-8 {
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .footer h3 + h3 {
    margin-top: 20px;
  }

  .row-5 {
    margin-top: 2rem;
  }
}
