.footer.block {
  margin: auto;
  font-size: 15px;
  margin-top: 4%;
  padding-bottom: 15px;
}

.footer-wrap > div {
  padding: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.footer a {
  color: var(--text-color);
}

.row-3 a,
.footer h3,
.footer h3 a {
  color: var(--button-bg-color);
}

.footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-news-events h3 {
  margin: 0;
  padding: 0 15px 7px;
}

.footer-newsletter-form h3 {
  font-size: 20px;
}

.footer h3+h3 {
  margin-top: 30px;
}

.footer-wrap > div.row-3 {
  padding: 0;
}

.footer-news-events p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-newsletter-form p {
  font-size: 10px;
}

.footer-news-events p:last-of-type {
  border: none;
}

.footer-news-events p:last-of-type a {
  color: var(--button-bg-color);
}

.footer-news-events > div {
  display: flex;
}

.footer-news-events > div > div {
  flex-grow: 1;
}

.footer-news-events > div:first-of-type > div:first-of-type {
  text-align: right;
  border-right: 2px solid var(--button-bg-color);
  border-bottom: 2px solid var(--button-bg-color);
}

.footer-news-events > div:nth-child(2) > div:nth-child(2) {
  display: none;
}

.footer-newsletter-form {
  background-color: var(--grey-background-color);
  padding: 15px;
}

.footer-newsletter-form ul {
  margin-top: 30px;
}

.footer-newsletter-form li {
  margin-bottom: 10px;
}

.row-6 ul {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--ff-proxima-light);
}

.row-4 ul:first-of-type {
  border-bottom: 1px solid #ccc;
  margin: 5px 0 25px;
}

.row-4 ul li {
  margin-top: -5px;
  position:relative;
  top: -30px;
  left: 36px;
}

.row-4 picture {
  position: relative;
  top: 30px;
  left: -36px;
}

.row-6 {
  font-size: 12.3px;
}

.row-6 ul li {
  flex-shrink: 0;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .footer h3+h3 {
    margin-top: 20px;
  }

  .row-6 {
    text-align: center;
  }

  .row-6 ul {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .footer.block {
    width: 750px;
    padding: 15px;
  }

  .footer-wrap {
    display: flex;
  
  }

  .footer-wrap > div {
    width: 25%;
  }

  .footer-bottom {
    padding:15px;
  }

  .row-6 {
    display: flex;
    flex-direction: row-reverse;
  }

  .row-6 ul {
    justify-content: right;
  }
  
  .row-6 p {
    margin: 0;
    flex-grow: 3;
  }
}

@media (min-width: 992px) {
  .footer.block {
    width: 970px;
  }

  .row-6 ul {
    max-width: 58.3%;
  }
}

@media (min-width: 1200px) {
  .footer.block {
    width: 1170px;
  }
}