/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */
.footer {
  color: var(--color-text-primary);
  font-size: 15px;
}

.footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--color-primary);
}

.footer h3 + h3 {
  margin-top: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: var(--color-link-hover);
}

.footer a i.fa.fa-external-link {
  color: inherit;
  background: no-repeat;
  padding: 0;
  margin-left: 4px;
  width: auto;
  height: auto;
  top: -4px;
  left: 0;
  font-size: 10px;
}

.footer .columns img {
  width: auto;
}

.footer .site-logo .footer-site-logo {
  font-size: 0;
  background-image: url("/images/header-menus/mol-dev-logo.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: top left;
}

.footer .site-logo picture img {
  opacity: 0;
  display: block;
  width: 100%;
  max-width: 210px;
}

.footer-wrapper {
  background-color: var(--background-color);
  background-image: url("../../images/research-bg.png");
  overflow-x: hidden;
}

/* row 3 | news events */
.footer-news-events > div {
  display: flex;
}

.footer-news-events > div > div {
  flex-grow: 1;
  margin-left: 0;
}

.footer-news-events > div:first-of-type {
  margin-bottom: 7px;
  flex-direction: row;
}

.columns.footer-news-events p {
  border-bottom: 1px solid var(--color-gray-350);
  padding-bottom: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.footer-news-events h3 {
  margin: 0;
  padding: 0 15px 6px;
}

.footer-news-events .toggle:not(.on) h3 {
  color: var(--color-gray-450);
}

.footer-news-events p:last-of-type {
  border: none;
}

.footer-news-events p:last-of-type a {
  color: var(--color-primary);
}

.footer-news-events > div:first-of-type > div {
  border-bottom: 2px solid var(--color-gray-350);
  margin-left: 0;
  cursor: pointer;
}

.footer-news-events > div:nth-child(1) > div:nth-child(1) {
  text-align: right;
}

.footer-news-events > div:first-of-type > div:first-of-type {
  text-align: right;
  border-right: 2px solid var(--color-primary);
}

.footer-news-events > div:first-of-type > div.toggle.on {
  border-bottom: 3px solid var(--color-primary);
}

.footer-news-events > div:nth-child(2) > div.toggle {
  display: none;
}

.footer-news-events > div:nth-child(2) > div.toggle.on {
  display: block;
}

/* row 3 */
.footer-newsletter-form {
  background-color: var(--color-gray-150);
  padding: 15px;
  padding-top: 16px;
  color: var(--color-primary);
  margin-bottom: 30px;
}

.footer-newsletter-form h3 {
  font-size: 20px;
}

.footer-newsletter-form p {
  font-size: 10px;
}

.footer-newsletter-form ul {
  margin-top: 15px;
  margin-bottom: 0;
}

.footer-newsletter-form .hubspot-form .hs-form-field {
  padding: 0 0 15px;
}

.footer-newsletter-form ul:not(.hs-error-msgs) li {
  margin-bottom: 5px;
  max-width: 162px;
}

.footer-newsletter-form a {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-newsletter-form label.privacy,
.footer-newsletter-form div.privacy > label {
  color: var(--color-input);
}

.footer-newsletter-form label.privacy a,
.footer-newsletter-form div.privacy > label a {
  display: inline;
  color: var(--color-link);
}

.footer-newsletter-form .hs-form-field .hs-input {
  background-color: var(--color-white);
  background-image: none;
  border: 1px solid var(--color-input-border);
  border-radius: 0;
  color: var(--color-input);
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 1.4285;
  outline: none;
  padding: 5px;
  width: 100% !important;
  font-family: var(--ff-proxima-regular);
}

.footer-newsletter-form .hs-submit .actions {
  margin-top: 0;
  margin-bottom: 15px;
}

.footer-newsletter-form .hubspot-form .submitted-message {
  padding: 20px 0;
}

.footer-newsletter-form .hubspot-form .submitted-message p,
.footer-newsletter-form .hubspot-form .submitted-message p span {
  color: var(--color-text-primary);
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.footer-newsletter-form .hubspot-form .hs_error_rollup .hs-error-msgs.inputs-list {
  margin-top: -10px;
  margin-bottom: 10px;
}

.footer-newsletter-form .hubspot-form .hs-error-msgs.inputs-list {
  margin-top: 5px;
}

/* row 4 | global headquarters list */
.row-4 {
  position: relative;
}

.footer .row-4 h3:first-of-type {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.row-4 ul:first-of-type {
  border-bottom: 1px solid var(--color-gray-350);
  margin: 10px 0 0;
}

.row-4 li {
  margin-top: -5px;
  position: relative;
  top: -30px;
  left: 36px;
}

.row-4 li i {
  font-size: 1rem;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  padding: 4px;
  width: 24px;
  height: 24px;
  top: 21px;
}

.row-4 li:has(i):not(img) {
  margin-top: 3px;
}

.row-4 .footer-contact li:has(i):not(img) {
  display: flex;
  margin-left: -36px;
  margin-top: 20px;
  gap: 6px;
}

.row-4 .footer-contact li > i {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-4 .row-4-inner-wrapper picture {
  position: relative;
  top: 30px;
  left: -36px;
}

.footer .social-media-list ul {
  margin-bottom: 0;
  display: flex;
  border-bottom: none;
  gap: 20px;
}

.footer .social-media-list ul li {
  margin-top: 0;
  position: static;
}

.footer .social-media-list ul li a {
  font-size: 26px;
  color: var(--color-primary);
  display: block;
  padding: 8px;
}

.footer .social-media-list ul li a i {
  margin-left: 0;
  color: inherit;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  width: auto;
  height: auto;
}

.footer .social-media-list ul li .fa-facebook-f {
  top: -2px;
}

/* footer bottom */
.footer-bottom {
  margin-top: 32px;
  padding: 44px 0;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.footer-bottom a:hover {
  color: var(--color-gray-350);
}

.footer-bottom .footer-contact p {
  margin-top: 2rem;
  text-align: center;
}

.row-7 ul,
.row-8 .external-logo-wrapper {
  column-gap: 24px;
  row-gap: 10px;
}

/* row 7 */
.row-7 {
  display: grid;
}

.row-7 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  column-gap: 0;
}

.row-7 ul li:not(:last-child)::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}

.row-7 ul li a {
  font-size: 12px;
}

/* row 8 */
.row-8 {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  border-top: 1px solid var(--color-gray-350);
  margin-top: 20px;
  padding-top: 1rem;
}

.row-8.columns-wrapper.OneLinkShow_zh {
  display: block !important;
}

.row-8 .external-logo-wrapper {
  display: flex !important;
  align-items: baseline;
}

.row-8 .external-logo-wrapper p {
  margin: 0;
  flex: 1 1 80px;
}

.row-6 img,
.row-8 .external-logo-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}

.row-8 .external-logo-wrapper p:has([alt*="Leica"], [alt*="leica"]),
.row-8 .external-logo-wrapper p:has([alt*="Sciex"], [alt*="sciex"]) {
  flex-basis: 60px;
}

.row-8 .external-logo-wrapper p:has([alt*="Phenomenex"], [alt*="phenomenex"]) {
  flex-basis: 120px;
}

.row-8 .external-logo-wrapper p:has([alt*="Beckman Coulter"], [alt*="beckman coulter"]) {
  position: relative;
  top: 4px;
}

/* footer landing page */
.footer .footer-landing-page {
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
}

.footer-landing-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 20px 0 32px;
  border-top: 1px solid var(--color-gray-350);
}

.footer .footer-landing-page ul {
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
}

.footer .footer-landing-page ul li {
  position: relative;
  padding-right: 24px;
  line-height: 1;
}

.footer .footer-landing-page ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 0;
  background-color: var(--footer-lp-border-top);
  width: 1px;
  height: 100%;
}

.footer .footer-landing-page .site-logo picture img {
  max-width: 150px;
}

/* MEDIA QUERY */
@media only screen and (min-width: 768px) {
  .footer-wrap .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-landing-page .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .footer-landing-page ul {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 992px) {
  .footer .site-logo .footer-site-logo {
    background-position: top right;
  }

  .footer-wrap .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.12fr 1fr;
    gap: 20px;
  }

  .row-5 {
    position: absolute;
    text-align: right;
    bottom: 0;
    min-width: 300px;
    right: 0;
    font-size: 12.3px;
  }

  .footer-bottom .container {
    display: grid;
    grid-template:
      "danaher list"
      "danaher logos";
    align-items: end;
    column-gap: 1.5rem;
  }

  .footer-bottom .footer-contact p {
    text-align: right;
  }

  .row-6 {
    grid-area: danaher;
  }

  .row-7 {
    grid-area: list;
  }

  .row-7 ul {
    justify-content: flex-end;
  }

  .row-8 {
    grid-area: logos;
  }

  .row-8 .external-logo-wrapper {
    column-gap: 24px;
    row-gap: 24px;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-bottom .container {
    grid-template-columns: max-content auto;
    align-items: flex-end;
  }

  .footer-bottom .container,
  .row-8 .external-logo-wrapper {
    column-gap: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-bottom .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .footer .site-logo picture img {
    max-width: 160px;
  }

  .row-5 {
    margin-top: 3rem;
  }

  .row-7 {
    gap: 10px;
  }

  .footer-bottom .container,
  .row-8 .external-logo-wrapper {
    gap: 24px;
    justify-content: center;
  }

  .row-8 .external-logo-wrapper {
    text-align: center;
    flex-wrap: wrap;
  }

  .row-8 .external-logo-wrapper p {
    flex: 0 1 80px;
  }
}

@media only screen and (max-width: 767px) {
  .footer h3 + h3 {
    margin-top: 20px;
  }

  .row-5 {
    margin-top: 2rem;
  }

  .row-6 img {
    max-width: 120px !important;
  }

  .row-6 img,
  .row-8 .external-logo-wrapper img {
    display: block;
    margin: auto;
  }

  .footer-news-events > div:first-of-type {
    gap: 0;
  }

  .footer .container {
    display: grid;
    gap: 30px;
  }
}
