main .publication-container {
  background-color: var(--grey-background-color);
}

main .publication-container .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}