main .section.social-share-container {
  padding-top: 0;
  padding-bottom: 0;
}

/* News and Publication Variant */
.publication main .share-event,
.news main .share-event {
  float: left;
  padding: 15px 0 0;
}

.publication main .share-event p,
.news main .share-event p {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: var(--ff-proxima-light);
  font-weight: 600;
  font-size: 14px;
}

.publication main .social-links ul,
.news main .social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px;
}

.publication main .social-links li a i,
.news main .social-links li a i {
  display: inline-block;
  font-size: 21px;
}

.full-article main .social-links li a span img,
.blog main .social-links li a span img {
  max-width: 25px;
}

.publication main .social-links ul li i,
.news main .social-links ul li i {
  color: var(--color-primary);
  line-height: 28px;
  cursor: pointer;
}
