.hero-inner {
  min-height: inherit;
}

.hero-inner .container > div:nth-child(2) {
  padding: 0 15px;
}

.hero-inner .container.two-column h1 {
  margin: 0 0 10px;
}

.hero-inner .container.two-column h2 {
  font-size: 20px;
  margin: auto;
  line-height: 1.4;
  font-weight: 100;
}

.product-finder-container .product-finder.block {
  padding-top: 30px;
}

.product-finder-container h3 {
  font-size: 25px;
  margin: 0 0 10px;
  line-height: 1.4;
  text-align: center;
}

.product-finder-container h4 {
  font-size: 16px;
  margin: 0 0 10px;
  font-weight: 100;
  font-family: var(--ff-proxima-regular);
}

.product-finder-container .reset {
  display: block;
  font-size: 14px;
  margin-left: 0;
}

.product-finder-container #start-over i.fa {
  margin-left: 0;
  margin-right: 5px;
}

.product-finder-container {
  float: left;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.product-finder-container ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  min-height: 16px;
  line-height: 16px;
}

.product-finder-container ul li > .progress-step::before {
  font-size: 15px;
  content: "\f096";
}

.product-finder-container ul li > .progress-step.checked::before {
  content: "\f14a";
}

.product-finder-container ul li > .progress-step { 
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 14px;
  text-align: center;
  display: block;
  left: 0;
  font-family: FontAwesome,sans-serif;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-finder-container ul {
  font-size: 14px;
  font-weight: 100;
  color: #34393d;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.product-finder-container .product-finder-step-wrapper {
  float: left;
  margin-top: 30px;
  width: 100%;
}

.product-finder-container .product-finder-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  grid-gap: 30px;
}

.product-finder-container .hidden {
  display: none;
}

.product-finder-container .active {
  display: block;
}

.product-finder-container .card {
  height: auto;
  width: 23%;
}

.product-finder-container .finder-filters .filters-row-title {
  font-size: 25px;
  margin: 45px 0 0;
  line-height: 1.4;
}

.product-finder-container .finder-filters .filters-title-container {
  width: 33.3333%;
  float: left;
}

.product-finder-container .finder-filters .filters-container {
  width: 66.6667%;
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.product-finder-container .finder-filters .form-group {
  margin-bottom: 15px;
  width: 250px;
  padding-left: 40px;
}

@media (min-width: 768px) {
  .product-finder-container .finder-filters .col-sm-4 {
    width: 33.3333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-finder-container .finder-filters .result-filters {
  margin-top: 0;
  display: flex;
}

.product-finder-container .result-filters .filter-label {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 700;
}

.product-finder-container .finder-filters .select-wrapper {
  position: relative;
}

.product-finder-container .finder-filters .select-wrapper select {
  width: 100%;
  appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 10px 1px rgb(0 0 0/ 10%);
  color: #34393d;
  font-size: 18px;
  height: 50px;
  outline: 0;
  padding: 15px 40px 15px 15px;
  padding-bottom: 15px;
}

.product-finder-container a span {
  font: var(--ff-proxima-light);
  color: var(--text-color);
  font-size: 24px;
  width: 100%;
}

.product-finder-container .finder-filters .select-wrapper span {
  color: var(--dark-gray-background-color);
  position: absolute;
  right: 20px;
  top: 16px;
}

.product-finder-container .finder-filters .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome, sans-serif;
  font-size: inherit;
  text-rendering: auto;
}

.product-finder-container .finder-filters .fa-chevron-down::before {
  content: "\f078";
}

@media (max-width: 992px) {
  .product-finder-container .card {
    flex-basis: 45%;
  }

  .product-finder-container .finder-filters .result-filters {
    display: block;
  }

  .product-finder-container .finder-filters .filters-title-container,
  .product-finder-container .finder-filters .filters-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .product-finder-container .finder-filters .filters-container .form-group {
    width: 100%;
    padding-left: 0;
  }

  .product-finder-container .finder-filters .select-wrapper {
    width: 100%;
  }

  .product-finder-container .finder-filters .col-sm-4 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .product-finder-container .finder-filters .select-wrapper select {
    height: 40px;
    padding: 10px 40px 10px 15px;
  }

  .product-finder-container .finder-filters .select-wrapper span {
    top: 10px;
  }
}

@media (max-width: 1200px) {
  .product-finder-container .card {
    width: 20%;
  } 
}

.product-finder-container .card-caption {
  padding: 15px 15px 0;
}

.product-finder-container .card-caption h3 {
  font-size: 18px;
  margin: 0;
}

.product-finder-container .card-thumb img {
  height: auto;
  min-height: 1px;
}

.product-finder-container .card-caption h3 > a {
  color: var(--link-color);
}

.product-finder-container .card-description {
  font-size: 14px;
}

.product-finder-container .icon-card {
  display: flex;
  flex-direction: column;
  height: unset;
  min-height: 1px;
  min-width: 1px;
  padding: 30px 20px;
}

.product-finder-container .icon-card:hover {
  background: var(--background-color-blue);
  transform: none;
}

.product-finder-container .icon-card:hover a span {
  color: var(--text-white);
}

.product-finder-container .card-caption svg {
  height: 18px;
  width: 18px;
  color: #008da9;
  vertical-align: middle;
}

.product-finder-container #step-1 a span,
.product-finder-container #step-2 a span {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  float: left;
}

.product-finder-container .card a .icon.icon-chevron-right-outline {
  vertical-align: middle;
}

.product-finder-container.icon-title {
  margin: 10px 0 0;
}

.product-finder-container #step-3 {
  border-top: 2px solid #d6d6d6;
}

.product-finder-container #step-3 .result-count {
  float: left;
  width: 100%;
  font-size: 14px;
  color: var(--text-light-gray);
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.product-finder-container #step-3 .card-thumb {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product-finder-container #step-3 .card-thumb img {
  vertical-align: middle;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
}

.product-finder-container #step-3 .card {
  width: 262px;
}

.product-finder-container #step-3 .card-caption > p {
  font-size: 14px;
}

.product-finder-container #step-3 .card-caption > .c2a {
  border-top: 1px solid #d6d6d6;
  padding-top: 8px;
}

.product-finder-container #step-3 .card-caption > .c2a > p {
  text-align: left;
}

.product-finder-container #step-3 .card-caption > .c2a > p > a {
  font-size: 13px;
}

.product-finder-container #step-3 .card-caption .button-container {
  width: 50%;
  float:left;
  margin-left: 0;
  margin-bottom: 10px;
}

.product-finder-container #step-3 .card-caption .compare-button {
  font-size: 13px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .product-finder-container .icon-card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero-inner .container {
    padding-bottom: 0;
  }

  .hero-inner .container.two-column > div:nth-child(2) {
    border-left: unset;
  }
}

@media (max-width: 991px) {
  .hero-inner .container.two-column > div:nth-child(2) {
    border-top: unset;
    padding-top: 0;
  }

  .hero-inner .container.two-column h1 {
    font-size: 45px;
  }

  .hero-inner .container.two-column h2 {
    margin: 0 0 20px;
  }
}

@media (min-width: 992px) {
  .hero-inner .container.two-column > div:nth-child(2) {
    width: 33.35%;
    border-left: unset;
  }

  .product-finder-container #step-3 .card {
    width: 300px;
  }

  .product-finder-container #step-3 .card-caption .compare-button {
    margin-top: 7px;
  }
}
