.event-date {
  font-size: 14px;
}

.event-subtitle {
  font-size: 20px;
  margin-bottom: 12px;
}

.event-keywords {
  font-size: 18px;
  margin-bottom: 45px;
}

.event-keywords ul.keyword-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.event-keywords ul.keyword-list li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  font-size: 18px;
  vertical-align: middle;
}

.event-keywords ul.keyword-list li:not(:last-of-type)::after {
  content: "|";
  display: inline-block;
  margin-left: 10px;
}