.about-us .section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about-us .section[data-name] {
  padding-bottom: 0;
}

.about-us .section .default-content-wrapper h2 {
  text-align: center;
}

.about-us .section .default-content-wrapper h3 {
  font-size: 36px;
}

.about-us main .section[data-name="about-us"] .vidyard {
  max-width: unset;
}

/* ================ WHO WE ARE BLOCK ================ */

.cards.image-link.block ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.cards.image-link.block li {
  text-align: center;
  border: transparent;
}

.cards.image-link.block img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
}

.columns.layout-20-80.partners-list-columns.extended-width.block.columns-2-cols > div > div > p:first-child {
  font-size: 35px;
}

@media screen and (max-width: 600px) {
  .cards.image-link.block ul {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Display images in a single column */
  }

  .cards.image-link.block li {
    text-align: center;
    border: transparent;
  }

  .cards.image-link.block img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: 0; 
  }

  .columns.layout-20-80.partners-list-columns.extended-width.block.columns-2-cols > div > div > p:first-child {
    font-size: 24px; 
  }
}

@media screen and (min-width: 601px) {
  .cards.image-link.block ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards.image-link.block img {
    width: 56.25%; 
  }
}

.cards.who-we-are ul > li .cards-card-body code {
  font-family: var(--ff-proxima-regular);
  font-size: var(--body-font-size-m);
}

.cards.who-we-are ul > li .cards-card-body:first-child > p {
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.2s;
}

.cards.who-we-are ul > li .cards-card-body:first-child > p:last-child {
  position: absolute;
  inset: 0;
  margin: auto;
}

.cards.who-we-are ul > li:hover .cards-card-body:first-child > p,
.cards.who-we-are ul > li .cards-card-body:first-child > p:first-child {
  opacity: 1;
  visibility: visible;
}

.cards.who-we-are ul > li .cards-card-body:first-child > p:last-child,
.cards.who-we-are ul > li:hover .cards-card-body:first-child > p:first-child{
  opacity: 0;
  visibility: hidden;
}

.cards.who-we-are ul > li:hover .cards-card-body:first-child > p:last-child {
  opacity: 1;
  visibility: visible;
}

.cards.who-we-are ul > li .cards-card-body:first-child > p > picture img {
  aspect-ratio: auto;
  width: 152px;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .cards.who-we-are ul > li {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .cards.who-we-are ul > li {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}

/* ================ WHO WE ARE BLOCK ================ */

@media only screen and (max-width: 991px) {
  .about-us .section .default-content-wrapper h2 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .about-us .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-us .section .default-content-wrapper h2 {
    font-size: 37px;
  }
}