.about-us .section[data-name] {
  padding-bottom: 0;
}

.about-us .section .default-content-wrapper h2 {
  text-align: center;
}

.about-us .section .default-content-wrapper h3 {
  font-size: 36px;
}

.about-us main .section[data-name="about-us"] .vidyard {
  max-width: unset;
}

@media only screen and (max-width: 991px) {
  .about-us .section .default-content-wrapper h2 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .about-us .section .default-content-wrapper h2 {
    font-size: 37px;
  }
}
