.toc-container .toc-wrapper {
  margin-top: 20px;
}

.toc-container .columns-wrapper {
  margin-bottom: 20px;
}

.toc-container .button-container {
  margin-bottom: 40px;
}

.toc-container.accordion-container .toc-wrapper {
  margin-bottom: 40px;
}

.toc.no-sub-heading > ul > ul {
  display: none;
}

.toc-container .accordion-wrapper:not(:last-child) {
  margin-bottom: 40px;
}

.toc-container.toc-sub-heading .default-content-wrapper h4 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 24px;
}
