.toc-container .toc-wrapper {
  margin-top: 20px;
}

.toc-container .toc-wrapper,
.toc-container .columns-wrapper {
  margin-bottom: 20px;
}

.toc-container .button-container,
.toc-container.accordion-container .toc-wrapper,
.toc-container .accordion-wrapper:not(:last-child) {
  margin-bottom: 40px;
}

.toc.no-sub-heading > ul > ul {
  display: none;
}
