/* main .hero {
  min-height: 440px;
}

main .hero > div {
  width: 750px;
}

main .hero h1#news {
    font-size: 55px;
    margin-top: 0;
}

@media (max-width: 767px) {
  .hero h1#news {
      font-size: 35px;
      margin-left: -15px;
  }
} */