/* below the fold CSS goes here */

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova Regular';
  src: url('/fonts/ProximaNova-Regular.eot');
  src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/ProximaNova-Regular.woff2') format('woff2'), url('/fonts/ProximaNova-Regular.woff') format('woff'), url('/fonts/ProximaNova-Regular.ttf') format('truetype'), url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova ExtraBold';
  src: url('/fonts/ProximaNova-Extrabld.eot');
  src: url('/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('/fonts/ProximaNova-Extrabld.woff2') format('woff2'), url('/fonts/ProximaNova-Extrabld.woff') format('woff'), url('/fonts/ProximaNova-Extrabld.ttf') format('truetype'), url('/fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova Light';
  src: url('/fonts/ProximaNova-Light.eot');
  src: url('/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/ProximaNova-Light.woff2') format('woff2'), url('/fonts/ProximaNova-Light.woff') format('woff'), url('/fonts/ProximaNova-Light.ttf') format('truetype'), url('/fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal
}