/* stylelint-disable no-descending-specificity */
.list {
  padding-top: 67px;
}

.list > * {
  font-size: var(--list-font-size-m);
}

.list .event-title {
  font-size: 36px;
  padding-top: 6px;
  margin-top: 0;
}

/* panel */
.list > .filter {
  margin-bottom: 2rem;
}

.list > .filter > .panel-title {
  font-size: var(--list-heading-font-size-l);
  font-weight: bold;
  margin: 0;
  padding: 8px 0 22px;
  border-bottom: 1px solid var(--color-gray-450);
}

/* filters */
.list > .filter > .select {
  border-bottom: 1px solid var(--color-gray-450);
  padding: 10px 0 16px;
}

.list > .filter > .select > .dropdown-toggle {
  cursor: pointer;
  position: relative;
  padding: 15px 35px 16px 1px;
  text-align: left;
  height: 56px;
  width: 100%;
  max-width: unset;
  background: none;
  color: unset;
  transition-duration: 0.3s;
}

.list > .filter > .select > .dropdown-toggle::before {
  right: 21px;
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  font-size: 12px;
  content: "\f107";
  position: absolute;
}

.list > .filter > .select.open > .dropdown-toggle,
.list > .filter > .select > .dropdown-toggle:hover {
  color: var(--color-gray-500);
}

.list > .filter > .select.open > .dropdown-toggle::before {
  transform: rotate(180deg);
}

.list > .filter > .select > .dropdown-menu > p > a {
  color: unset;
  text-decoration: none;
}

.list > .filter > .select > .dropdown-menu.open {
  display: block;
  height: auto;
  max-height: 200px;
  position: static;
  overflow: auto;
  background-color: transparent;
  box-shadow: none;
  flex-flow: wrap;
}

.list > .filter > .select > .dropdown-menu::-webkit-scrollbar:vertical {
  width: 11px;
}

.list > .filter > .select > .dropdown-menu::-webkit-scrollbar:horizontal {
  height: 11px;
}

.list > .filter > .select > .dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid var(--color-white);
  background-color: var(--color-black-alpha-50);
}

.list > .filter > .select > .dropdown-menu.open > p {
  height: 41px;
  line-height: 41px;
  margin: 0;
  padding: 0 12px;
  cursor: pointer;
}

/* entries */
.list > .items > .item {
  height: auto;
  max-width: 100%;
  border-bottom: 2px solid var(--color-gray-300);
  padding: 37px 0 40px;
}

.list > .items > .item:last-of-type {
  padding-bottom: 22px;
}

.list > .items > .item > .content,
.list > .items > .item > .image {
  width: 100%;
  height: auto;
}

.list > .items > .item > .content {
  padding-left: 15px;
}

.list > .items > .item > .content > p > .title {
  font-size: var(--list-font-size-l);
  font-weight: bold;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom: 12px;
  color: unset;
  text-decoration: none;
}

.list > .items > .item > .content > .cite {
  font-family: var(--ff-proxima-light);
  font-size: var(--list-font-size-s);
  font-style: normal;
  font-weight: 600;
  color: var(--color-gray-900);
}

.list > .items > .item > .image {
  padding-right: 15px;
}

.list > .items > .item > .image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

/* pagination */
.list > .pagination {
  flex: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list > .pagination > .pager-item {
  display: inline-block;
  color: var(--color-gray-500);
  text-decoration: none;
  min-width: 55px;
  width: 55px;
  height: 55px;
  border: 1px solid var(--color-gray-500);
  font-weight: bold;
  line-height: 53px;
  text-align: center;
  font-size: var(--list-heading-font-size-l);
  padding: 0;
  margin: 4px;
}

.list > .pagination > .pager-item.active,
.list > .pagination > .pager-item:hover {
  color: unset;
  border-color: unset;
}

.list > .pagination > .pager-item.hidden {
  display: none;
}

.list > .pagination > .pager-item + .pager-item,
.list > .pagination > .pager-item:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .list > .items > .item > .content {
    margin-top: 15px;
  }

  .list > .items > .item > .image {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .list {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
  }

  .list > .items > .item {
    display: flex;
    flex-direction: row;
    padding: 37px 0 20px;
  }

  .list > .items > .item > .content {
    flex: 66.67%;
    margin-bottom: 20px;
  }

  .list > .items > .item > .content > .cite {
    margin-top: 1px;
  }

  .list > .items > .item > .image {
    flex: 33.33%;
    margin-bottom: 20px;
  }

  .list > .filter {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .list > .filter {
    width: 25%;
    padding-right: 15px;
  }

  .list > .items {
    width: 75%;
  }

  .list > .items > .item {
    margin-left: 6px;
  }

  .list > .items > .item:first-of-type {
    padding-top: 20px;
  }

  .list > .items > .item > .content {
    width: 66.67%;
    padding-left: 15px;
  }

  .list > .items > .item > image {
    width: 33.33%;
  }

  .list > .filter > .panel-title {
    max-width: 259px;
  }

  .list > .filter > .select {
    max-width: 259px;
  }
}

/* UPDATED EVENTS */
.event-summary-container .default-content-wrapper:has(h2:only-child),
.events .list > .items h2 {
  grid-column: 1 / -1;
  margin-bottom: 0;
}

.events .list > .items p {
  margin: 0;
  font-size: 1rem;
}

.events .list > .items > .item > .content > .cite {
  color: var(--color-tertiary);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.events .list > .items h4 {
  font-size: 1.25rem;
  font-family: var(--ff-proxima-xbold);
  color: var(--color-text-primary);
  margin-bottom: 0.5rem;
}

.events .list > .items h4 a {
  color: inherit;
}

.events .list > .items {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-content: start;
}

.events .list > .items > .item {
  flex-direction: column;
  padding: 0;
  margin-left: 0;
  background-color: var(--color-white);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  border-bottom: none;
}

.events .list > .items > .item a,
.events .list > .items > .item a picture,
.events .list > .items > .item a picture img {
  display: block;
}

.events .list > .items > .item > .content {
  width: 100%;
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.25rem;
  margin-top: 0;
}

.events .list > .items > .item .image {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  border: 1px solid var(--color-gray-300);
  border-bottom: none;
  overflow: hidden;
  flex: none;
}

.events .list > .items > .item > .image img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  min-height: 160px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.events .list > .items > .item > .image:hover img {
  transform: scale(1.1);
}

/* @media only screen and (min-width: 768px) {} */
