.list {
  padding-top: 67px;
}

.list > * {
  font-size: var(--list-font-size-m);
}

.list .event-title {
  font-size: 36px;
  padding-top: 6px;
  margin-top: 0;
}

/* panel */
.list > .filter > .panel-title {
  font-size: var(--list-heading-font-size-l);
  font-weight: bold;
  margin: 0;
  padding: 8px 0 22px;
  border-bottom: 1px solid var(--border-color-gray);
}

/* filters */
.list > .filter > .select {
  border-bottom: 1px solid var(--border-color-gray);
  padding: 10px 0 16px;
}

.list > .filter > .select > .dropdown-toggle {
  cursor: pointer;
  position: relative;
  padding: 15px 35px 16px 1px;
  text-align: left;
  height: 56px;
  width: 100%;
  max-width: unset;
  background: none;
  color: unset;
  transition-duration: 0.3s;
}

.list  > .filter > .select > .dropdown-toggle::before {
  right: 21px;
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  font-size: 12px;
  content: "\f107";
  position: absolute;
}

.list > .filter > .select.open > .dropdown-toggle,
.list > .filter > .select > .dropdown-toggle:hover {
  color: var(--text-light-gray);
}

.list > .filter > .select.open > .dropdown-toggle::before {
  transform: rotate(180deg);
}

.list > .filter > .select > .dropdown-menu > p > a {
  color: unset;
  text-decoration: none;
}

.list > .filter > .select > .dropdown-menu.open {
  display: block;
  height: auto;
  max-height: 200px;
  position: static;
  overflow: auto;
  background-color: transparent;
  box-shadow: none;
  flex-flow: wrap;
}

.list > .filter > .select > .dropdown-menu.open > p {
  height: 41px;
  line-height: 41px;
  margin: 0;
  padding: 0 12px;
  cursor: pointer;
}

/* entries */
.list > .items > .item {
  height: auto;
  max-width: 100%;
  border-bottom: 2px solid var(--light-border-color-gray);
  padding: 37px 0 40px;
}

.list > .items > .item:last-of-type {
  padding-bottom: 22px;
}

.list > .items > .item > .content,
.list > .items > .item > .image {
  width: 100%;
  height: auto;
}

.list > .items > .item > .content {
  padding-left: 15px;
}

.list > .items > .item > .content > p > .title {
  font-size: var(--list-font-size-l);
  font-weight: bold;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom:12px;
  color: unset;
  text-decoration: none;
}

.list > .items > .item > .content > .cite {
  font-family: var(--ff-proxima-light);
  font-size: var(--list-font-size-s);
  font-style: normal;
  font-weight: 600;
  color: var(--text-dark-gray);
}

.list > .items > .item > .image {
  padding-right: 15px;
}

.list > .items > .item > .image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

/* pagination */
.list > .pagination {
  flex: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list > .pagination > .pager-item {
  display: inline-block;
  color: var(--text-light-gray);
  text-decoration: none;
  min-width: 55px;
  width: 55px;
  height: 55px;
  border: 1px solid var(--text-light-gray);
  font-weight: bold;
  line-height: 53px;
  text-align: center;
  font-size: var(--list-heading-font-size-l);
  padding: 0;
  margin: 4px;
}

.list > .pagination > .pager-item.active, .list > .pagination > .pager-item:hover {
  color: unset;
  border-color: unset;
}

.list > .pagination > .pager-item.hidden {
  display: none;
}

.list > .pagination > .pager-item + .pager-item, 
.list > .pagination > .pager-item:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .list > .items > .item > .content {
    margin-top: 15px;
  }

  .list > .items > .item > .image {
    padding-left: 15px;
  }
}

@media (min-width: 769px) {
  .list {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
  }

  .list > .items > .item {
    display: flex;
    flex-direction: row; 
    padding: 37px 0 20px;
  }

  .list > .items > .item > .content {
    flex: 66.67%;
    margin-bottom: 20px;
  }

  .list > .items > .item > .content > .cite {
    margin-top: 1px;
  }

  .list > .items > .item > .image {
    flex: 33.33%;
    margin-bottom: 20px;
  }

  .list > .filter {
    width: 100%;
  }

  .list > .filter > .select {
    max-width: 259px;
  }
}

@media (min-width: 992px) {
  .list > .filter {
    width: 25%;
    padding-right: 15px;
  }

  .list > .items {
    width: 75%;
  }

  .list > .items > .item {
    margin-left: 6px;
  }

  .list > .items > .item:first-of-type {
    padding-top: 20px;
  }

  .list > .items > .item > .content {
    width: 66.67%;
    padding-left: 15px;
  }

  .list > .items > .item > image {
    width: 33.33%;
  }

  .list > .filter > .panel-title {
    max-width: 259px;
  }
}