.list {
  padding-top: 70px;
}

/* entries */
.list .item {
  border-bottom: 2px solid var(--light-border-color-gray);
  padding: 37px 0 40px;
  margin-left: 6px;
}

.list .item:last-of-type {
  padding-bottom: 22px;
}

.list .items > div {
  width: 100%;
}

.list .item .item-title {
  font-size: var(--list-font-size-l);
  font-weight: bold;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom:12px;
}

.list .item .item-title > a {
  color: unset;
  text-decoration: none;
}

.list cite {
  font-family: var(--ff-proxima-light);
  font-size: var(--list-font-size-s);
  font-style: normal;
  font-weight: 600;
  color: var(--text-dark-gray);
}

.list .item .image {
  padding-right: 15px;
}

.list .item .image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.list .item .content {
  padding-left: 15px;
}

/* panel */
.list .panel-title {
  font-size: var(--list-heading-font-size-l);
  font-family: var(--ff-proxima-regular);
  margin: 0;
  padding: 8px 0 22px;
  font-weight: bold;
  border-bottom: 1px solid var(--border-color-gray);
}

/* filters */
.list .filter a:any-link {
  color: unset;
  text-decoration: none;
}

.list .filter .select {
  border-bottom: 1px solid var(--border-color-gray);
  padding: 10px 0 16px;
}

.list .filter .select>* {
  font-size: var(--list-font-size-m);
}

.list .filter .select .dropdown-toggle {
  cursor: pointer;
  position: relative;
  padding: 15px 35px 16px 1px;
  text-align: left;
  height: 56px;
  width: 100%;
  max-width: unset;
  background: none;
  color: unset;
  transition-duration: 0.3s;
}

.list .filter .select .dropdown-toggle::before {
  right: 6px;
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  font-size: 12px;
  content: "\f107";
  position: absolute;
}

.list .filter .select.open .dropdown-toggle::before {
  transform: rotate(180deg);
}

.list .filter .select .dropdown-toggle:hover {
  color: var(--text-light-gray);
}

.list .filter .select .dropdown-menu {
  display: none;
}

.list .filter .select .dropdown-menu.open {
  display: block;
  height: auto;
  max-height: 200px;
  position: static;
  overflow: auto;
  background-color: transparent;
  box-shadow: none;
  flex-flow: wrap;
}

.list .filter .select .dropdown-menu p {
  height: 41px;
  line-height: 41px;
  margin: 0;
  padding: 0 12px;
  cursor: pointer;
}

/* pagination */
.list nav {
  flex: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list ol.pages {
  padding: 0;
}

.list ol.pages li.current {
  color: unset;
}

.list ol.pages li {
  display: inline-block;
  list-style-type: none;
  width: 55px;
  height: 55px;
  border: 1px solid var(--text-light-gray);
  color: var(--text-light-gray);
  font-weight: bold;
  line-height: 53px;
  text-align: center;
  font-size: var(--list-heading-font-size-l);
  padding: 0;
  margin: 4px;
}

.list ol.pages li + li, .list ol.pages li:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .list .items .image {
    padding-left: 15px;
  }

  .list .items .content {
    margin-top: 15px;
  }
}

@media (min-width: 769px) {
  .list {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
  }

  .list .item {
    display: flex;
    flex-direction: row; 
    padding: 37px 0 20px;
  }

  .list .item .image {
    flex: 33.33%;
    margin-bottom: 20px;
  }

  .list .item .content {
    flex: 66.67%;
    margin-bottom: 20px;
  }

  .list .filter {
    width: 100%;
  }

  .list .filter .select {
    width: 259px;
  }
}

@media (min-width: 992px) {
  .list .filter {
    width: 25%;
    padding-right: 15px;
  }

  .list .items {
    width: 75%;
  }

  .list .item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .list .item:first-of-type {
    padding-top: 20px;
  }

  .list .item image {
    width: 33.33%;
  }

  .list .item .content {
    width: 66.67%;
    padding-left: 15px;
  }
}