/* page layout */
:root {
  --body-font-size: 16px;
  --heading-1: 48px;
  --heading-2: 40px;
  --heading-3: 36px;
  --heading-4: 24px;
  --heading-5: 20px;
  --heading-6: var(--body-font-size);
}

@media only screen and (min-width: 768px) {
  :root {
    --body-font-size: 18px;
    --heading-1: 70px;
    --heading-2: 54px;
    --heading-3: 48px;
    --heading-4: 36px;
    --heading-5: 24px;
  }
}

/* base */
body,
a.button:any-link,
button {
  font-size: var(--body-font-size);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

h5 {
  font-size: var(--heading-5);
}

h6 {
  font-size: var(--heading-6);
}

/* section tabs */
.section.tabs h4 {
  font-family: var(--ff-proxima-regular);
  color: var(--color-gray-700);
  margin-top: 0;
}

.section.tabs h2 + h4 {
  font-family: var(--ff-proxima-light);
  margin-bottom: 0;
  padding-bottom: 0;
}

.section.tabs h4:last-child {
  margin-bottom: 45px;
}
