/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@font-face {
  font-family: 'Proxima Nova Regular Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 79.64%;
  descent-override: 21.17%;
  line-gap-override: 0.00%;
  size-adjust: 99.19%;
}

@font-face {
  font-family: 'Proxima Nova ExtraBold Fallback';
  font-style: normal;
  font-weight: 800;
  src: local('Arial');
  ascent-override: 75.77%;
  descent-override: 20.14%;
  line-gap-override: 0.00%;
  size-adjust: 104.26%;
}

@font-face {
  font-family: 'Proxima Nova Light Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 80.85%;
  descent-override: 21.49%;
  line-gap-override: 0.00%;
  size-adjust: 97.72%;
}

:root {
  /* colors */
  --text-color: #34393d;
  --text-white: #fff;
  --heading-color: #00758d;
  --link-color: #337ab7;
  --link-hover-color: #0066a4;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --button-color: #fff;
  --button-hover-color: #0066a4;
  --button-bg-color: #008da9;
  --button-bg-hover-color: #fff;
  --button-secondary-color: #038296;
  --button-secondary-border-color: #4c9eaf;
  --button-secondary-hover-color: #0066a4;
  --button-secondary-bg-color: #038296;
  --button-secondary-bg-hover-color: #fff;

  --gray-background-color: #f0f1f2;
  --dark-gray-background-color: #5b6670;
  --text-green: #6eb43f;
  --border-color-gray: #ababab;

  /* fonts */
  --ff-proxima-regular: 'Proxima Nova Regular', 'Proxima Nova Regular Fallback', 'helvetica neue', helvetica, arial, sans-serif;
  --ff-proxima-xbold: 'Proxima Nova ExtraBold', 'Proxima Nova ExtraBold Fallback', 'helvetica neue', helvetica, arial, sans-serif;
  --ff-proxima-light: 'Proxima Nova Light', 'Proxima Nova Light Fallback', 'helvetica neue', helvetica, arial, sans-serif;
  --fixed-font-family: menlo, monaco, consolas, "courier new", monospace;

  /* font size */
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;
  --body-font-size-xl: 26px;
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* nav height */
  --nav-height: 64px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--ff-proxima-regular);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  color: inherit;
  font-family: var(--heading-font-family);
  line-height: 1;
  font-weight: 100;
  margin-top: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

strong {
  font-family: var(--ff-proxima-xbold);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--ff-proxima-regular);
  font-weight: 400;
  font-size: var(--body-font-size-m);
  color: var(--link-color);
  line-height: 18px;
  display: inline-block;
  border: 0;
  border-radius: 0;
  transition: all .2s;
  min-width: 140px;
  position: relative;
  height: auto;
  padding: 15px 18px 16px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  cursor: pointer;
  color: var(--link-hover-color);
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.primary, button.primary {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border: 0;
}

a.button.primary:hover, a.button.primary:focus,
button.primary:hover, button.primary:focus {
  color: var(--button-hover-color);
  background-color: var(--button-bg-hover-color);
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
}

a.button.primary:hover .button-border {
  display: block;
  width: 50%;
  margin-bottom: 0;
  position: absolute;
  margin-left: 0;
  height: 4px;
  background: var(--button-hover-color);
  left: 25%;
  bottom: -5px
}

a.button.secondary, button.secondary {
  font-style: normal;
  border: 2px solid var(--button-secondary-border-color);
  color: var(--button-secondary-color);
}

a.button.secondary:hover,a.button.secondary:focus,
button.secondary:hover, button.secondary:focus {
  color: var(--button-secondary-hover-color);
  background-color: var(--button-secondary-bg-hover-color);
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img, main video {
  max-width: 100%;
  width: auto;
  height: auto;
}

main .section>div {
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 390px) {
  :root {
    --heading-font-size-xxl: 30px;
    --heading-font-size-xl: 30px;
  }
}

@media only screen and (max-width: 767px) {
  :root {
    --heading-font-size-xxl: 54px;
    --heading-font-size-xl: 54px;
    --body-font-size-m: 14px;
  }

  a.button:any-link, button {
    font-size: var(--body-font-size-xs);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --heading-font-size-xxl: 70px;
    --heading-font-size-xl: 70px;
  }

  main .section>div {
    width: 750px
  }
}

@media (min-width: 992px) {
  main .section>div {
    width: 970px
  }
}

@media (min-width: 1200px) {
  main .section>div {
    width: 1170px
  }
}

/* template & theme styles */
.homepage h1,
.homepage h2 {
  color: var(--heading-color);
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

.background-grey {
  background-color: var(--gray-background-color);
}