main .card {
  height: 100%;
  background: #fff;
  margin: 0;
  position: relative;
  box-shadow: 0 1px 15px rgba(0 0 0 / 40%);
  transition: all .3s;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

main .card:hover {
  z-index: 1;
  transform: scale(1.07);
  transition: all .3s;
}

main .card-thumb {
  height: 200px;
  min-height: 200px;
  overflow: hidden;
}

main .card-thumb a {
  display: block;
}

main .card-thumb img {
  height: 200px;
  width: 100%;
  min-width: auto;
  object-fit: cover;
  transition: all .5s ease-in-out;
}

main .card-caption {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  color: #12141f;
  height: 100%;
  min-height: auto;
}

main .card-caption h3 {
  font-size: 20px;
  line-height: 24.1px;
  font-weight: normal;
  text-align: left;
  min-height: 49px;
  margin-top: 14px;
  margin-bottom: 15px;
}

main .card-caption h3 a {
  color: inherit;
}

main .card-caption .card-description {
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}

main .card-caption .button-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
}

main .card-caption .button.primary {
  border: 1px solid #6eb43f;
  color: #000;
  padding-bottom: 10px;
  padding-top: 11px;
  background: none;
  border-radius: 0;
  font-size: 18px;
  max-width: unset;
  width: unset;
  white-space: break-spaces;
  word-break: break-word;
}

main .card-type {
  display: none;
}
