main .card {
  height: 100%;
  background: var(--background-color);
  margin: 0;
  position: relative;
  box-shadow: 0 1px 10px rgba(0 0 0 / 20%);
  transition: all 0.3s;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

main .carousel .card {
  margin: 0;
}

main .card:hover {
  z-index: 1;
  transform: scale(1.07);
  transition: all 0.3s;
}

main .card-thumb {
  height: 200px;
  min-height: 200px;
  overflow: hidden;
}

main .card-thumb a {
  display: block;
}

main .card-thumb img {
  height: 200px;
  width: 100%;
  min-width: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

main .card .card-category {
  background: var(--background-color-green);
  color: #fff;
  font-family: var(--ff-proxima-light);
  text-transform: uppercase;
  line-height: 1;
  font-weight: 100;
  padding: 10px 15px;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

main .card-caption {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  color: #12141f;
  height: 100%;
  min-height: auto;
}

main .card-caption h3 {
  font-size: 22px;
  font-weight: normal;
  text-align: left;
  min-height: 49px;
  margin-top: 14px;
  margin-bottom: 15px;
}

main .card-caption h3 a {
  color: inherit;
}

main .card-caption .card-description {
  font-size: var(--body-font-size-s);
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}

main .card-caption .c2a {
  text-align: center;
  margin-top: auto;
}

main .card-caption .button.primary {
  border: 1px solid var(--background-color-green);
  color: var(--text-color);
  padding-bottom: 10px;
  padding-top: 11px;
  background: none;
  border-radius: 0;
  font-size: 18px;
  max-width: unset;
  width: unset;
  white-space: break-spaces;
  word-break: break-word;
}

main .card-caption .c2a .compare-button {
  color: var(--text-light-gray);
  letter-spacing: 0.5px;
  align-items: center;
  float: right;
  display: none;
}

.product-finder .card-caption .c2a .compare-button,
.product-compare main .card-caption .c2a .compare-button {
  display: flex;
}

main .card-caption .c2a .compare-checkbox {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  vertical-align: middle;
  border: 2px solid var(--dark-border-color-gray);
  cursor: pointer;
}

main .card-caption .c2a .compare-checkbox.selected {
  background: var(--background-color-green);
  border-color: var(--background-color-green);
}

main .card-type {
  display: none;
}

main .card-date {
  font-size: var(--body-font-size-xs);
  font-family: var(--ff-proxima-light);
  font-weight: 600;
  font-style: normal;
  display: block;
  width: 100%;
  text-align: left;
}

main .card a .icon.icon-chevron-right-outline {
  margin-left: 5px;
  vertical-align: text-top;
}

main .card a .icon.icon-chevron-right-outline svg {
  height: 18px;
  width: 18px;
}

main .card a .icon.icon-chevron-right-outline svg path {
  stroke-width: 15;
}

@media only screen and (max-width: 767px) {
  main .card-thumb {
    height: 150px;
    min-height: 150px;
  }

  main .card-thumb img {
    height: 150px;
  }

  main .card .card-category {
    font-size: 14px;
  }
}
