.image-gallery .icon {
  cursor: pointer;
}

.image-gallery.overlay .icon svg {
  width: 44px;
  height: auto;
}

.image-gallery.overlay .gallery-button-left.icon svg  {
  transform: rotate(180deg);
}

.image-gallery.overlay .icon svg path {
  fill: white;
}

.image-gallery.overlay .icon.gallery-button-close svg path {
  fill: none;
  color: white;
}

.image-gallery.block.overlay {
  background-color: black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
}

.gallery-button-close {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gallery-button-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
}

.gallery-button-right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: center;
}

.gallery {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
}

.image-gallery.overlay > div > div {
  display: grid;
}

.image-gallery.overlay > div > div > p:first-child {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.image-gallery.overlay > div > div > p:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
}

.image-gallery.overlay img {
  max-height: 640px;
  max-width: 100%;
}

.image-gallery.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 100%);
  z-index: 1000;
}

.image-gallery > div {
  display: none;
}

.image-gallery > div:nth-child(-n+5) {
  display: block;
}

.image-gallery picture {
  display: none;
}

.image-gallery picture:nth-child(1) {
  display: block;
}

.image-gallery.preview {
  display: grid;
  grid-gap: 10px;
}

.image-gallery.preview > div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1;
}

.image-gallery.preview > div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1;
}

.image-gallery.preview > div:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2;
}

.image-gallery.preview > div:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2;
}

.image-gallery.preview > div:nth-child(5) {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}