/* stylelint-disable no-descending-specificity */
.image-gallery-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 100%);
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.image-gallery-lightbox-overlay > div {
  padding: 30px 15px;
  margin: 0 auto;
  position: relative;
}

main .section > div.image-gallery-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-gallery-lightbox-overlay[aria-hidden="true"] {
  display: none;
}

.image-gallery-lightbox-overlay .image-gallery {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  position: relative;
}

.image-gallery-lightbox-overlay .image-gallery > div {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  align-items: flex-end;
}

.image-gallery-lightbox-overlay .icon {
  cursor: pointer;
}

.gallery-button-left.icon svg {
  transform: rotate(180deg);
}

.image-gallery-lightbox-overlay .icon svg {
  width: 44px;
  height: auto;
}

.image-gallery-lightbox-overlay .icon svg path {
  fill: white;
}

.image-gallery-lightbox-overlay .icon.gallery-button-close svg path {
  fill: none;
  color: white;
}

.gallery-button-left,
.gallery-button-right {
  position: absolute;
  top: 50%;
}

.gallery-button-left {
  left: 0;
}

.gallery-button-right {
  right: 0;
}

.gallery-button-close {
  position: absolute;
  top: 30px;
  right: 0;
}

.section .image-gallery > div {
  --scale-small: 1.08;
  --scale-big: 1.04;

  cursor: pointer;
  transition: all 0.3s;
  aspect-ratio: 1/1;
}

.image-gallery-lightbox-overlay .image-gallery > div > div {
  display: grid;
}

.image-gallery-lightbox-overlay .image-gallery picture {
  text-align: center;
  display: block;
}

.image-gallery-lightbox-overlay img {
  max-height: 640px;
  max-width: 100%;
  width: auto;
  height: auto;
}

.section .image-gallery > div div,
.section .image-gallery > div picture,
.section .image-gallery > div p {
  height: 100%;
}

.section .image-gallery > div:hover {
  transform: scale(var(--scale-small));
}

.section .image-gallery > div:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1;
}

.section .image-gallery > div:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 2;
}

.section .image-gallery > div:nth-of-type(3) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.section .image-gallery > div:nth-of-type(4) {
  grid-column: 4 / 5;
  grid-row: 1;
}

.section .image-gallery > div:nth-of-type(5) {
  grid-column: 4 / 5;
  grid-row: 2;
}

.section .image-gallery > div:nth-of-type(-n + 5) {
  display: block;
}

.section .image-gallery.showcase-right > div:nth-of-type(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.section .image-gallery.showcase-right > div:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.section .image-gallery.showcase-right > div:nth-of-type(5) {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.section .image-gallery > div:nth-of-type(3):hover {
  transform: scale(var(--scale-big));
}

.section .image-gallery.showcase-right > div:nth-of-type(3):hover {
  transform: scale(var(--scale-small));
}

.section .image-gallery.showcase-right > div:nth-of-type(5):hover {
  transform: scale(var(--scale-big));
}

.section .image-gallery picture:nth-child(1) {
  display: block;
}

.image-gallery-lightbox-overlay .image-gallery > div > div > p:first-child {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.image-gallery-lightbox-overlay .image-gallery > div > div > p:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
  margin-bottom: 20px;
}

.section .image-gallery {
  display: grid;
  grid-gap: 20px;
}

.image-gallery-wrapper + .default-content-wrapper h6:last-child {
  font-style: italic;
  margin-top: 50px;
}

/* SINGLE IMAGE */
.section .image-gallery.single-image > div {
  transform: scale(0.97);
  aspect-ratio: auto;
}

.section .image-gallery.single-image,
.section .image-gallery.single-image > div img,
.image-gallery.single-image.block img  {
  display: block;
}

.section .image-gallery.single-image > div:hover {
  transform: scale(1);
}

.image-gallery.single-image.block {
  overflow-x: auto;
}

.image-gallery-lightbox-overlay .image-gallery.single-image img {
  padding-top: 50px;
  margin: auto;
}

.image-gallery-lightbox-overlay .icon:not(.gallery-button-close) {
  display: none;
}

@media (max-width: 767px) {
  .section .image-gallery > div:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .section .image-gallery > div:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .section .image-gallery > div:nth-of-type(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .section .image-gallery > div:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .section .image-gallery > div:nth-of-type(5) {
    grid-column: 2 / 3;
    grid-row: 3;
  }
}

@media only screen and (min-width: 768px) {
  .image-gallery-lightbox-overlay > div {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .image-gallery-lightbox-overlay > div {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .image-gallery-lightbox-overlay > div {
    width: 1170px;
  }
}
