main .citation-list-container {
  padding-top: 150px;
}

main .citation-list-container .default-content-wrapper {
  padding-bottom: 45px;
}

main .citation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

main .citation-list .carousel-item {
  width: 32%;
  padding: 20px 15px 40px;
}

main .citation-list .carousel-item.clone {
  display: none;
}

.citation-list .card-data h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--ff-proxima-xbold);
  font-size: 70px;
}

.citation-list .card-body p {
  color: #34393d;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-flow: column wrap;
  position: absolute;
  bottom: 10px;
  text-align: left;
}

main .citation-list-container .default-content-wrapper h2 {
  margin-bottom: 0;
}

main .citation-list-container .default-content-wrapper p {
  text-align: left;
}

.citation-list .topics-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.citation-list .card {
  background: #fff;
  margin: 0;
  position: relative;
  box-shadow: 0 1px 10px rgba(0 0 0 / 20%);
  transition: all .3s;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  flex-flow: row wrap;
}

.citation-list .card-title {
  padding: 20px;
  text-align: left;
  color: #34393d;
  font-size: 24px;
  line-height: 28px;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.citation-list .card-body {
  padding: 0 5px 0 80px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-flow: column-reverse wrap;
  width: 100%;
  border: 0;
  margin-top: 20px;
}

.citation-list .card-data {
  color: var(--link-hover-color);
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: left;
}

.citation-list .card-data img {
  position: absolute;
  left: -65px;
  top: 0;
}

.citation-list .card-data h3 {
  margin-top: 0;
  font-family: var(--ff-proxima-xbold);
  font-size: 18px;
  letter-spacing: 1px;
}

.citation-list .card-data-label {
  margin-bottom: 35px;
}

.citation-list .card-body p a {
  font-size: 18px;
}

.citation-list .card-body i {
  margin-left: 5px;
  font-size: 17px;
  color: var(--dark-border-color-gray);
}

@media (min-width: 991px) and (max-width: 1199px) {
  .citation-list .card-data h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 992px) {
  main .citation-list .carousel-item {
    width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .citation-list .card-data h2 {
    font-size: 35px;
  }

  .citation-list .card-body p a {
    width: 100px;
  }
}

@media (max-width: 767px) {
  main .citation-list {
    justify-content: start;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 10%;
  }

  main .citation-list .carousel-item {
    flex: 1 0 100%;
    width: 100%;
    padding: 20px 15px 40px;
  }

  main .citation-list .carousel-item.clone {
    display: block;
  }

  .citation-list .topics-list-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .citation-list .card-body {
    margin-top: 0;
  }

  .citation-list .card-data img {
    left: -38px;
    height: 30px;
    width: 30px;
  }

  .citation-list .card-data h2 {
    font-size: 36px;
  }

  .citation-list .card-body p a {
    font-size: 14px;
  }
}