.section div.social-media-buttons-wrapper {
  margin-bottom: 50px;
  padding: 0;
}

.social-media-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  margin-left: -15px;
  margin-right: -15px;
}

.social-media-buttons > div {
  padding-right: 15px;
  padding-left: 15px;
}

.social-media-buttons .button-container a,
.social-media-buttons .button-container span,
.social-media-buttons .button-container img {
  display: block;
}
